#footer{width: 100%;overflow: hidden;position: relative;display: table-footer-group;background: #e6e7e9;font-family: "Segoe UI", "Helvetica Neue", Helvetica, sans-serif}#footer .f-holder{width: 100%;display: table-row}#footer .f-frame{display: table-cell}.footer-nav{background: #fff;padding: 48px 0 12px;position: relative;font-size: 11px;line-height: 13px}.footer-nav .f-note{color: #585858;width: 800px}.btn-top{position: absolute;top: 36px;right: 24px;font-size: 18px;line-height: 60px;color: #585858;width: 60px;height: 60px;z-index: 5;text-align: center;background: #fff}.btn-top:hover{text-decoration: none;color: #0072bc}.footer-nav-box{overflow: hidden;padding: 0 0 36px;font-size: 13px;line-height: 16px;width: 100%}.footer-nav-box .col{float: left;width: 310px;padding: 0 12px 0 0}.footer-nav-box h3{font-size: 21px;line-height: 24px;color: #0072bc;margin: 0}.footer-nav-box p{margin: 0 0 36px}.footer-nav-list{margin: 0;padding: 0;list-style: none}.footer-nav-list li{padding: 0 0 12px}.footer-panel{background: #0072bc;padding: 24px 0;color: #fff}.footer-panel a{color: #fff}.logo-box{padding: 0 48px 0 0;font-size: 25px;line-height: 25px;display: inline-block;vertical-align: middle}.logo-frame-center{vertical-align: middle}.copyright{font-size: 12px;line-height: 15px;width: 300px;margin: 0;display: inline-block;vertical-align: middle}.copyright a{color: #e9eff7}.social{float: right;margin: 0;list-style: none;margin-top: -30px;font-size: 25px;line-height: 25px}.social li{float: left}.social li + li{padding: 0 0 0 24px}.social a{opacity: .5}.social a:hover{text-decoration: none;opacity: 1}.footer-area{padding: 24px 0 48px}.condition-list{font-size: 12px;line-height: 12px;margin: 0;padding: 0 0 36px;list-style: none;overflow: hidden}.condition-list li{float: left;padding: 0 6px 0 0}.condition-list li + li{padding-left: 6px;border-left: 1px solid #606061}.condition-list a{color: #000}.count-visitor{font-size: 12px;line-height: 15px;margin: 0 0 36px;overflow: hidden}.count-visitor .c-holder{float: left}.count-visitor img{float: left}@media only screen and (max-width: 1219px){.btn-top{top: -84px;right: 24px}.footer-nav-box .col{width: 302px}}@media only screen and (max-width: 997px){.btn-top{display: none}.footer-nav-box .col{width: 250px;padding: 0 3px 0 0}.footer-nav-box .col + .col + .col{width: 210px}.footer-nav .f-note{width: 100%}.logo-box{padding: 0 12px 0 0}.social li + li{padding: 0 0 0 12px}}@media only screen and (max-width: 767px){.footer-nav-box .col{width: 210px}.social{padding-right: 12px}.social li + li{padding: 0 0 0 9px}.copyright{width: 260px}}@media screen and (max-width: 699px){.footer-nav-box .col{float: none;padding: 0;width: auto}.footer-nav-box .f-box{width: 48%;float: left;margin: 0 2% 0 0}.footer-nav-box .f-box p{margin: 0}.footer-nav-box .col + .col + .col{width: auto;padding: 0 24px 0 24px}.footer-nav-list{padding: 0 24px 24px 72px}.footer-nav .f-note{display: none}.copyright{width: auto;overflow: visible;white-space: normal;display: block;margin-top: 12px}.social{overflow: hidden;text-align: center;float: none;padding: 0;margin: 12px 0 0}.social li{float: none;display: inline-block;padding: 0 12px}.social li + li{padding: 0 6px}.condition-list{text-align: center;padding: 0 0 24px}.condition-list li{float: none;padding: 0 0 6px}.condition-list li + li{border: none;padding-left: 0;padding-right: 0}.count-visitor{text-align: center}.count-visitor .c-holder{display: inline-block;overflow: hidden;float: none}.footer-nav-box{width: 100%}.logo-box{font-size: 45px;line-height: 45px;padding: 0 12px 0 0}.logo-frame-center{overflow: hidden;margin: 0 auto;float: none;position: relative;text-align: center;white-space: nowrap}#footer .f-frame,#footer .f-holder,#footer{display: block}#footer{font-family: "Segoe UI", "Helvetica Neue", Helvetica, sans-serif}}@media only screen and (max-width: 399px){.logo-frame-center{margin: 0;width: auto}.logo-box{font-size: 25px;line-height: 25px}}

@font-face {
    font-family: 'SamsungSharpSans';
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/SamsungSharpSans-Bold.woff');
    src: url('../fonts/SamsungSharpSans-Bold.eot') format('embedded-opentype'),
    url('../fonts/SamsungSharpSans-Bold.woff') format('woff'), url('../fonts/SamsungSharpSans-Bold.svg') format('svg');
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul[class] {
    list-style: none;
}
a[class] {
    text-decoration: none;
}
img {
    height: auto;
}
.container {
    width: 1198px;
    margin: 0 auto;
    display: block;
}
body {
    font-family: 'SamsungSharpSans', serif;
    overflow-x: hidden;
}
section {
    width: 100vw;
    overflow-x: hidden;
}
/* title */
.title-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 45px;
}
.title {
    font-size: 40px;
}
.title-line {
    width: 100%;
    height: 1px;
    background-color: #000;
    flex: 1;
}
.title-link {
    color: #000;
    font-size: 12px;
    padding: 10px 25px;
    border: 1px solid #000;
    border-radius: 20px;
    transition: 0.3s;
}
.title-link.mobile {
    display: none;
}
.title-link:hover {
    background-color: #000;
    color: #fff;
}
/* Header */
.header {
    margin: 50px 0;
}
.header .container {
    display: flex;
    align-items: center;
}
.header__menu {
    display: flex;
    align-items: center;
    gap: 40px;
}
.header__logo-link {
    margin-right: 40px;
}
.header__logo {
    width: 105px;
}
.header__logo-link-samsung {
    margin-left: auto;
}
.header__samsung-logo {
    width: 188px;
}
.header__menu-item-link {
    position: relative;
    font-size: 20px;
    color: #000;
}
.header__menu-item-link:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: 0.3s;
}
.header__menu-item-link:hover:after {
    width: 100%;
}
/* Top slider */
.top-slider-section {
    margin-bottom: 70px;
}
.top-slider {
    width: 100%;
    overflow-x: hidden;
    position: relative;
}
.top-slider__item-image {
    width: 100%;
}
.top-slider__item {
    position: relative;
}
.top-slider__item-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
}
.top-slider__buttons {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    height: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    padding: 0 20px;
}
.top-slider-btn {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
    transition: 0.3s;
}
.top-slider-btn__icon {
    fill: #000;
    transition: 0.3s;
}
.top-slider-btn:hover {
    background-color: #000;
}
.top-slider-btn:hover .top-slider-btn__icon {
    fill: #fff;
}
.top-slider__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.top-slider__pagination .swiper-pagination-bullet {
    width: 100px;
    height: 2px;
    background-color: #C4C4C4;
    border-radius: 2px;
    opacity: 1;
    transition: 0.3s;
}
.top-slider__pagination .swiper-pagination-bullet-active {
    background-color: #000;
}
/* Menu */
.menu {
    margin-bottom: 90px;
}
.menu-list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}
.menu-list__item {
    display: flex;
}
.menu-list__item-link {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 0;
    text-align: center;
    background-color: #F4F4F4;
    transition: 0.3s;
    color: #000;
}
.menu-list__item-icon {
    stroke: #000;
    margin-bottom: 30px;
    transition: 0.3s;
}
.menu-list__item-icon.samsung {
    stroke: none;
    fill: #000;
    margin-bottom: 45px;
}
.menu-list__item-link:hover {
    background-color: #000;
    color: #fff;
}
.menu-list__item-link:hover .menu-list__item-icon {
    stroke: #fff;
}
.menu-list__item-link:hover .menu-list__item-icon.samsung {
    stroke: none;
    fill: #fff;
}
/* Banners */
.banners {
    margin-bottom: 90px;
}
.banners .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}
.banners__item {
    width: 100%;
}
.banners__item-image {
    width: 100%;
}
/* News */
.news {
    margin-bottom: 140px;
}
.news-grid {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 40px;
}
.loading {
    position: relative;
}
.loading:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
    background-color: #d2d2d2;
}
.news-grid__item-link {
    position: relative;
    padding-bottom: 20px;
    color: #000;
    font-size: 16px;
    display: inline-block;
}
.news-grid__item-link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: 0.3s;
}
.news-grid__item-link:hover:after {
    width: 100%;
}
.news-grid__item-image-wrapper {
    width: 100%;
    height: 200px;
    position: relative;
    margin-bottom: 20px;
}
.news-grid__item-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
.news-grid__item:nth-child(3n+2) .news-grid__item-image-wrapper {
    height: 435px;
}
.news-grid__item:nth-child(3n+2) .news-grid__item-link {
    font-size: 24px;
}
/* Reviews */
.reviews {
    margin-bottom: 140px;
}
.reviews-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 40px;
}
.reviews-grid__item-link {
    position: relative;
    padding-bottom: 20px;
    color: #000;
    font-size: 16px;
    display: inline-block;
}
.reviews-grid__item-link:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: 0.3s;
}
.reviews-grid__item-link:hover:after {
    width: 100%;
}
.reviews-grid__item-image-wrapper {
    width: 100%;
    height: 200px;
    position: relative;
    margin-bottom: 20px;
}
.reviews-grid__item-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
/* Articles */
.articles {
    margin-bottom: 140px;
}
.articles-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 40px;
}
.articles-grid__item {
    display: flex;
    align-items: flex-start;
}
.articles-grid__item-title {
    position: relative;
    color: #000;
    font-size: 16px;
    margin-right: 40px;
    padding-bottom: 20px;
}
.articles-grid__item-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: 0.3s;
}
.articles-grid__item:hover .articles-grid__item-title:after {
    width: 100%;
}
.articles-grid__item-image-wrapper {
    min-width: 270px;
    width: 270px;
    height: 200px;
    position: relative;
    margin-bottom: 20px;
}
.articles-grid__item-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
}
/* Models */
.models {
    margin-bottom: 140px;
}
.models-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 270px);
    grid-gap: 40px;
}
.models-grid__item {
    width: 100%;
    padding: 20px;
    background-color: #F4F4F4;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.models-grid__item-image-wrapper {
    position: relative;
    height: 100%;
    width: 100%;
    flex: 1;
    margin-bottom: 10px;
}
.models-grid__item-image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    object-fit: contain;
}
.models-grid__item-title {
    font-size: 16px;
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
}
.models-grid__item-link {
    font-size: 12px;
    color: #000;
    padding: 10px 25px;
    border: 1px solid #000;
    border-radius: 20px;
    transition: 0.3s;
}
.models-grid__item-link:hover {
    background-color: #000;
    color: #fff;
}
.models-grid__item:nth-child(1) {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 40px 40px 20px 40px;
}
.models-grid__item:nth-child(1) .models-grid__item-image-wrapper {
    margin-bottom: 40px;
}
.models-grid__item:nth-child(1) .models-grid__item-title {
    font-size: 24px;
}
/* Photos */
.photos {
    margin-bottom: 140px;
}
.photos-buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}
.photos-button {
    width: 36px;
    height: 36px;
    border: 1px solid #000;
    border-radius: 50%;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.photos-button__icon {
    fill: #000;
    transition: 0.3s;
}
.photos-button:hover {
    background-color: #000;
}
.photos-button:hover .photos-button__icon {
    fill: #fff;
}
.photos-slider {
    width: 100%;
    overflow-x: hidden;
}
.photos-slider__item {
    opacity: 0.2;
    transition: 0.3s;
}
.photos-slider .photos-slider__item {
    height: 580px !important;
}
.photos-slider__item.swiper-slide-active {
    opacity: 1;
}
.photos-slider__item-image {
    width: auto;
    height: 100%;
}
.photos-slider-mini {
    margin-top: 20px;
    overflow-x: hidden;
    overflow-y: visible;
    height: 115px;
    position: relative;
}
.photos-slider-counter {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 80px;
    text-align: center;
    font-size: 12px;
    transition: 0.3s;
}
.photos-slider-mini .photos-slider__item {
    opacity: 1;
    position: relative;
}
.photos-slider-mini .photos-slider__item:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: 0.3s;
}
.photos-slider-mini .photos-slider__item.swiper-slide-thumb-active:after {
    width: 100%;
}
.photos-slider-mini .photos-slider__item {
    position: relative;
    width: 80px;
    height: 80px;
    cursor: pointer;
}
.photos-slider-mini .photos-slider__item-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Video */
.video-section {
    margin-bottom: 140px;
}
.video-section .container {
    position: relative;
}
.video-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    z-index: 3;
    width: 100px;
    height: 100px;
    stroke: #000;
    fill: #fff;
    border-radius: 50%;
}
.video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.video-play:hover {
    fill: #000;
    stroke: #fff;
}
.video-play:hover circle {
    stroke: #000;
}
.video {
    width: 100%;
}
/* Text */
.text-section {
    margin-bottom: 140px;
}
.text {
    font-size: 40px;
    text-align: center;
}
/* Posts */
.posts {
    margin-bottom: 140px;
}
.posts .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 450px);
}
.posts-image-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
}
.posts-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.posts-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    background-color: #F4F4F4;
    color: #000;
}
.posts-info__title {
    font-size: 24px;
    margin-bottom: 20px;
}
.posts-info__description {
    font-size: 16px;
    font-family: "Segoe UI", serif;
}
/* Image */
.image-section {
    margin-bottom: 140px;
}
.image-section .container {
    position: relative;
}
.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 60px;
}
.image {
    width: 100%;
}
/* Videos */
.videos {
    margin-bottom: 140px;
}
.videos .container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 207px);
    grid-gap: 20px 40px;
}
.videos__item {
    position: relative;
}
.videos__item:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
    z-index: 1;
    transition: 0.3s;
}
.videos__item:hover:after {
    opacity: 0;
}
.videos__item.active:after {
    content: none;
}
.videos__item-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    transform: translate(-50%, -50%);
    z-index: 9;
    cursor: pointer;
    transition: 0.3s;
    stroke: #000;
    fill: #fff;
    background-color: #fff;
    border-radius: 50%;
}
.videos__item-icon:hover {
    background-color: #000;
    stroke: #fff;
}
.videos__item-icon:hover circle {
    stroke: #000;
}
.videos__item:first-child {
    grid-row-start: 1;
    grid-row-end: 3;
}
.videos__item-video {
    width: 100%;
    height: 100%;
}

/* media */
@media screen and (max-width: 1219px) {
    .container {
        width: 987px;
    }
    .header {
        margin: 40px 0;
    }
    .header__logo-link {
        margin-right: 30px;
    }
    .header__logo {
        width: 88px;
    }
    .header__menu {
        gap: 30px;
    }
    .header__menu-item-link {
        font-size: 18px;
    }
    .header__samsung-logo {
        width: 158px;
    }
    .top-slider-section {
        margin-bottom: 60px;
    }

    .menu,
    .banners {
        margin-bottom: 80px;
    }

    .menu-list {
        grid-gap: 3px;
    }
    .menu-list__item-link {
        font-size: 14px;
    }
    .menu-list__item-icon.samsung {
        margin-bottom: 35px;
    }
    .menu-list__item-icon {
        transform: scale(0.8);
        margin-bottom: 20px;
    }
    .banners .container {
        grid-gap: 35px;
    }
    .title-row {
        margin-bottom: 40px;
    }
    .news-grid__item-image-wrapper {
        margin-bottom: 15px;
    }
    .news-grid__item-link {
        font-size: 14px;
    }

    .news,
    .reviews,
    .articles,
    .models,
    .photos,
    .video-section,
    .text-section,
    .posts,
    .image-section,
    .videos {
        margin-bottom: 120px;
    }

    .reviews-grid__item-link {
        font-size: 16px;
    }
    .reviews-grid__item-image-wrapper {
        margin-bottom: 15px;
    }
    .articles-grid__item-image-wrapper {
        min-width: 220px;
        width: 220px;
        height: 165px;
    }
    .models-grid__item:nth-child(1) .models-grid__item-image-wrapper {
        margin-bottom: 15px;
    }
    .models-grid {
        grid-template-rows: repeat(2, 237px);
    }
    .models-grid__item:nth-child(1) {
        padding: 30px 30px 20px 30px;
    }
    .photos-slider {
        transform: scale(0.65);
        width: 154%;
        margin-left: -27%;
        margin-top: -110px;
        margin-bottom: -100px;
    }
    .photos-slider-mini .photos-slider__item {
        height: 65px;
    }
    .photos-slider-mini {
        height: 95px;
    }
    .photos-slider-counter {
        width: 65px;
    }
    .posts .container {
        grid-template-rows: repeat(2, 370px);
    }
    .videos .container {
        grid-template-rows: repeat(2, 167px);
    }
}
@media screen and (max-width: 997px) {
    .container {
        width: 748px;
    }
    .title {
        font-size: 30px;
    }
    .title-link {
        font-size: 10px;
    }
    .header {
        margin: 30px 0;
    }
    .header__logo-link {
        margin-right: 25px;
    }
    .header__logo {
        width: 70px;
    }
    .header__menu {
        gap: 25px;
    }
    .header__menu-item-link {
        font-size: 14px;
    }
    .header__samsung-logo {
        width: 125px;
    }
    .top-slider-section {
        margin-bottom: 40px;
    }

    .menu,
    .banners {
        margin-bottom: 60px;
    }

    .menu-list {
        grid-gap: 3px;
    }
    .menu-list__item-link {
        font-size: 12px;
        padding: 10px 0;
    }
    .menu-list__item-icon.samsung {
        margin-bottom: 27px;
    }
    .menu-list__item-icon {
        transform: scale(0.61);
        margin-bottom: 12px;
    }
    .banners .container {
        grid-gap: 30px;
    }
    .title-row {
        margin-bottom: 30px;
    }
    .news-grid {
        grid-gap: 30px;
    }
    .news-grid__item-image-wrapper {
        margin-bottom: 10px;
        height: 124px;
    }
    .news-grid__item:nth-child(3n+2) .news-grid__item-image-wrapper {
        height: 269px;
    }
    .news-grid__item-link {
        font-size: 14px;
    }
    .news-grid__item:nth-child(3n+2) .news-grid__item-link {
        font-size: 20px;
    }

    .news,
    .reviews,
    .articles,
    .models,
    .photos,
    .video-section,
    .text-section,
    .posts,
    .image-section,
    .videos {
        margin-bottom: 100px;
    }

    .reviews-grid {
        grid-gap: 30px;
    }
    .reviews-grid__item-link {
        font-size: 14px;
    }
    .reviews-grid__item-image-wrapper {
        margin-bottom: 10px;
        height: 124px;
    }
    .articles-grid {
        grid-gap: 30px;
    }
    .articles-grid__item-image-wrapper {
        min-width: 164px;
        width: 164px;
        height: 124px;
        margin-bottom: 0;
    }
    .articles-grid__item-title {
        font-size: 14px;
        margin-right: 30px;
    }
    .models-grid {
        grid-gap: 30px;
        grid-template-rows: repeat(2, 230px);
    }
    .models-grid__item-title {
        font-size: 14px;
    }
    .models-grid__item:nth-child(1) .models-grid__item-image-wrapper {
        margin-bottom: 30px;
    }
    .models-grid__item:nth-child(1) {
        padding: 20px;
    }
    .models-grid__item:nth-child(1) .models-grid__item-title {
        font-size: 20px;
    }

    .photos-button {
        width: 32px;
        height: 32px;
    }
    .photos-slider {
        transform: scale(0.65);
        width: 154%;
        margin-left: -27%;
        margin-top: -110px;
        margin-bottom: -100px;
    }
    .photos-slider-mini .photos-slider__item {
        height: 70px;
    }
    .photos-slider-mini {
        height: 95px;
    }
    .photos-slider-counter {
        width: 65px;
    }
    .posts .container {
        grid-template-rows: repeat(2, 280px);
    }
    .videos .container {
        grid-template-rows: repeat(2, 123px);
    }
    .video-play {
        width: 80px;
    }
    .text {
        font-size: 30px;
    }
    .posts-info {
        padding: 30px;
    }
    .posts-info__title {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .posts-info__description {
        font-size: 14px;
    }
    .image-text {
        font-size: 40px;
    }
    .videos__item:nth-child(1) .videos__item-icon {
        width: 80px;
        height: 80px;
    }
    .videos__item-icon {
        width: 40px;
        height: 40px;
    }
}
@media screen and (max-width: 767px) {
    .container {
        width: 100%;
        padding: 0 45px;
    }
    .title {
        font-size: 26px;
    }
    .title-link {
        font-size: 10px;
    }
    .header {
        margin: 30px 0;
    }
    .header__logo-link {
        margin-right: 20px;
    }
    .header__logo {
        width: 70px;
    }
    .header__menu {
        gap: 25px;
    }
    .header__menu-item-link {
        font-size: 12px;
    }
    .header__samsung-logo {
        width: 125px;
    }
    .top-slider-section {
        margin-bottom: 35px;
    }

    .menu,
    .banners {
        margin-bottom: 50px;
    }

    .menu-list {
        grid-gap: 6px;
    }
    .menu-list__item-link {
        font-size: 10px;
        padding: 0 0 15px 0;
    }
    .menu-list__item-icon.samsung {
        margin-bottom: 20px;
        transform: scale(1);
        width: 80px;
    }
    .menu-list__item-icon {
        transform: scale(0.5);
        margin-bottom: 5px;
    }
    .banners .container {
        grid-gap: 30px;
    }
    .title-row {
        margin-bottom: 30px;
    }
    .news-grid {
        grid-gap: 25px;
    }
    .news-grid__item-image-wrapper {
        margin-bottom: 10px;
        height: 110px;
    }
    .news-grid__item:nth-child(3n+2) .news-grid__item-image-wrapper {
        height: 245px;
    }
    .news-grid__item-link {
        font-size: 12px;
    }
    .news-grid__item:nth-child(3n+2) .news-grid__item-link {
        font-size: 18px;
    }

    .news,
    .reviews,
    .articles,
    .models,
    .photos,
    .video-section,
    .text-section,
    .posts,
    .image-section,
    .videos {
        margin-bottom: 80px;
    }

    .reviews-grid {
        grid-gap: 25px;
    }
    .reviews-grid__item-link {
        font-size: 12px;
    }
    .reviews-grid__item-image-wrapper {
        margin-bottom: 10px;
        height: 110px;
    }
    .articles-grid {
        grid-gap: 25px;
    }
    .articles-grid__item-image-wrapper {
        min-width: 150px;
        width: 150px;
        height: 110px;
        margin-bottom: 0;
    }
    .articles-grid__item-title {
        font-size: 12px;
        margin-right: 25px;
    }
    .models-grid {
        grid-gap: 25px;
        grid-template-rows: repeat(2, 209px);
    }
    .models-grid__item-title {
        font-size: 12px;
    }
    .models-grid__item:nth-child(1) .models-grid__item-image-wrapper {
        margin-bottom: 20px;
    }
    .models-grid__item:nth-child(1) {
        padding: 15px;
    }
    .models-grid__item {
        padding: 15px;
    }
    .models-grid__item:nth-child(1) .models-grid__item-title {
        font-size: 16px;
    }
    .models-grid__item-link {
        font-size: 10px;
    }

    .photos-button {
        width: 26px;
        height: 26px;
    }
    .photos-slider {
        transform: scale(0.65);
        width: 154%;
        margin-left: -27%;
        margin-top: -110px;
        margin-bottom: -100px;
    }
    .photos-slider-mini .photos-slider__item {
        height: 67px;
    }
    .photos-slider-mini {
        height: 95px;
        overflow-x: hidden;
    }
    .photos-slider-mini .swiper-wrapper {
        overflow-x: hidden;
    }
    .photos-slider-counter {
        width: 67px;
        left: 45px;
    }
    .video-play {
        width: 70px;
    }
    .text {
        font-size: 26px;
    }
    .posts .container {
        grid-template-rows: repeat(2, 254px);
    }
    .posts-info {
        padding: 25px;
    }
    .posts-info__title {
        font-size: 18px;
        margin-bottom: 10px;
    }
    .posts-info__description {
        font-size: 14px;
    }
    .image-text {
        font-size: 40px;
    }
    .videos__item-icon {
        width: 40px;
        height: 40px;
    }
    .videos__item:nth-child(1) .videos__item-icon {
        width: 70px;
        height: 70px;
    }
    .videos .container {
        grid-template-rows: repeat(2, 103px);
    }
}
@media screen and (max-width: 699px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
    .top-slider__pagination {
        margin-top: 10px;
    }
    .header {
        margin: 25px 0;
    }
    .header__menu {
        display: none;
    }
    .top-slider__pagination .swiper-pagination-bullet {
        width: 60px;
    }
    .menu-list {
        grid-template-columns: repeat(3, 1fr);
    }
    .banners .container {
        grid-gap: 20px;
    }
    .news-grid,
    .reviews-grid {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
    }
    .news-grid__item-image-wrapper,
    .news-grid__item:nth-child(3n+2) .news-grid__item-image-wrapper,
    .reviews-grid__item-image-wrapper {
        height: 156px;
    }
    .news-grid__item:nth-child(3n+2) .news-grid__item-link {
        font-size: 12px;
    }
    .reviews-grid__item:last-child {
        display: none;
    }
    .models-grid {
        grid-template-rows: repeat(2, 172px);
    }
    .models-grid__item,
    .models-grid__item:nth-child(1) {
        padding: 10px;
        position: relative;
    }
    .models-grid__item-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 0;
        opacity: 0;
    }
    .photos-slider {
        transform: scale(0.5);
        width: 200%;
        margin-left: -50%;
        margin-top: -135px;
        margin-bottom: -120px;
    }
    .photos-slider-counter {
        width: 76px;
        left: 20px;
    }
    .photos-slider-mini {
        height: 105px;
    }
    .photos-slider-mini .photos-slider__item {
        height: 76px;
    }
    .text {
        font-size: 20px;
    }
    .posts-info__description {
        display: none;
    }
    .posts-info__title {
        font-size: 16px;
        margin-bottom: 0;
    }
    .posts .container {
        grid-template-rows: repeat(2, 245px);
    }
    .image-text {
        font-size: 30px;
    }
}
@media screen and (max-width: 419px) {
    .container {
        padding: 0 10px;
    }
    .top-slider-btn {
        transform: scale(0.8);
    }
    .top-slider__buttons {
        padding: 0 10px;
    }
    .top-slider__pagination .swiper-pagination-bullet {
        width: 40px;
    }
    .menu-list__item-link {
        font-size: 12px;
    }
    .menu,
    .banners {
        margin-bottom: 40px;
    }
    .news,
    .reviews,
    .articles,
    .models,
    .photos,
    .video-section,
    .text-section,
    .posts,
    .image-section,
    .videos {
        margin-bottom: 60px;
    }

    .banners .container,
    .reviews-grid {
        display: flex;
        width: 100%;
        overflow-x: auto;
        gap: 20px;
    }
    .banners__item {
        width: calc(50% - 10px);
    }
    .title-line,
    .title-link:not(.mobile) {
        display: none;
    }
    .title-link.mobile {
        display: block;
        margin-top: 20px;
    }
    .title-row {
        justify-content: center;
        margin-bottom: 20px;
    }
    .title {
        text-align: center;
    }
    .news-grid {
        display: flex;
        width: 100%;
        overflow-x: auto;
        gap: 20px;
    }
    .news-grid__item {
        min-width: 70%;
    }

    .news .container,
    .reviews .container,
    .articles .container,
    .models .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reviews-grid__item {
        min-width: 120px;
    }
    .reviews-grid__item-image-wrapper {
        height: 90px;
    }
    .reviews-grid__item-link {
        font-size: 11px;
    }

    .articles-grid {
        width: 100%;
        overflow-x: auto;
        grid-template-columns: repeat(2, 260px);
        grid-template-rows: repeat(2, 100px);
    }
    .articles-grid__item-image-wrapper {
        width: 120px;
        min-width: 120px;
        height: 90px;
    }

    .models-grid {
        grid-template-columns: 100px 100px 230px 230px;
        grid-template-rows: repeat(2, 130px);
        width: 100%;
        overflow-x: auto;
    }
    .models-grid__item:first-child {
        flex-direction: column;
    }
    .models-grid__item {
        flex-direction: row;
        padding: 5px;
    }
    .models-grid__item-image-wrapper {
        max-width: 105px;
        width: 105px;
        min-width: 105px;
        margin-bottom: 0;
        margin-right: 5px;
    }
    .models-grid__item:nth-child(1) .models-grid__item-image-wrapper {
        margin-right: 0;
        width: 100%;
        min-width: 100%;
        max-width: 100%;
    }
    .models-grid__item-title {
        margin: 0;
    }

    .photos-slider {
        width: 350%;
        margin-left: -125%;
        transform: scale(0.3);
        margin-top: -190px;
        margin-bottom: -160px;
    }
    .photos-slider-mini {
        display: none;
    }
    .video-play {
        width: 40px;
        height: 40px;
    }
    .text {
        font-size: 18px;
    }
    .posts .container {
        grid-template-rows: repeat(2, 113px);
    }
    .posts-info {
        padding: 10px;
    }
    .posts-info__title {
        font-size: 12px;
    }
    .image-text {
        font-size: 18px;
    }

    .videos .container {
        grid-template-rows: 118px;
        grid-template-columns: repeat(3, 210px);
        width: 100%;
        overflow-x: auto;
        grid-gap: 20px;
        height: 118px;
        overflow-y: hidden;
    }
    .videos__item:nth-child(1) .videos__item-icon {
        width: 40px;
        height: 40px;
    }
    .videos__item {
        height: 118px;
    }
}

#footer {
    display: block;
    background: none !important;
}
.footer-nav a {
    color: #0072bc;
    text-decoration: none;
}
.f-frame,
.f-holder {
    display: block !important;
}
.footer-nav,
.footer-panel,
.footer-area {
    position: relative;
}
.f-holder:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background-color: #fff;
    z-index: -1;
}
.footer-panel:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background-color: #0072bc;
    z-index: 1;
}
.footer-panel *,
.footer-area * {
    position: relative;
    z-index: 2;
}
.footer-area:after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    height: 100%;
    background-color: #e6e7e9;
    z-index: 1;
}