@font-face {
    font-family: 'DraughtsmanARegular';
    src: url('../fonts/DraughtsmanARegular.ttf') format('opentype');
    font-weight: 400;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
}
.container {
    width: 100%;
    max-width: 1293px;
    margin: 0 auto;
}
.main-bg-first {
    position: absolute;
    top: 800px;
    left: 50%;
    transform: translateX(-50%);
    width: 1600px;
    z-index: -1;
    opacity: 0;
    transition: 3s;
}
.main-bg-second {
    position: absolute;
    top: 500px;
    left: 50%;
    transform: translateX(-50%);
    width: 1600px;
    z-index: -1;
    opacity: 0;
    transition: 3s;
}
.main-bg-first.active,
.main-bg-second.active {
    opacity: 1;
}
.header {
    padding-top: 40px;
}
.header .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__title {
    text-align: center;
    font-weight: 400;
    margin: 30px 0;
    font-size: 36px;
}
.header__icon {
    max-width: 100%;
}
.main {
    margin-top: 100px;
}
.main .container {
    position: relative;
}
.window {
    position: relative;
    background-color: #000;
    transform: scale(0);
    transition: 0.3s;
}
.window.active {
    transform: none;
}

.window__answer {
    position: absolute;
    padding: 25px 10px;
    background-color: #000;
    border: 4px solid #fff;
    border-radius: 5px;
    font-size: 14px;
    width: 220px;
    text-align: center;
    transform: scale(0);
    z-index: 9999;
    transition: 0.3s;
}
.window__answer.active {
    transform: scale(1);
}

.first-window .window__answer,
.third-window .window__answer,
.fourth-window .window__answer {
    left: -250px;
    top: -50px;
}
.second-window .window__answer {
    left: 100px;
    top: -150px;
}
.fifth-window .window__answer {
    right: -250px;
    top: -50px;
}
.sixth-window .window__answer {
    left: -100px;
    top: -150px;
}
.seventh-window .window__answer {
    left: -250px;
    top: 50px;
}
.eighth-window .window__answer {
    left: -150px;
    top: -150px;
}
.ninth-window .window__answer,
.tenth-window .window__answer {
    left: -250px;
    top: -100px;
}
.eleventh-window .window__answer {
    left: 200px;
    top: -150px;
}


.first-window {
    margin-left: auto;
    width: 530px;
}
.second-window {
    margin-right: auto;
    width: 540px;
}
.third-window {
    margin-left: auto;
    margin-right: 80px;
    width: 270px;
}
.fourth-window {
    margin-left: 450px;
    width: 270px;
    margin-top: 100px;
}
.fifth-window {
    margin-left: 100px;
    width: 400px;
    margin-top: 100px;
}
.sixth-window {
    margin-left: auto;
    width: 400px;
    margin-top: -100px;
}
.sixth-window {
    margin-left: auto;
    width: 400px;
    margin-top: -100px;
}
.seventh-window {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 100px;
}
.eighth-window {
    margin-left: 200px;
    width: 400px;
    margin-top: 100px;
}
.ninth-window {
    margin-left: auto;
    margin-right: 110px;
    width: 270px;
    margin-top: -300px;
}
.tenth-window {
    margin-left: auto;
    width: 540px;
    margin-top: 200px;
}
.eleventh-window {
    width: 540px;
    margin-top: -100px;
}


.window__open {
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
}

.window__open.window__open-first {
    width: 185px;
    height: 185px;
    background-color: #DB00FF;
    right: 30px;
    top: 30px;
}
.window__open.window__open-second {
    width: 185px;
    height: 185px;
    background-color: #fff;
    left: 40px;
    top: 400px;
}
.window__open.window__open-third {
    width: 50px;
    height: 50px;
    background-color: #fff;
    right: 145px;
    top: 750px;
}
.window__open.window__open-fourth {
    width: 50px;
    height: 50px;
    background-color: #006CFF;
    left: 45%;
    top: 1000px;
}
.window__open.window__open-fifth {
    width: 110px;
    height: 110px;
    background-color: #DB00FF;
    left: 150px;
    top: 1400px;
}
.window__open.window__open-sixth {
    width: 110px;
    height: 110px;
    background-color: #006CFF;
    right: 150px;
    top: 1500px;
}
.window__open.window__open-seventh {
    width: 50px;
    height: 50px;
    background-color: #B9E931;
    left: 50%;
    transform: translateX(-50%);
    top: 1900px;
}
.window__open.window__open-eighth {
    width: 110px;
    height: 110px;
    background-color: #ffffff;
    left: 250px;
    top: 2250px;
}
.window__open.window__open-ninth {
    width: 50px;
    height: 50px;
    background-color: #DB00FF;
    right: 190px;
    top: 2250px;
}
.window__open.window__open-tenth {
    width: 180px;
    height: 180px;
    background-color: #B9E931;
    right: 50px;
    top: 2700px;
}
.window__open.window__open-eleventh {
    width: 180px;
    height: 180px;
    background-color: #006CFF;
    left: 0;
    top: 2900px;
}


.window-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 4px solid;
    border-radius: 10px 10px 0 0;
}
.window__question-btn {
    cursor: pointer;
    z-index: 9;
}
.window__close {
    cursor: pointer;
    z-index: 9;
}

.first-window .window__close,
.fifth-window .window__close,
.ninth-window .window__close {
    fill: #DB00FF;
}
.second-window .window__close,
.third-window .window__close,
.eighth-window .window__close{
    fill: #fff;
}
.fourth-window .window__close,
.sixth-window .window__close,
.eleventh-window .window__close {
    fill: #006CFF;
}
.seventh-window .window__close,
.tenth-window .window__close {
    fill: #B9E931;
}

.window__main {
    border: solid;
    border-width: 0 4px 4px 4px;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    overflow: hidden;
}

.first-window .window-header,
.first-window .window__main,
.fifth-window .window-header,
.fifth-window .window__main,
.ninth-window .window-header,
.ninth-window .window__main {
    border-color: #DB00FF;
}
.second-window .window-header,
.second-window .window__main,
.third-window .window-header,
.third-window .window__main {
    border-color: #fff;
}
.fourth-window .window-header,
.fourth-window .window__main,
.sixth-window .window-header,
.sixth-window .window__main,
.eleventh-window .window-header,
.eleventh-window .window__main {
    border-color: #006CFF;
}
.seventh-window .window-header,
.seventh-window .window__main,
.tenth-window .window-header,
.tenth-window .window__main {
    border-color: #B9E931;
}

.first-window .window__main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}
.second-window .window__main {
    padding: 0;
}
.fourth-window .window__main {
    position: relative;
    height: 160px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-bottom: 0;
}
.fifth-window .window__main {
    display: flex;
    padding: 0;
    justify-content: space-between;
}
.sixth-window .window__main {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.seventh-window .window__main {
    height: 220px;
    position: relative;
    overflow: visible;
}
.eighth-window .window__main {
    height: 220px;
    position: relative;
}
.ninth-window .window__main {
    height: 160px;
    position: relative;
}
.tenth-window .window__main {
    height: 300px;
    position: relative;
    overflow: visible;
}
.eleventh-window .window__main {
    height: 270px;
    position: relative;
    background-image: url('../img/window-11-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.window__circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.3s;
}
.window__circle.small {
    transform: scale(0.5);
}

.window__circle:nth-child(1),
.window__circle:nth-child(7){
    background-color: #B9E931;
}
.window__circle:nth-child(2),
.window__circle:nth-child(8){
    background-color: #006CFF;
}
.window__circle:nth-child(3),
.window__circle:nth-child(5){
    background-color: #FFFFFF;
}
.window__circle:nth-child(4),
.window__circle:nth-child(6){
    background-color: #DB00FF;
}

.drawing {
    width: 100%;
    height: 270px;
    image-rendering: high-quality;
}
.third-window .window__main {
    height: 160px;
}
.third-window__icon {
    position: absolute;
    bottom: 0;
    left: -100px;
}
.third-window__icon path {
    opacity: 0;
    transition: 0.3s;
}
.third-window__icon path.active {
    opacity: 1;
}

.window__plus,
.window__minus {
    position: absolute;
    z-index: 9;
    cursor: pointer;
    transition: 2s;
}
.window__plus {
    top: 20%;
    left: 10%;
}
.window__minus {
    top: 10%;
    left: 30%;
}
.window__rectangle {
    width: 40px;
    height: 70px;
    border: solid #006CFF;
    border-width: 4px 4px 0 4px;
    border-radius: 10px 10px 0 0;
}

.fifth-window .window__main path {
    opacity: 0;
    transition: 0.3s;
}
.fifth-window path.active {
    opacity: 1;
}

.window-atom {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #006CFF;
    cursor: pointer;
    transition: 0.3s;
}
.window-atom.active {
    opacity: 0;
}
.window-atom-small {
    position: absolute;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #006CFF;
    opacity: 0;
    transition: 0.3s;
}
.window-atom-small.active {
    opacity: 1;
}
.window-atom-small:nth-child(2) {
    top: 26px;
    left: 31px;
}
.window-atom-small:nth-child(3) {
    top: 34px;
    left: 201px;
}
.window-atom-small:nth-child(4) {
    top: 16px;
    right: 20px;
}
.window-atom-small:nth-child(5) {
    top: 80px;
    left: 86px;
}
.window-atom-small:nth-child(6) {
    top: 90px;
    right: 70px;
}
.window-atom-small:nth-child(7) {
    bottom: 19px;
    left: 37px;
}
.window-atom-small:nth-child(8) {
    bottom: 44px;
    left: 50%;
}
.window-atom-small:nth-child(9) {
    bottom: 19px;
    right: 24px;
}

.window-text {
    font-size: 48px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 0;
    font-family: 'DraughtsmanARegular', sans-serif;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.window-atom-text {
    position: absolute;
    top: calc(50% + 20px);
    left: calc(50% + 55px);
    transform: translate(-50%, -50%);
    font-size: 144px;
    font-family: 'DraughtsmanARegular', sans-serif;
}
.window-atom-text span {
    bottom: 60px;
    right: 200px;
    position: absolute;
    cursor: pointer;
    transition: 0.3s;
}
.window-atom-text span.active {
    font-size: 96px;
    bottom: 80px;
}

.window-large-icon {
    position: absolute;
    bottom: 40px;
    left: 40px;
}
.window-large-icon * {
    transition: 0.3s;
    opacity: 0;
}
.window-large-icon *.active {
    opacity: 1;
}

.fly-circle-wrapper {
    position: absolute;
    top: 0;
    left: 110px;
    transform: rotate(40deg);
}
.fly-circle {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #006CFF;
}

.window-star path {
    transition: 0.3s;
    opacity: 0;
}
.window-star path.active {
    opacity: 1;
}

.footer {
    margin-top: auto;
    font-size: 36px;
    padding: 25px 30px;
    background-color: #000;
}
.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__link {
    color: #fff;
    text-decoration: none;
}