@font-face {
    font-family: 'Futura Futuris Regular';
    src: url('../fonts/FuturaFuturisC.eot');
    src: url('../fonts/FuturaFuturisC.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaFuturisC.woff') format('woff'),
    url('../fonts/FuturaFuturisC.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Futura Futuris Bold';
    src: url('../fonts/FuturaFuturisC-Bold.eot');
    src: url('../fonts/FuturaFuturisC-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaFuturisC-Bold.woff') format('woff'),
    url('../fonts/FuturaFuturisC-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
:root {
    --akcent-color: rgba(234, 184, 24, 0.33);
    --active-color: #eab818;
    --error-color: #e20005;
    --main-trans: 0.3s;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Futura Futuris Regular', sans-serif;
}
.calculator {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 38px 72px;
    width: 100%;
    padding: 31px 26px;
    border-radius: 30px;
    background-color: #fff;
}
.calculator-address {
    display: flex;
    flex-direction: column;
}
.calculator__title {
    font-size: 25px;
    font-family: 'Futura Futuris Bold', sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
}
.calculator__address-wrapper {
    width: 100%;
    border: 3px solid var(--akcent-color);
    border-radius: 30px;
    overflow: hidden;
    transition: var(--main-trans);
}
.calculator__address-wrapper.active {
    border-color: var(--active-color);
}
.calculator__address-wrapper.error {
    border-color: var(--error-color);
}
.calculator__address {
    width: 100%;
    font-size: 25px;
    padding: 34px 50px;
    border: none;
    outline: none;
    font-family: 'Futura Futuris Regular', sans-serif;
}
.calculator__address:nth-child(1) {
    border-radius: 30px 30px 0 0;
    border-bottom: 1px solid #bbbbbb;
}
.calculator__address::placeholder {
    color: #000;
}
.calculator-duration {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 54px;
    border: 3px solid var(--akcent-color);
    border-radius: 30px;
    transition: var(--main-trans);
}
.calculator-duration.active {
    border-color: var(--active-color);
}
.calculator-duration__title {
    font-size: 25px;
}
.calculator-count-choose {
    display: flex;
    align-items: center;
}
.calculator-count-choose__btn {
    width: 57px;
    height: 57px;
    border-radius: 50%;
    border: 3px solid var(--akcent-color);
    background: none;
    outline: none;
    cursor: pointer;
    position: relative;
    transition: var(--main-trans);
}
.calculator-count-choose__value {
    min-width: 100px;
    text-align: center;
    font-size: 30px;
}
.minus {
    position: absolute;
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.minus:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 1px;
    background-color: var(--akcent-color);
    transition: var(--main-trans);
}
.plus {
    position: absolute;
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.plus:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 1px;
    background-color: var(--akcent-color);
    transition: var(--main-trans);
}
.plus:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1px;
    height: 100%;
    background-color: var(--akcent-color);
    transition: var(--main-trans);
}
.calculator-count-choose__btn.active {
    border-color: var(--active-color);
}
.calculator-count-choose__btn.active .minus:before {
    background-color: var(--active-color);
}
.calculator-count-choose__btn.active .plus:before {
    background-color: var(--active-color);
}
.calculator-count-choose__btn.active .plus:after {
    background-color: var(--active-color);
}
.calculator-datetime {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 34px 37px 34px 54px;
    border: 3px solid var(--akcent-color);
    border-radius: 30px;
    position: relative;
    transition: var(--main-trans);
}
.calculator-datetime.active {
    border-color: var(--active-color);
}
.calculator-datetime__title {
    font-size: 25px;
}
.calculator-datetime__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 9;
}
.calculator-datetime__input::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.calculator-datetime__value {
    font-size: 30px;
    display: flex;
    align-items: center;
}
.calculator-datetime__line {
    width: 3px;
    height: 57px;
    background-color: var(--akcent-color);
    margin: 0 37px;
    transition: var(--main-trans);
}
.calculator-datetime.active .calculator-datetime__line {
    background-color: var(--active-color);
}
.calculator__total {
    padding: 34px 54px;
    border: 3px solid var(--akcent-color);
    border-radius: 30px;
    display: flex;
    align-items: center;
    font-size: 35px;
    gap: 5px;
}
.calculator__title {
    font-family: 'Futura Futuris Bold', sans-serif;
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
}
.calculator-type {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4px;
}
.calculator-type__btn {
    position: relative;
}
.calculator-type__btn-title {
    text-align: center;
    font-size: 25px;
    padding: 34px 10px;
    border: 3px solid var(--akcent-color);
    width: 100%;
    display: block;
    border-radius: 30px;
    transition: var(--main-trans);
}
.calculator-type-wrapper.active .calculator-type__btn-title {
    border-color: var(--active-color);
}
.calculator-type__btn-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}
.calculator-type__btn-input:checked + .calculator-type__btn-title {
    background-color: var(--active-color);
    border-color: var(--active-color);
}
.calculator-type__description {
    font-size: 25px;
    border: 3px solid var(--akcent-color);
    padding: 13px 25px;
    border-radius: 30px;
    margin-top: 7px;
    display: none;
    transition: var(--main-trans);
}
.calculator-type-wrapper.active .calculator-type__description {
    border-color: var(--active-color);
}
.calculator-type__description.active {
    display: block;
}
.calculator-peoples {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}
.calculator-peoples-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
}
.calculator-peoples__title {
    text-align: center;
    font-size: 25px;
    margin-bottom: 24px;
}
.calculator-peoples__line {
    width: 3px;
    height: 100%;
    background-color: var(--akcent-color);
    transition: var(--main-trans);
}
.calculator-peoples.active .calculator-peoples__line {
    background-color: var(--active-color);
}
.calculator-peoples.active .calculator-count-choose__btn {
    border-color: var(--active-color);
}
.calculator-peoples.active .calculator-count-choose__btn .minus:before {
    background-color: var(--active-color);
}
.calculator-peoples.active .calculator-count-choose__btn .plus:before {
    background-color: var(--active-color);
}
.calculator-peoples.active .calculator-count-choose__btn .plus:after {
    background-color: var(--active-color);
}
.calculator-more {
    display: flex;
    align-items: stretch;
    gap: 4px;
}
.calculator-phone {
    width: 100%;
    padding: 30px;
    border-radius: 30px;
    border: 3px solid var(--akcent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    transition: var(--main-trans);
}
.calculator-phone.active {
    border-color: var(--active-color)
}
.calculator-phone.error {
    border-color: var(--error-color);
}
.calculator-phone__input {
    font-size: 25px;
    outline: none;
    border: none;
    font-family: 'Futura Futuris Regular', sans-serif;
    text-align: center;
}
.calculator-phone__input::placeholder {
    color: #000;
}
.calculator-promo {
    padding: 50px;
    border-radius: 30px;
    border: 3px solid var(--akcent-color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    transition: var(--main-trans);
}
.calculator-promo.active {
    border-color: var(--active-color);
}
.calculator-promo.error {
    border-color: var(--error-color);
}
.calculator-promo__input {
    font-size: 25px;
    outline: none;
    border: none;
    width: 100%;
    font-family: 'Futura Futuris Regular', sans-serif;
    text-align: center;
}
.calculator-promo__input::placeholder {
    color: #000;
}
.calculator__submit {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Futura Futuris Regular', sans-serif;
    font-size: 25px;
    color: #000;
    padding: 20px;
    border-radius: 30px;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: var(--active-color);
    transition: var(--main-trans);
}
.calculator__submit:disabled {
    background-color: var(--akcent-color);
    cursor: initial;
}
.calculator__submit:not(:disabled):hover {
    opacity: 0.6;
}
.calculator__submit:not(:disabled):active {
    opacity: 0.3;
}

@media screen and (max-width: 1210px) {
    .calculator {
        grid-gap: 20px 40px;
    }
    .calculator__address {
        padding: 26px 30px;
    }
    .calculator-duration,
    .calculator__total {
        padding: 20px 30px;
    }
    .calculator-datetime {
        padding: 20px 20px 20px 20px;
    }
    .calculator-count-choose__btn {
        width: 40px;
        height: 40px;
    }
    .calculator-count-choose__value {
        min-width: 70px;
    }
    .calculator-datetime__line {
        height: 35px;
        margin: 0 15px;
    }
    .calculator-phone {
        padding: 20px;
    }
    .calculator-promo {
        padding: 20px;
    }
    .calculator-type__btn-title {
        padding: 20px;
    }
    .calculator__title,
    .calculator__address,
    .calculator-duration__title,
    .calculator-datetime__title,
    .calculator-peoples__title,
    .calculator-phone__input,
    .calculator-promo__input,
    .calculator__submit,
    .calculator-type__btn-title,
    .calculator-type__description {
        font-size: 20px;
    }
    .calculator-count-choose__value,
    .calculator-datetime__value {
        font-size: 24px;
    }
    .calculator__total {
        font-size: 30px;
    }
}
@media screen and (max-width: 950px) {
    .calculator {
        grid-template-columns: 1fr;
        grid-gap: 30px;
        padding: 18px;
    }
    .calculator__address {
        padding: 23px 36px;
    }
    .calculator-duration,
    .calculator__total {
        padding: 23px 36px;
    }
    .calculator-datetime {
        padding: 23px 26px 23px 40px;
    }
    .calculator-count-choose__btn {
        width: 38px;
        height: 38px;
    }
    .calculator-count-choose__value {
        min-width: 70px;
        font-size: 20px;
    }
    .calculator-datetime__line {
        height: 40px;
        margin: 0 25px;
    }
    .calculator-phone {
        padding: 32px 40px;
        justify-content: flex-start;
    }
    .calculator-promo {
        padding: 20px;
    }
    .calculator-type__btn-title {
        padding: 28px 10px;
    }
    .calculator-peoples__title {
        margin-bottom: 16px;
    }
    .calculator__title,
    .calculator__address,
    .calculator-duration__title,
    .calculator-datetime__title,
    .calculator-peoples__title,
    .calculator-phone__input,
    .calculator-promo__input,
    .calculator__submit,
    .calculator-type__btn-title,
    .calculator-type__description {
        font-size: 16px;
    }
    .calculator__submit {
        padding: 32px;
    }
    .calculator-count-choose__value,
    .calculator-datetime__value {
        font-size: 20px;
    }
    .calculator__total {
        padding: 32px 40px;
        font-size: 24px;
    }
    .calculator-phone__input {
        text-align: left;
        margin: 0;
    }
    .calculator-promo {
        width: 140px;
    }
}
@media screen and (max-width: 450px) {
    .calculator-more {
        flex-direction: column;
        align-items: stretch;
        gap: 30px;
    }
    .calculator-promo {
        width: 100%;
        padding: 32px 40px;
    }
    .calculator-promo__input {
        text-align: left;
    }
}
@media screen and (max-width: 350px) {
    .calculator__address,
    .calculator-type__btn-title,
    .calculator-type__description,
    .calculator-duration,
    .calculator-datetime,
    .calculator-phone,
    .calculator-promo,
    .calculator__total,
    .calculator__submit {
        padding: 15px;
    }
    .calculator {
        grid-gap: 15px;
    }
    .calculator-more {
        gap: 15px;
    }
    .calculator-datetime__line {
        margin: 0 5px;
    }
    .calculator-peoples__line {
        display: none;
    }
    .calculator-peoples {
        flex-direction: column;
        align-items: center;
    }
}
