/* Settings */
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
body{
	font-family: 'Open Sans', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
/* Calculator */
.calculator{
	display: grid;
	grid-template-columns: 1fr 1fr;
	border-radius: 25px;
	border: 1px solid #E1E1E1;
	padding: 50px 75px;
	color: #545454;
}
.calculator .input{
	display: flex;
	flex-direction: column;
}
.calculator .input label{
	font-size: 17px;
}
.calculator .input .value{
	font-family: 'Montserrat', sans-serif;
	font-size: 31px;
	margin-top: 10px;
	border: none;
	font-weight: 200;
	outline: none;
	width: calc(100% - 67px);
}
.calculator .input .value::-webkit-outer-spin-button,
.calculator .input .value::-webkit-inner-spin-button {
	display: none;
	-webkit-appearance: none;
	margin: 0;
}
.calculator .input:first-child{
	margin-right: 35px;
}
.calculator .input:nth-child(2n){
	margin-left: 35px;
}
.calculator .input:last-child{
	grid-column-start: 2;
}
.calculator input[type="range"] {
	-webkit-appearance: none;
	width: 310px;
	background: transparent;
	margin-top: 10px;
}
.calculator input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
}
.calculator input[type="range"]:focus{
	outline: none;
}
.calculator input[type="range"]::-ms-track{
	width: 100%;
	cursor: pointer;
	background: transparent; 
	border-color: transparent;
	color: transparent;
}
.calculator input[type="range"]::-webkit-slider-thumb{
	-webkit-appearance: none;
	height: 13px;
	width: 36px;
	border-radius: 99px;
	background: #F86300;
	cursor: pointer;
	margin-top: -6px;
}
.calculator input[type="range"]::-moz-range-thumb{
	-webkit-appearance: none;
	height: 13px;
	width: 36px;
	border-radius: 99px;
	background: #F86300;
	cursor: pointer;
	margin-top: -6px;
}
.calculator input[type="range"]::-ms-thumb{
	-webkit-appearance: none;
	height: 13px;
	width: 36px;
	border-radius: 99px;
	background: #F86300;
	cursor: pointer;
	margin-top: -6px;
}
.calculator input[type="range"]::-webkit-slider-runnable-track{
	width: 100%;
	height: 2px;
	background: #E1E1E1;
}
.calculator .submit{
	justify-content: center;
	align-items: center;
}
.calculator .submit input[type="submit"]{
	background: #F86300;
	color: #fff;
	border: none;
	border-radius: 99px;
	padding: 20px 60px;
	font-size: 18px;
	margin-left: 35px;
	outline: none;
	cursor: pointer;
	border: 1px solid #F86300;
	transition: 0.5s;
	margin-top: 40px;
}
.calculator .submit input[type="submit"]:hover{
	opacity: 0.7;
}
.calculator .range{
	position: relative;
	margin-bottom: 60px;
}
.calculator .range span{
	position: absolute;
	top: calc(50% + 5px);
	left: 0;
	width: 30px;
	height: 2px;
	background: #F86300;
	transform: translateY(-50%);
}
.calculator .radio_buttons{
	grid-column-start: 1;
	grid-column-end: 3;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
}
.calculator .radio_buttons .radio_btn{
	display: flex;
	align-items: center;
	position: relative;
}
.calculator .radio_buttons .radio_btn span{
	position: absolute;
	top: 0;
	left: 0;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #F5F5F5;
	z-index: -1;
}
.calculator .radio_buttons .radio_btn span:before{
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 12px;
	height: 12px;
	background: #F86300;
	border-radius: 50%;
	transition: 0.5s;
	opacity: 0;
}
.calculator .radio_buttons .radio_btn input{
	width: 25px;
	height: 25px;
	opacity: 0;
	cursor: pointer;
}
.calculator .radio_buttons .radio_btn input:checked + span:before{
	opacity: 1;
}
.calculator .radio_buttons .radio_btn input:disabled + span{
	opacity: 0.5;
}
.calculator .radio_buttons .radio_btn input:disabled + span + label{
	opacity: 0.5;
}
.calculator .radio_buttons label{
	font-size: 19px;
	margin-right: 40px;
	cursor: pointer;
	margin-left: 10px;
}
@media(max-width: 1120px){
	.calculator{
		grid-template-columns: 1fr;
		width: 100%;
		padding: 40px;
	}
	.calculator .input:last-child{
		grid-column-start: 1;
	}
	.calculator .input:first-child{
		margin-right: 0;
	}
	.calculator .input:nth-child(2n){
		margin-left: 0;
	}
	.calculator input[type="range"]{
		width: 100%;
	}
	.calculator .range span{
		width: 35px;
	}
	.calculator .range{
		margin-bottom: 0px;
	}
	.calculator .input{
		margin-bottom: 30px;
	}
	.calculator .input:last-child{
		margin-bottom: 0;
	}
	.calculator .submit input[type="submit"]{
		margin-left: 0;
		margin-top: 0;
	}
	.calculator .input .value{
		width: 100%;
	}
}