*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
}
body{
	height: 100vh;
	background: #e4e4e4;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#main{
	margin: 0 auto;
	border: 3px solid #111;
	background: #fff;
}
.row{
	display: flex;
	justify-content: center;
	align-items: center;
}
.colors{
	margin-bottom: 60px;
}
.color{
	width: 40px;
	height: 40px;
	border: 3px solid #718093;
	border-radius: 50%;
	margin: 0 20px;
	cursor: pointer;
	transition: 0.5s;
}
.color.picked{
	border: 3px solid #fff;
}

.size{
	position: relative;
	width: 25%;
	margin: 0 auto;
}
.size input{
	margin-top: 20px;
	width: 100%;
	position: relative;
	bottom: 10px;
}
.size input::-webkit-slider-thumb{
	-webkit-appearance: none;
	border: 1px solid #000000;
	height: 36px;
	width: 16px;
	border-radius: 3px;
	background: #ffffff;
	cursor: pointer;
	margin-top: -7px;
}
.size input::-webkit-slider-runnable-track{
	width: 100%;
	height: 10px;
	cursor: pointer;
	background: #ff7979;
	border-radius: 15px;
	border: 0.5px solid #000;
}
.size input:focus::-webkit-slider-runnable-track{
	background: #ff7979;
}
#min_range{
	position: absolute;
	left: -20px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	font-weight: bold;
	font-size: 20px;
}
#max_range{
	position: absolute;
	right: -30px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	font-weight: bold;
	font-size: 20px;
}
.size-list{
	width: 25%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	left: 3px;
	margin-top: 20px;
}
.size-list p{
	position: relative;
	font-size: 20px;
}
.size-list p:before{
	content: '';
	position: absolute;
	top: -20px;
	left: 50%;
	transform: translateX(-50%);
	width: 1px;
	height: 20px;
	background: #000;
}