html{
	font-size: 10px;
}
body{
	font-family: 'Roboto', sans-serif;
	padding: 0;
	margin: 0;
	outline: none;
}

/* Загрузка */
.loaderArea{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: #ffffff;
	overflow: hidden;
	position: fixed;
	left: 0;
	top: 0;
	right:0;
	bottom:0;
	z-index: 100000;
}
.loaderArea>img{
	width: 30%;
	animation: animate 4s infinite linear;
}
.loaderArea>.line{
	width: 100%;
	border: none;
	background: #D32F2F;
	height: 5px;
	position: absolute;
	top: 0;
	left: 0;
	animation: line 1s infinite linear;
}
@keyframes animate {
  0% {
    transform: scale(0.4);
  }
   
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes animate {
	0% {
    transform: scale(0.4);
  }
   
  100% {
    transform: scale(1);
  }
}
@-o-keyframes animate {
	0% {
    transform: scale(0.4);
  }
   
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes animate {
	0% {
    transform: scale(0.4);
  }
   
  100% {
    transform: scale(1);
  }
}
@keyframes animate {
	0% {
    transform: scale(0.4);
  }
   
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes line {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
@-o-keyframes line {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
@-moz-keyframes line {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
@keyframes line {
	0% {
		width: 0%;
	}
	100% {
		width: 100%;
	}
}
/* Конец загрузки */

.background{
	position: absolute;
	z-index: -10;
	top: 0;
	left: 0;
	width: 100%;
	filter: blur(15px);
}
.container{
	width: 640px;
	margin: 60px auto;
	-webkit-box-shadow: 0px 0px 28px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 28px -2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 28px -2px rgba(0,0,0,0.75);
}
.image>img{
	vertical-align: top;
	margin: 0 auto;
	width: 100%;
	height: 610px;
	padding: 0;
	margin: 0;
}
.main{
	background-color: #D32F2F;
}
.main-container{
	width: 70%;
	margin: 0 auto;
	padding: 20px 0;
}
.main-container>h1{
	font-weight: 300;
	font-size: 3rem;
	padding: 0;
	margin: 0;
	text-align: center;
	color: #FFFEFE;
}
.main-container>p{
	font-weight: 300;
	color: #F0B8B8;
	font-size: 1.6rem;
}
.social{
	background-color: #ffffff;
}
.social>hr{
	background: none;
	border-bottom: 1px solid #D9D9D9;
}
.social>a{
	text-decoration: none;
}
.social>a>.main-container{
	display: flex;
	align-items: center;
	color: #000000;
}
.social>.main-container>a{
	display: block;
	text-align: center;
	height: 100%;
}
.social>a>.main-container>i{
	padding: 10px;
	color: #ffffff;
	border-radius: 50%;
	font-size: 2rem;
	margin-right: 20px;
	width: 20px;
	height: 20px;
	text-align: center;
}
.social>a>.main-container>.desc>h4{
	font-size: 1.7rem;
	font-weight: 300;
	padding: 0;
	margin: 0;
}
.social>a>.main-container>.desc>p{
	padding: 0;
	margin: 0;
	font-size: 1.4rem;
	color: #737373;
	margin-top: 5px;
}
.social>.main-container>a{
	width: 100%;
	background-color: #EF9A9A;
	text-align: center;
	padding: 20px;
	-webkit-box-shadow: 0px 10px 28px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 28px -6px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 28px -6px rgba(0,0,0,0.75);
	text-decoration: none;
	color: #ffffff;
	font-weight: 300;
	font-size: 2rem;
	text-transform: uppercase;
	transition: all 0.5s;
}
.social>a>.main-container>a:hover{
	-webkit-box-shadow: 0px 15px 28px -6px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 15px 28px -6px rgba(0,0,0,0.75);
	box-shadow: 0px 15px 28px -6px rgba(0,0,0,0.75);
}
.social>a>.main-container>a>i{
	padding-right: 20px;
}

/* Share page */
#social_modal{
	display: none;
	border: none;
	border-radius: 0;
	width: 50%;
	padding-top: 20px;
	padding-bottom: 20px;
}
#social_modal>h3{
	font-weight: 300;
	font-size: 16px;
	color: #EF9A9A;
}
.p-cont{
	position: absolute;
	top: 70px;
	left: 100px;
}
.p-cont>p{
	margin-bottom: 25px;
	color: #323032;
	font-size: 17px;
}
.pluso-more{
	display: none !important;
}
.close-modal{
	top: 2px !important;
	right: 2px !important;
}
.blocker{
	background-color: rgba(0,0,0,0.3) !important;
}

/* Media */
@media (max-width: 1024px){
	.container{
		width: 100%;
		margin: 0 auto;
	}
	.image>img{
		height: auto;
	}
	html{
		font-size: 25px;
	}
	.main-container{
		width: 85%;
	}
	.main-container>i{
		padding: 20px !important;
		font-size: 25px !important;
	}
}