html body {
	overflow-x: hidden;
}
#rnd-replace-main {
	padding-top: 0 !important;
}
#rnd-replace-twocolumns {
	background: none;
}
.krnd-replace-visual.rnd-replace-visual p{
	height: 620px !important;
}
.krnd-replace-visual.rnd-replace-visual,
article.post {
	height: auto !important;
}
html body #rnd-replace-wrapper>.rnd-replace-w1>.rnd-replace-w2>#rnd-replace-header+#rnd-replace-main#rnd-replace-main#rnd-replace-main#rnd-replace-main {
	background: #003534 !important;
}
.infinix-slide {
	position: relative;
}
.infinix-slide-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
}
.infinix-slide-image {
	width: 100%;
	height: auto;
}
.infinix-arrows {
	position: absolute;
	top: 40%;
	left: 40px;
	width: calc(100% - 80px);
	height: 0;
	transform: translateY(-50%);
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.infinix-arrow {
	cursor: pointer;
}
.infinix-arrow path {
	transition: 0.5s;
	stroke: #808788;
}
.infinix-arrow:hover path {
	stroke: #00B419;
}
.slick-dots {
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;
	margin: -36px 0 0 0;
	position: relative;
	z-index: 99;
}
.slick-dots li {
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: rgba(128, 135, 136, 0.7);
	transition: 0.5s;
	margin-right: 35px;
}
.slick-dots li.slick-active,
.slick-dots li:hover {
	background: #fff;
}
.slick-dots li button {
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}
.huawei-social {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 0 !important;
	border: none;
	padding: 80px 0;
}
.huawei-links {
	display: flex;
	align-items: center;
	justify-content: center;
}
.huawei-links a,
.page-nav a {
	line-height: 0;
	width: 46px;
	height: 46px;
	display: flex;
	align-items: center;
	justify-content: center;
	border: 1px solid #00B419;
	border-radius: 50%;
	margin-right: 14px;
	transition: 0.5s;
	color: #fff;
}
.huawei-links a:last-child,
.page-nav li:last-child a {
	margin-right: 0;
}
.huawei-links a:hover,
.page-nav a:hover,
.page-nav li.active a {
	background: #CF0A2C;
}
.huawei-links a svg {
	width: 65%;
}
.huawei-links a svg path {
	fill: #00B419;
	transition: 0.5s;
}
.huawei-links a:hover {
	background: #00B419;
}
.huawei-links a:hover svg path {
	fill: #fff;
}
.infinix-nav {
	margin-bottom: 80px;
	height: auto;
	display: flex;
}
.infinix-nav ul {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 40px;
	padding: 0;
	list-style: none;
}
.infinix-nav ul li a {
	color: #00B419;
	font-size: 50px;
	font-weight: 300;
	text-decoration: none;
	transition: 0.5s;
	position: relative;
	display: flex;
	width: 100%;
	height: 100%;
	z-index: 9;
}
.infinix-nav ul li a:after {
	content: '';
	position: absolute;
	bottom: -30px;
	left: 0;
	width: 100%;
	height: 1px;
	background: #00B419;
	transition: 0.5s;
}
.infinix-nav ul li a:before {
	content: '';
	position: absolute;
	top: 50%;
	left: 0;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	z-index: 0;
	transform: translateY(-50%);
	background: #00B419;
	filter: blur(20px);
	opacity: 0;
	transition: 0.5s;
	z-index: -1;
}
.infinix-nav ul li.active a,
.infinix-nav ul li:hover a {
	color: #fff;
}
.infinix-nav ul li.active a:after,
.infinix-nav ul li:hover a:after {
	background: #fff;
}
.infinix-nav ul li.active a:before,
.infinix-nav ul li:hover a:before {
	opacity: 1;
}
.rnd-replace-side-box {
	padding: 0 0 0 20px !important;
	margin-bottom: 25px;
}
.huawei-side-banner img {
	width: 100%;
}
.infinix-card {
	padding: 25px 15px;
	background: #fff;
}
.infinix-title {
	text-align: center;
	color: #000;
	font-size: 28px;
	font-weight: 300;
	margin: 0;
}
.infinix-photo {
	margin: 20px 0;
	position: relative;
	height: 220px;
	width: 100%;
}
.infinix-photo-front {
	position: absolute;
	top: 0;
	left: 50%;
	width: auto;
	height: 100%;
	transform: translateX(-50%);
	transition: 0.5s;
}
.infinix-photo-back {
	position: absolute;
	top: 0;
	left: 50%;
	width: auto;
	height: 100%;
	transform: translateX(-50%);
	transition: 0.5s;
	opacity: 0;
}
.infinix-card:hover .infinix-photo-front {
	opacity: 0;
}
.infinix-card:hover .infinix-photo-back {
	opacity: 1;
}
.infinix-desc {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
	font-weight: 300;
}
.infinix-desc-title {
	color: #00B419;
	width: 100px;
	margin: 0 10px 0 0;
	font-size: 12px;
}
.infinix-desc-info {
	color: #000;
	margin: 0;
	font-size: 16px;
}
.infinix-more-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
.infinix-more {
	text-align: center;
	text-decoration: none;
	color: #fff;
	font-weight: 300;
	text-transform: uppercase;
	padding: 8px 40px;
	font-size: 12px;
	background: #00B419;
	border-radius: 4px;
}

@media (max-width: 1219px) {
	.huawei-social {
		padding: 60px 0;
	}
	.huawei-links a {
		width: 38px;
		height: 38px;
		margin-right: 12px;
	}
	.infinix-nav {
		margin-bottom: 60px;
	}	
	.infinix-nav ul li a {
		font-size: 40px;
	}
	.infinix-nav ul li a:after {
		bottom: -20px;
	}
	.infinix-nav ul li a:before {
		width: 80px;
		height: 80px;
	}
}
@media (max-width: 997px) {
	.huawei-social {
		padding: 60px 0;
	}
	.huawei-links a {
		width: 32px;
		height: 32px;
		margin-right: 16px;
	}
	.infinix-nav {
		margin-bottom: 60px;
	}	
	.infinix-nav ul li a {
		font-size: 30px;
	}
	.infinix-nav ul li a:after {
		bottom: -15px;
	}
	.infinix-nav ul li a:before {
		width: 60px;
		height: 60px;
	}
	.infinix-arrows {
		left: 30px;
		width: calc(100% - 60px);
		top: 35%;
	}
	.infinix-arrow {
		width: 15px;
	}
	.slick-dots {
		margin-top: -26px;
	}
	.slick-dots li {
		width: 8px;
		height: 8px;
		margin-right: 20px;
	}
}
@media (max-width: 767px) {
	.huawei-social {
		padding: 40px 0;
	}
	.huawei-links a {
		width: 28px;
		height: 28px;
		margin-right: 12px;
	}
	.infinix-nav {
		margin-bottom: 40px;
	}	
	.infinix-nav ul li a {
		font-size: 26px;
	}
	.infinix-nav ul li a:after {
		bottom: -10px;
	}
	.infinix-nav ul li a:before {
		width: 50px;
		height: 50px;
	}
	.infinix-arrows {
		left: 20px;
		width: calc(100% - 40px);
	}
}
@media (max-width: 700px) {
	.infinix-nav ul {
		grid-template-columns: 1fr;
	}
	.rnd-replace-holder {
		padding: 0 20px !important;
		width: calc(100% - 40px);
	}
	.infinix-arrows {
		top: 25%;
		left: 10px;
		width: calc(100% - 20px);
	}
}
@media (max-width: 550px) {
	.infinix-arrows {
		top: 22%;
	}
}
@media (max-width: 400px) {
	.infinix-arrows {
		top: 16%;
	}
}