html { font-size: 7px; }

body { margin: 0; padding: 0; overflow-x: hidden; overflow-y: hidden; font-family: "SF UI Text", sans-serif; }

.container { width: 70%; margin: 0 auto; }

.visible-div { opacity: 1 !important; }

.show-menu { opacity: 1 !important; visibility: visible !important; }

.bg-active { animation: sub-bg 3s forwards; }

.loaderArea { background: linear-gradient(90deg, #04CEDE 10%, #6E69F1 90%); overflow: hidden; position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 100000; }

.loader { height: 40px; width: 40px; position: absolute; left: 50%; margin-left: -50px; top: 50%; margin-top: -50px; }

.loader:before { content: url("../img/logo.png"); height: 40px; width: 40px; border-radius: 10px; position: absolute; top: 0; }

.loader:before { animation: preloader 2s infinite linear; }

header { background: url("../img/header-bg.png"); background-size: cover; background-repeat: no-repeat; width: 100vw; height: 100vh; position: relative; }
header .after { position: absolute; top: 0; left: 0; width: 100%; height: 100%; animation: header 2s 1; }
header .after img { position: absolute; }
header .after img:nth-child(1) { top: 50%; left: 40%; animation: after-1 2s infinite alternate; animation-delay: 200ms; }
header .after img:nth-child(2) { right: 10%; top: 30%; animation-delay: 200ms; animation: after-2 2s infinite alternate; }
header .after img:nth-child(3) { bottom: 10%; left: 10%; animation-delay: 200ms; animation: after-3 2s infinite alternate; }
header .after img:nth-child(4) { top: 10%; left: 50%; animation-delay: 200ms; animation: after-4 2s infinite alternate; }
header .nav-menu .button { z-index: 10000; position: absolute; cursor: pointer; display: flex; flex-direction: column; align-items: center; justify-content: center; left: 0; top: 43%; z-index: 30; animation-delay: 2s; animation: menu-btn 2s 1; }
header .nav-menu .button:hover a { color: #4491ea; }
header .nav-menu .button a { z-index: 10000; transition: 0.5s; margin-bottom: 70px; transform: rotate(270deg); color: #3a54b1; font-size: 1.8rem; font-weight: 700; line-height: 72px; text-transform: uppercase; letter-spacing: 11.21px; }
header .nav-menu .button img { width: 24px; height: 16px; }
header .nav-menu #submenu { position: absolute; width: 100%; height: 100%; display: flex; visibility: hidden; align-items: center; opacity: 0; transition: 0.5s !important; }
header .nav-menu #submenu .sub-bg { z-index: 29 !important; position: absolute; width: 40px; height: 40px; background: rgba(0, 0, 0, 0.95); border-radius: 50%; left: 20px; box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.5); }
header .nav-menu #submenu nav { z-index: 200; margin-left: 150px; }
header .nav-menu #submenu nav ul { display: flex; flex-direction: column; list-style: none; }
header .nav-menu #submenu nav ul li a { color: #8697b7; font-size: 6rem; text-decoration: none; font-weight: 400; line-height: 120px; transition: 0.5s; outline: none; }
header .nav-menu #submenu nav ul li a sup { color: #0a0a0a; font-size: 2rem; font-weight: 700; border-radius: 14px; background-color: #ffc925; padding: 7px 11px; margin-bottom: 20px; margin-left: 10px; }
header .nav-menu #submenu nav ul li a:hover { color: #11c3e1; }
header .nav-menu #submenu nav ul li .submenu-2 { z-index: 30; position: absolute; top: 170px; width: 70%; right: 0; opacity: 0; transition: 0.5s; }
header .nav-menu #submenu nav ul li .submenu-2 .slider { display: flex; justify-content: flex-end; align-items: flex-start; }
header .nav-menu #submenu nav ul li .submenu-2 .slider .block { width: 33%; margin: 0 30px; outline: none !important; }
header .nav-menu #submenu nav ul li .submenu-2 .slider .block h3 { color: #3a54b1; font-size: 3rem; font-weight: 700; }
header .nav-menu #submenu nav ul li .submenu-2 .slider .block p { color: #cad5ea; font-size: 2.5rem; font-weight: 400; }
header .nav-menu #submenu nav ul li .submenu-2 .slider .block p .ux { color: #fac022; }
header .nav-menu #submenu nav ul li .submenu-2 .slider .block p .brand { color: #605cd1; }
header .nav-menu #submenu nav ul li .submenu-2 .slider .block p .anim { color: #f073e9; }
header .nav-menu #submenu nav ul li .submenu-2 .slider .block p .web { color: #36c6d0; }
header .nav-menu #submenu nav ul li .submenu-2 .slider .block p .mobile { color: #339ce3; }
header .nav-menu #submenu nav ul li .submenu-2 .slider .block img { width: 100%; }
header .header { display: flex; justify-content: space-between; padding: 20px 0; animation: header 3s 1; }
header .header .logo { position: absolute; top: -70px; left: -70px; z-index: 100; }
header .header .logo img { top: 80px; left: 80px; position: absolute; width: 18%; }
header .header .phone { margin-left: 15%; z-index: 1; }
header .header .phone .row { display: flex; align-items: center; }
header .header .phone .row .column { margin-left: 20px; }
header .header .phone .row .column a { color: #3a54b1; text-decoration: none; font-size: 3rem; font-weight: 700; margin: 0 !important; padding: 0 !important; outline: none; }
header .header .phone .row .column a sup { color: #4491ea; }
header .header .phone .row .column p { color: #b6becd; padding: 0 !important; margin: 0 !important; font-size: 1.8rem; font-weight: 400; }
header .header .contacts { display: flex; align-items: center; margin-right: 50px; z-index: 1; }
header .header .contacts a { text-decoration: none; margin-right: 70px; color: #b6becd; font-size: 1.4rem; font-weight: 400; text-transform: uppercase; letter-spacing: 11.2px; transition: 0.5s; }
header .header .contacts a:hover { color: #009CCC; }
header .header .contacts .social i { font-size: 2rem; margin: 0 10px; cursor: pointer; }
header .main { display: flex; justify-content: space-between; margin-top: 50px; }
header .main .left { animation: main 2s 1; z-index: 1; width: 40%; }
header .main .left h4 { margin: 0 !important; padding: 0 !important; color: #ffc018; font-size: 1.8rem; font-weight: 700; line-height: 55px; text-transform: uppercase; letter-spacing: 5.4px; }
header .main .left h1 { margin: 0 !important; padding: 0 !important; color: #02d1de; font-size: 8rem; font-weight: 700; line-height: 82.23px; }
header .main .left h3 { margin: 0 !important; padding: 0 !important; color: #4d65b9; font-size: 3rem; font-weight: 700; line-height: 82.23px; }
header .main .left p { margin: 0 !important; padding: 0 !important; color: #8697b7; font-size: 2.3rem; font-weight: 400; line-height: 40px; }
header .main .left .btn { margin-top: 70px; cursor: pointer; margin: 0 !important; font-size: 2.5rem; border-radius: 35px; padding: 15px 20px; background: -webkit-linear-gradient(right, #00d3de 0%, #7167f2 100%); background: -o-linear-gradient(right, #00d3de 0%, #7167f2 100%); background: linear-gradient(to left, #00d3de 0%, #7167f2 100%); box-shadow: 0px 5px 30px 2px #7167f2; z-index: 1; position: relative; width: 45%; display: flex; align-items: center; justify-content: space-around; }
header .main .left .btn button { background: none; border: none; outline: none; color: #ffffff; cursor: pointer; font-weight: 700; line-height: 30px; font-size: 2.2rem; }
header .main .left .btn img { width: 36px; height: 15px; }
header .main .left .btn:before { border-radius: inherit; background-image: linear-gradient(160deg, #44cbd4, #2881ef); content: ""; display: block; height: 100%; position: absolute; top: 0; left: 0; opacity: 0; width: 100%; z-index: -100; transition: opacity 0.3s; }
header .main .left .btn:hover:before { opacity: 1; }
header .main .right .slider-2 { position: absolute; left: 45%; top: 16%; width: 45%; z-index: 10; }
header .main .right .slider-2 .slide { height: 100vh; }
header .main .right .slider-2 .slide img:nth-child(1) { position: absolute; top: 0; left: 0; width: 100%; animation: laptop 3s 1; }
header .main .right .slider-2 .slide img:nth-child(2) { width: 50%; position: absolute; z-index: 1000000; right: -50px; top: 130px; animation: phone 5s 1; }
header .main .right .slider-count { display: flex; position: absolute; right: 30px; top: 47%; font-size: 4rem; font-weight: 500; align-items: center; animation: header 2s 1; }
header .main .right .slider-count p { margin-right: 7px; color: #3a54b1; }
header .main .right .slider-count .row { display: flex; align-items: center; }
header .main .right .slider-count .row p { margin: 0; color: #b6becd !important; }
header .main .right .slider-count .row sup { font-size: 2rem; font-weight: 400; margin-bottom: 10px; margin-left: 7px; color: #b6becd; }
header .main .right .bg-container { position: absolute; left: 52%; top: 17%; animation: hbg 2s 1; }
header .main .right .bg-container .hbg { position: absolute; left: 0; top: 0; width: 450px; height: 450px; z-index: 0; }
header .bottom { position: absolute; display: flex; text-align: center; bottom: 0; left: 50%; animation: header 2s 1; margin-left: -230px; }
header .bottom p { margin: 0 80px; color: #b6becd; font-size: 1.4rem; font-weight: 400; line-height: 40px; text-transform: uppercase; letter-spacing: 11.2px; }
header .bottom img { position: absolute; width: 237px; height: 68px; bottom: 0; left: 50%; margin-left: -130px; z-index: 0; }
header .bottom:after { content: url("../img/after-icon.png"); position: absolute; width: 44px; height: 44px; left: 50%; margin-left: -30px; bottom: 0; z-index: 10; animation: header-after 0.7s infinite alternate; }

.arrows { position: absolute; bottom: -80px; right: 350px; border: none; outline: none; cursor: pointer; display: flex; }
.arrows img { border-radius: 50% 50% 50% 50% !important; box-shadow: 0px 0px 30px -8px rgba(0, 0, 0, 0.9); }
.arrows .next-arrow { margin-left: 10px; }

.slider-2 .slick-prev { display: none !important; }

.show { position: absolute; z-index: 2; top: 70px; right: 20px; height: 35px; width: 35px; border-radius: 30px; cursor: pointer; -webkit-transition: all 0.25s ease; -o-transition: all 0.25s ease; transition: all 0.25s ease; background: linear-gradient(to left, #00d3de 0%, #7167f2 100%); box-shadow: 0px 0px 30px 0px #7167f2; }

.wrapp { position: relative; width: 100%; height: 100%; }

.show-wrap { position: relative; }

.show-wrap:before { content: ""; position: absolute; width: 5px; height: 5px; border-right: 2px solid #fff; border-bottom: 2px solid #fff; transform: rotate(-45deg); top: 14px; left: 13px; }

circle { fill: none !important; stroke-width: 4px; stroke-dasharray: 339.292; stroke-dashoffset: 339.292; stroke: #FFF; }

.progress.active circle { transition: stroke-dashoffset 4s linear; stroke-dashoffset: 0; }

@keyframes header-after { from { bottom: 0; }
  to { bottom: 10px; } }
@keyframes after-1 { from { top: 50%; left: 40%; }
  to { top: 53%; left: 41%; } }
@keyframes after-2 { from { right: 10%; top: 30%; }
  to { right: 9%; top: 29%; } }
@keyframes after-3 { from { bottom: 10%; left: 10%; }
  to { bottom: 7%; left: 9.5%; } }
@keyframes after-4 { from { top: 10%; left: 50%; }
  to { bottom: 9%; left: 53%; } }
@keyframes slider { from { top: 50em; opacity: 0; }
  to { top: 16%; opacity: 1; } }
@keyframes menu-btn { from { left: -10em; opacity: 0; }
  to { left: 0; opacity: 1; } }
@keyframes main { from { transform: rotateY(90deg); }
  to { transform: rotateY(0); } }
@keyframes header { from { opacity: 0; }
  to { opacity: 1; } }
@keyframes preloader { 0% { opacity: 1; }
  100% { opacity: 0; } }
@keyframes sub-bg { from { transform: scale(1); }
  to { transform: scale(100); } }
@keyframes laptop { from { top: 100em; }
  to { top: 0; } }
@keyframes phone { from { top: 150em; }
  to { top: 130px; } }
@keyframes hbg { from { top: 50em; }
  to { top: 17%; } }
@media screen and (max-width: 1920px) { .hbg { width: 650px !important; height: 650px !important; } }
@media screen and (max-width: 1820px) { .hbg { width: 630px !important; height: 630px !important; left: 50%; top: 15%; } }
@media screen and (max-width: 1790px) { .hbg { width: 600px !important; height: 600px !important; } }
@media screen and (max-width: 1650px) { .hbg { width: 550px !important; height: 550px !important; } }
@media screen and (max-width: 1520px) { .hbg { width: 530px !important; height: 530px !important; left: 48%; top: 13%; } }
@media screen and (max-width: 1370px) { .hbg { width: 500px !important; height: 500px !important; } }
@media screen and (max-width: 1240px) { .hbg { width: 450px !important; height: 450px !important; }
  .btn { padding: 10px 15px !important; width: 70% !important; } }
@media screen and (max-width: 1070px) { .hbg { width: 400px !important; height: 400px !important; } }
