* {
	padding: 0;
	margin: 0;
	text-decoration: none;
	box-sizing: border-box;
}
@font-face {
	font-family: avenirnext;
	src: url(../font/avenirnextcyr-regular.ttf);
}
body {
	font-family: avenirnext;
}
.container {
	width: 1196px;
	margin: 0 auto;
}
/* Video */
.video-popup {
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	display: none;
}
.video-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	z-index: -1;
}
.video-popup.active {
	display: flex;
}
.video-container {
	height: calc(100% - 200px);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}
.video {
	max-height: 100%;
	max-width: 100%;
}
.video-close {
	position: absolute;
	top: -10px;
	right: 0;
	transform: translateY(-100%);
	display: flex;
	align-items: center;
	justify-content: flex-end;
	cursor: pointer;
}
.video-close p {
	color: #fff;
	font-size: 18px;
	margin-right: 10px;
	transition: 0.3s;
}
.video-close svg {
	width: 24px;
}
/*Header*/
.header {
	background: #2272BC;
	padding: 15px 0;
}
.header .container {
	position: relative;
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.pda-logo a {
	position: absolute;
	top: 0;
	left: 0;
	width: 115px;
	height: 100%;
	z-index: 1000;
}
.header a {
	font-size: 15px;
	color: #fff;
	text-decoration-line: underline;
}
.header a:hover {
	text-decoration: none;
}
/* Banner */
.banner {
	padding: 205px 0;
	background-image: url(../img/banner-bg.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.banner .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.banner-title {
	text-align: center;
	text-transform: uppercase;
	font-size: 100px;
	color: #fff;
	margin-bottom: 62px;
}
.banner-icon {
	cursor: pointer;
	width: 106px;
}
.banner-icon path {
	transition: fill 0.3s;
}
.banner-icon:hover path {
	fill: #B2B2B2;
}
/* Menu */
.menu {
	padding: 24px 0;
	border-bottom: 1px solid #DDDDDD;
}
.menu .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.menu-logo {
	width: 103px;
}
.menu-list {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	list-style: none;
}
.menu-item {
	margin-left: 60px;
	position: relative;
}
.menu-item:after {
	content: '';
	position: absolute;
	bottom: -25px;
	left: 0;
	width: 0;
	height: 2px;
	background: #000;
	transition: width 0.3s;
}
.menu-item.active:after {
	width: 100%;
}
.menu-item:hover:after {
	width: 100%;
}
.menu-item a {
	color: #000;
	font-size: 20px;
}
/* About */
.about {
	padding: 140px 0;
}
.about-title {
	font-size: 60px;
	margin-bottom: 40px;
}
.about-description {
	font-size: 26px;
	margin-bottom: 60px;
}
.about-row {
	display: flex;
}
.about-text {
	font-size: 18px;
	line-height: 28px;
}
.about-images {
	min-width: 50%;
	margin-left: 100px;
}
.about-image {
	width: 100%;
}
.about-image:nth-child(2) {
	display: none;
	margin-top: 10px;
}
.about-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	margin-top: 140px;
}
.about-grid-item {
	padding-right: 100px;
}
.about-grid-title {
	font-size: 36px;
	margin-bottom: 20px;
}
/* Info */
.info {
	padding: 140px 0;
	background: #F2F2F2;
}
.info .container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 80px 60px;
}
.info-value {
	font-size: 60px;
	margin-bottom: 10px;
}
.info-title {
	font-size: 18px;
}
/* Social */
.social {
	padding: 140px 0 70px 0;
}
.social-title {
	font-size: 36px;
	margin-bottom: 40px;
	text-align: center;
}
.social-list {
	display: flex;
	align-items: center;
	justify-content: center;
}
.social-link {
	margin: 0 10px;
}
.social-icon {
	width: 54px;
}
.social-icon path,
.social-icon circle {
	transition: 0.3s;
}
.social-link:hover path {
	fill: #000;
}
.social-link:hover circle {
	stroke: #000;
}
.social-link:last-child:hover path:first-child {
	fill: none;
	stroke: #000;
}
/* Footer */
.footer {
	padding: 70px 0 140px 0;
}
.footer-text {
	font-size: 12px;
	text-align: center;
}
/* Media */
@media screen and (max-width: 1219px) {
	.container {
		width: 978px;
	}
	.banner {
		padding: 130px 0;
	}
	.banner-title {
		font-size: 60px;
		margin-bottom: 40px;
	}
	.banner-icon {
		width: 68px;
	}
	.video-container {
		height: auto;
		max-height: calc(100% - 120px);
		max-width: calc(100% - 212px);
	}
	.video-close p {
		font-size: 16px;
	}
	.video-close svg {
		width: 20px;
	}
	.menu-item {
		margin-left: 40px;
	}
	.menu-item a {
		font-size: 16px;
	}
	.about {
		padding: 120px 0;
	}
	.about-title {
		font-size: 42px;
		margin-bottom: 30px;
	}
	.about-description {
		font-size: 22px;
		margin-bottom: 50px;
	}
	.about-text {
		font-size: 16px;
		line-height: 26px;
	}
	.about-grid {
		margin-top: 120px;
	}
	.about-grid-title {
		font-size: 30px;
	}
	.info {
		padding: 120px 0;
	}
	.info-value {
		font-size: 42px;
	}
	.info-title {
		font-size: 16px;
	}
	.social {
		padding: 120px 0 60px 0;
	}
	.social-title {
		font-size: 42px;
	}
	.social-icon {
		width: 46px;
	}
	.footer {
		padding: 60px 0 120px 0;
	}
}
@media screen and (max-width: 997px) {
	.container {
		width: 744px;
	}
	.banner {
		padding: 107px 0;
	}
	.banner-title {
		font-size: 50px;
		margin-bottom: 30px;
	}
	.banner-icon {
		width: 54px;
	}
	.video-container {
		max-height: calc(100% - 120px);
		max-width: calc(100% - 215px);
	}
	.video-close p {
		font-size: 14px;
		margin-right: 10px;
	}
	.video-close svg {
		width: 16px;
	}
	.menu-item {
		margin-left: 30px;
	}
	.menu-item a {
		font-size: 16px;
	}
	.about {
		padding: 100px 0;
	}
	.about-title {
		font-size: 38px;
		margin-bottom: 20px;
	}
	.about-description {
		font-size: 20px;
		margin-bottom: 40px;
	}
	.about-text {
		font-size: 16px;
		line-height: 26px;
	}
	.about-images {
		margin-left: 50px;
	}
	.about-image:nth-child(2) {
		display: block;
	}
	.about-grid {
		margin-top: 100px;
	}
	.about-grid-title {
		font-size: 26px;
	}
	.about-grid-item {
		padding-right: 40px;
	}
	.info {
		padding: 100px 0;
	}
	.info-value {
		font-size: 38px;
	}
	.info-title {
		font-size: 16px;
	}
	.social {
		padding: 100px 0 50px 0;
	}
	.social-title {
		font-size: 38px;
		margin-bottom: 30px;
	}
	.social-icon {
		width: 38px;
	}
	.footer {
		padding: 50px 0 100px 0;
	}
}
@media screen and (max-width: 767px) {
	.container {
		width: 100%;
		padding: 0 45px;
	}
	.banner {
		padding: 70px 0;
	}
	.banner-title {
		font-size: 50px;
		margin-bottom: 30px;
	}
	.banner-icon {
		width: 54px;
	}
	.video-container {
		max-height: calc(100% - 80px);
		max-width: calc(100% - 140px);
	}
	.video-close p {
		font-size: 12px;
		margin-right: 10px;
	}
	.video-close svg {
		width: 14px;
	}
	.menu-item {
		margin-left: 24px;
	}
	.menu-item a {
		font-size: 16px;
	}
	.about {
		padding: 100px 0;
	}
	.about-title {
		font-size: 38px;
		margin-bottom: 20px;
	}
	.about-description {
		font-size: 20px;
		margin-bottom: 40px;
	}
	.about-text {
		font-size: 16px;
		line-height: 26px;
	}
	.about-images {
		margin-left: 30px;
	}
	.about-grid {
		margin-top: 80px;
	}
	.about-grid-title {
		font-size: 26px;
	}
	.about-grid-item {
		padding-right: 30px;
	}
	.info {
		padding: 80px 0;
	}
	.info-value {
		font-size: 38px;
	}
	.info-title {
		font-size: 16px;
	}
	.social {
		padding: 80px 0 40px 0;
	}
	.social-title {
		font-size: 38px;
		margin-bottom: 30px;
	}
	.social-icon {
		width: 38px;
	}
	.footer {
		padding: 40px 0 80px 0;
	}
}
@media screen and (max-width: 700px) {
	.container {
		padding: 0 20px;
	}
	.banner {
		padding: 280px 0;
	}
	.banner-title {
		font-size: 50px;
		margin-bottom: 30px;
	}
	.banner-icon {
		width: 54px;
	}
	.video-container {
		max-height: calc(100% - 80px);
		max-width: calc(100% - 140px);
	}
	.video-close p {
		font-size: 10px;
		margin-right: 10px;
	}
	.video-close svg {
		width: 14px;
	}
	.menu {
		border-bottom: none;
	}
	.menu .container {
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
	}
	.menu-list {
		flex-direction: column;
		align-items: flex-start;
		width: 100%;
	}
	.menu-logo {
		margin-bottom: 20px;
	}
	.menu-item {
		margin-left: 0;
		width: 100%;
	}
	.menu-item:after {
		display: none;
	}
	.menu-item a {
		display: flex;
		padding: 10px 0;
		border-bottom: 1px solid #DDDDDD;
		transition: border 0.3s;
	}
	.menu-item a:hover {
		border-color: #000;
	}
	.about {
		padding: 80px 0;
	}
	.about-title {
		font-size: 38px;
		margin-bottom: 20px;
	}
	.about-description {
		font-size: 20px;
		margin-bottom: 40px;
	}
	.about-text {
		font-size: 16px;
		line-height: 26px;
	}
	.about-row {
		flex-direction: column;
	}
	.about-images {
		margin-left: 0;
		margin-top: 40px;
		width: 100%;
		min-width: 100%;
	}
	.about-image:nth-child(2) {
		display: none;
	}
	.about-grid {
		margin-top: 80px;
		grid-template-columns: 1fr;
		grid-gap: 60px;
	}
	.about-grid-title {
		font-size: 26px;
	}
	.about-grid-item {
		padding-right: 0px;
	}
	.info {
		padding: 80px 0px;
	}
	.info .container {
		width: 460px;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 50px 40px;
	}
	.info-value {
		font-size: 38px;
	}
	.info-title {
		font-size: 16px;
	}
	.social {
		padding: 80px 0 40px 0;
	}
	.social-title {
		font-size: 38px;
		margin-bottom: 20px;
	}
	.social-icon {
		width: 38px;
	}
	.footer {
		padding: 40px 0 80px 0;
	}
}
@media screen and (max-width: 459px) {
	.container {
		padding: 0 10px;
	}
	.banner {
		padding: 110px 0;
	}
	.banner-title {
		font-size: 38px;
		margin-bottom: 20px;
	}
	.banner-icon {
		width: 48px;
	}
	.video-container {
		max-height: 100%;
		max-width: 100%;
	}
	.about {
		padding: 60px 0;
	}
	.about-title {
		font-size: 33px;
	}
	.about-text {
		font-size: 15px;
		line-height: 24px;
	}
	.about-images {
		margin-top: 40px;
	}
	.about-grid {
		margin-top: 60px;
	}
	.info {
		padding: 60px 0;
	}
	.info .container {
		width: 100%;
		padding: 0 10px;
		grid-gap: 40px;
	}
	.info-title {
		font-size: 15px;
	}
	.social {
		padding: 60px 0 30px 0;
	}
	.social-title {
		font-size: 33px;
		margin-bottom: 20px;
	}
	.social-link {
		margin: 0 7px;
	}
	.social-icon {
		width: 34px;
	}
	.footer {
		padding: 30px 0 60px 0;
	}
}