:root {
	--grey: #EFEFEF;
	--white: #2c3e50;
	--green: rgb(0, 137, 123);
	--red: #D50000;
	--titles: #2c3e50;
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
a[class] {
	text-decoration: none;
}
ul[class] {
	text-decoration: none;
}
body {
	font-family: sans-serif;
}
.container {
	width: 1200px;
	margin: 0 auto;
}
.container-row {
	display: flex;
	justify-content: space-between;
	margin: 40px 0;
}
.container-row-left {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc(50% - 10px);
}
.container-row-right {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc(50% - 10px);
}
.container-row.column {
	flex-direction: column;
	align-items: flex-start;
}
.container-row-left.column,
.container-row-right.column {
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}
.date-input {
	padding: 10px;
	border-radius: 5px;
	background-color: var(--grey);
	color: var(--white);
	font-size: 16px;
	outline: none;
	border: none;
	width: 100%;
	text-align: center;
	box-shadow: 0 2px 5px 2px rgba(0,0,0,0.2);
	min-height: 44px;
}
.date-input__row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.date-input__title {
	width: calc(50% - 2px);
	text-align: center;
	background-color: var(--grey);
	color: var(--white);
	padding: 10px;
}
.main-choice {
	width: calc(50% - 10px);
	margin-bottom: 0;
	border-radius: 5px;
	box-shadow: 0 2px 5px 2px rgb(0 0 0 / 20%);
}
.choices__inner {
	padding: 10px !important;
	border: none !important;
	background-color: var(--grey) !important;
	border-radius: 5px;
}
.free-selection .main-choice {
	width: calc(33.33% - 10px);
}
.main-title {
	display: flex;
	align-items: center;
	font-size: 30px;
	text-transform: uppercase;
	color: #2c3e50;
	margin-bottom: 20px;
}
.main-title-icon {
	width: 60px;
	height: auto;
	margin-right: 20px;
}
.main-table {
	width: 100%;
	border-collapse: collapse;
}
.main-table-without {
	width: calc(100% + 80px);
	right: 80px;
	position: relative;
}
.main-table-head-row-item {
	font-size: 16px;
	text-align: center;
	padding: 10px;
	border: 1px solid #bdc3c7;
	border-width: 0 1px 0 1px;
}
.main-table-head-row-item:first-child,
.main-table-head-row-item:last-child {
	border: none;
}
.main-table-body-row-item {
	padding: 20px 10px 20px 10px;
	background-color: var(--grey);
	color: var(--white);
	border-right: 1px solid #bdc3c7;
	border-left: 1px solid #bdc3c7;
	position: relative;
}
.main-table-body-row-item {
	width: 33.33%;
}
.main-table-without .main-table-body-row-item {
	width: 29%;
}
.main-table-body-row-item:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 10px;
	background-color: #fff;
}
.main-table-without .main-table-body-row-item:first-child {
	text-transform: uppercase;
	background-color: #fff;
	color: #000;
}
.main-table-body-row-item {
	border-left: none;
}
.main-table-body-row-item:last-child {
	border-right: none;
}
.container-row-right .main-table-body-row-item {
	background-color: var(--grey);
	color: var(--white);
}
.main-table-without .main-table-body-row-item:first-child {
	max-width: 80px;
	width: 80px;
}
.table-value-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.table-value {
	margin-bottom: 10px;
	font-size: 20px;
}
.table-value-change {
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.table-value-up .table-value-change {
	color: var(--green);
}
.table-value-down .table-value-change {
	color: var(--red);
}
.graphic__title {
	text-align: center;
	font-size: 20px;
	width: 100%;
	color: var(--titles);
	margin-bottom: 20px;
	margin-top: 20px;
}
.graphic {
	margin-bottom: 40px;
}
.container > .main-title {
	text-align: center;
	justify-content: center;
}
.main-title-center {
	text-align: center;
	justify-content: center;
	width: 100%;
}
.main-values-grid {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-gap: 10px;
	margin-bottom: 20px;
	width: 100%;
}
.main-values-grid-one {
	width: 33%;
	grid-template-columns: 1fr;
	margin-right: auto;
	margin-left: auto;
}
.main-values-grid-three {
	width: 100%;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 100px;
}
.main-values-grid-four {
	width: 100%;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 100px;
}
.main-values-grid-two {
	width: 80%;
	grid-template-columns: repeat(2, 1fr);
	margin-right: auto;
	margin-left: auto;
	grid-gap: 50px;
}
.main-values-grid__item {
	width: 100%;
	background-color: var(--grey);
	border-radius: 10px;
}
.main-values-grid__item-title {
	width: 100%;
	padding: 10px;
	border-radius: 10px;
	background-color: rgb(3, 155, 229);
	color: #fff;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	min-height: 83px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
.main-values-grid-blue .main-values-grid__item-title {
	background-color: rgb(3, 155, 229);
}
.main-values-grid-orange .main-values-grid__item-title {
	background-color: #f18d2a;
}
.main-values-grid__item-value {
	min-height: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: 26px;
	color: #000;
	padding: 10px;
}
.main-table-list-container {
	width: 100%;
	max-height: 500px;
	overflow-y: scroll;
	margin-bottom: 20px;
}
.main-table-list-custom {
	position: relative;
	width: 100%;
}
.custom-table-header {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	background-color: var(--grey);
	z-index: 99;
}
.main-table-list-custom-orange .custom-table-header {
	background-color: #f18d2a;
}
.main-table-list-container-salary {
	padding-bottom: 50px;
}
.main-table-list {
	width: 100%;
	border-collapse: collapse;
}
.main-table-list thead {
	background-color: var(--grey);
}
.main-table-list thead td,
.custom-table-header-td {
	border: none;
	font-size: 16px;
	padding: 10px;
	font-weight: 600;
}
.main-table-list tbody td {
	border-bottom: 1px solid var(--grey);
	padding: 10px;
}
.main-table-list-orange thead {
	background: #f18d2a;
}
.main-table-list-green thead {
	background-color: #81C784;
}
.averange-salary {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin: 20px 0;
	background-color: var(--grey);
	padding: 10px 20px;
	font-size: 22px;
	border-top: 10px solid rgb(3, 155, 229);
}
.averange-salary-value {
	font-weight: 700;
	font-size: 26px;
}
.main-table-list-salary-container {
	padding: 0 !important;
	position: relative;
	height: calc(100% + 21px);
	min-width: 750px;
}
.salary-chart {
	position: absolute;
	top: -13px;
	left: 0;
	width: 100%;
	height: calc(100% + 21px);
}
.salary-slider-controls {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	margin-bottom: 20px;
}
.salary-slider-prev {
	width: 15px;
	cursor: pointer;
	margin-right: 20px;
}
.salary-slider-next {
	width: 15px;
	cursor: pointer;
}
.salary-slider-controls-icon {
	width: 100%;
	height: auto;
}
.main-grid {
	width: 100%;
	display: grid;
	grid-template-columns: 10% 30% 30% 30%;
	grid-row-gap: 20px;
	margin-bottom: 20px;
}
.main-grid-item-title {
	background-color: rgb(3, 155, 229);
	color: #fff;
	text-align: center;
	font-size: 20px;
	font-weight: 500;
	padding: 10px;
	margin: 0 10px;
}
.main-grid-item:nth-child(5),
.main-grid-item:nth-child(6),
.main-grid-item:nth-child(7),
.main-grid-item:nth-child(8) {
	background-color: #F5CBF0;
}
.main-grid-item:nth-child(9),
.main-grid-item:nth-child(10),
.main-grid-item:nth-child(11),
.main-grid-item:nth-child(12) {
	background-color: #B6ECDA;
}
.main-grid-item-title-left {
	color: #fff;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 700;
	padding: 10px;
	word-wrap: break-word;
	width: .7em;
}
.main-grid-item-grid {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 10px;
	background-color: var(--grey);
	margin: 10px;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	grid-gap: 10px;
}
.main-grid-item-grid-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.main-grid-item-grid-item__title {
	font-size: 16px;
	margin-bottom: 10px;
}
.main-grid-item-grid-item__value {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 10px;
}
.main-grid-item-grid-item__change {
	font-size: 14px;
}
.main-grid-item-grid-item-down .main-grid-item-grid-item__change {
	color: var(--red);
}
.main-grid-item-grid-item-up .main-grid-item-grid-item__change {
	color: var(--green);
}
.main-selection-left {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 50px 0 20px;
}
.container-row-left-two {
	width: calc(60% - 10px);
}
.container-row-right-two {
	width: calc(40% - 10px);
}
.main-hours-grid {
	display: grid;
	grid-gap: 10px;
}
.main-hours-grid-three {
	grid-template-columns: repeat(3, 1fr);
}
.main-hours-grid-three .main-hours-grid-item-legend:nth-child(2) {
	grid-column-start: 2;
	grid-column-end: 4;
}
.main-hours-grid-four {
	grid-template-columns: repeat(4, 1fr);
}
.main-hours-grid-four .main-hours-grid-item-legend:nth-child(2) {
	grid-column-start: 2;
	grid-column-end: 5;
}
.main-hours-grid-item__title {
	color: #fff;
	font-size: 18px;
	font-weight: 500;
	background: #64B5F6;
	padding: 10px;
}
.main-hours-grid-item-legend .main-hours-grid-item__title {
	background-color: #4285F4;
}
.main-hours-grid-item__title.main-hours-grid-item__title-student {
	background-color: #999999;
}
.main-hours-grid-item__value {
	background-color: #EFEFEF;
	padding: 10px;
	font-size: 22px;
	font-weight: 500;
	text-align: center;
}
.tables-slider-controls {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	margin-bottom: 20px;
}
.tables-slider-prev {
	width: 15px;
	cursor: pointer;
	margin-right: 20px;
}
.tables-slider-next {
	width: 15px;
	cursor: pointer;
}
.tables-slider-controls-icon {
	width: 100%;
	height: auto;
}
.summ {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}
.summ-title {
	font-size: 16px;
	margin-bottom: 10px;
}
.summ-value {
	font-size: 30px;
}
.dolya-container {
	height: 500px;
	margin-bottom: 40px;
}
.dolya-diagram-container {
	width: 50%;
	height: auto;
}
.four-select-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.four-select-container > * {
	width: calc(25% - 20px) !important;
}
.lines-container {
	height: 600px;
	width: 100%;
	margin-bottom: 40px;
}