@media(max-width: 1472px) { html { font-size: 8px; } }
@media(max-width: 1200px) { html { font-size: 7px; } }
@media(max-width: 1085px) { html { font-size: 6.5px; } }
@media(max-width: 1040px) { html { font-size: 6px; } }
@media(max-width: 990px) { html { font-size: 5px; } }
@media(max-width: 900px) { html { font-size: 10px; }
  header { -webkit-box-orient: vertical !important; -webkit-box-direction: normal !important; -ms-flex-direction: column !important; flex-direction: column !important; background-image: url("../img/mobile-header-bg.jpg") !important; }
  header .left-block { display: -webkit-box !important; display: -ms-flexbox !important; display: flex !important; -webkit-box-orient: horizontal !important; -webkit-box-direction: normal !important; -ms-flex-direction: row !important; flex-direction: row !important; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; -webkit-box-align: start; -ms-flex-align: start; align-items: flex-start; padding: 20px; }
  .fa-bars { display: block !important; }
  .contacts { display: none !important; }
  .left-contacts { display: none !important; }
  .leader-button { display: none; }
  .container { width: 100%; }
  .menu { display: none !important; }
  .call-button-mobile { display: block; }
  .mobile-contacts { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .slider { width: 80% !important; }
  .slider .card { padding-bottom: 200px; }
  .slider .card h1 { font-size: 3rem !important; margin-top: 60px !important; font-weight: 700 !important; }
  .slider .card span { font-size: 3rem !important; }
  .bottom-mobile-contacts { display: -webkit-box !important; display: -ms-flexbox !important; display: flex !important; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
  .description .desc-block { width: 95% !important; }
  .description .desc-block h3 { width: 100% !important; }
  .description .desc-block img { position: relative !important; display: block; left: 0 !important; margin: 0 auto !important; }
  .description .desc-block p { margin: 20px 0 !important; padding: 0 !important; width: 100% !important; border: none !important; }
  .cards { grid-template-columns: 0 1fr 0 !important; grid-template-rows: 0.7fr 0.5fr 0.7fr !important; }
  .cards .card1 { grid-row-start: 1 !important; grid-row-end: 2 !important; grid-column-start: 2 !important; grid-column-end: 3 !important; }
  .cards .card2 { grid-row-start: 2 !important; grid-row-end: 3 !important; }
  .cards .card3 { grid-row-start: 3 !important; grid-row-end: 4 !important; grid-column-start: 2 !important; grid-column-end: 3 !important; }
  #calc > .container > .description { margin-top: 20px !important; }
  .slick-arrow { top: -50px !important; background-color: rgba(30, 30, 31, 0.7); padding: 25px; }
  .slick-next { position: absolute !important; right: 2% !important; z-index: 50; }
  .slick-next:hover { background-color: rgba(30, 30, 31, 0.7) !important; }
  .slick-next:before { position: absolute; top: 30%; right: 30%; color: #ffffff !important; }
  .slick-prev { position: absolute !important; left: 2% !important; z-index: 50; }
  .slick-prev:hover { background-color: rgba(30, 30, 31, 0.7) !important; }
  .slick-prev:before { position: absolute; top: 30%; left: 30%; color: #ffffff !important; }
  #calc .footer-slider .slide { padding-left: 50px !important; padding-right: 50px !important; padding-bottom: 50px !important; }
  #calc .footer-slider .slide h3 { margin-top: 300px !important; font-size: 4rem; }
  #calc .footer-slider .slide p { font-size: 3rem; }
  #calc .footer-slider .slide p > span { font-size: 3.5rem; }
  #calc .footer-slider .slide a { font-size: 2.5rem; }
  #calc2 .calculator-main form { padding-top: 0 !important; margin-bottom: 30px !important; }
  #calc2 .calculator-main form legend { display: none; }
  #calc2 .calculator-main form label { font-size: 2.5rem !important; }
  #calc2 .calculator-main form .form-container { -webkit-box-orient: vertical !important; -webkit-box-direction: normal !important; -ms-flex-direction: column !important; flex-direction: column !important; }
  #calc2 .calculator-main form img { display: none; }
  #calc2 .calculator-main h2 { display: block !important; }
  .grid-container { grid-template-columns: 1fr 1fr 0 !important; grid-template-rows: 1fr 1fr 1fr 2fr !important; }
  .grid-container .image-2 { grid-column-start: 1 !important; grid-column-end: 3 !important; }
  .grid-container .image-3 { grid-column-start: 1 !important; grid-column-end: 2 !important; grid-row-start: 2 !important; grid-row-end: 3 !important; }
  .grid-container .image-6 { grid-column-start: 2 !important; grid-column-end: 3 !important; grid-row-start: 2 !important; grid-row-end: 3 !important; }
  .grid-container .image-4 { grid-column-start: 1 !important; grid-column-end: 2 !important; grid-row-start: 3 !important; grid-row-end: 4 !important; }
  .grid-container .image-5 { grid-column-start: 2 !important; grid-column-end: 3 !important; grid-row-start: 3 !important; grid-row-end: 4 !important; }
  .grid-container .image-1 { grid-column-start: 1 !important; grid-column-end: 2 !important; grid-row-start: 4 !important; grid-row-end: 5 !important; }
  footer .row { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }
@media(max-width: 780px) { html { font-size: 9px; } }
@media(max-width: 710px) { html { font-size: 8px; } }
@media(max-width: 450px) { html { font-size: 7px; } }
@media(max-width: 403px) { html { font-size: 6px; } }
@media(max-width: 360px) { html { font-size: 4px; } }
