*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	overflow: none;
}
body{
	font-family: 'Roboto', sans-serif;
}
.none{
	display: none !important;
}
.block{
	display: block !important;
}
.container{
	width: 85%;
	margin: 0 auto;
}
#header{
	position: fixed;
	background: #ffffff;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
}
#header>.container{
	display: flex;
	justify-content: flex-start;
	padding: 10px 20px;
	align-items: center;
	position: relative;
}
#header:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: #FE1E14;
}
.logo{
	width: 13%;
}
.logo>img{
	width: 100%;
}
.menu>nav>ul{
	display: flex;
}
.menu>nav>ul>li{
	margin-left: 30px;
}
.menu>nav>ul>li>a{
	font-size: 20px;
	color: #000000;
	position: relative;
}
.menu>nav>ul>li>a:after{
	content: '';
	width: 0%;
	height: 3px;
	position: absolute;
	left: 0;
	bottom: -4px;
	background: #000000;
	transition: 0.5s;
}
.menu>nav>ul>li>a:hover:after{
	width: 100%;
}
#video{
	width: 100%;
	height: 100%;
	position: relative;
}
#video::after{
	content: '';
	position: absolute;
	left: 0;
	bottom: 0px;
	width: 100%;
	height: 50px;
	background: #ffffff;
	z-index: 1000;
}
#video>.yt-overlay{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}
#video>.yt-overlay>h1{
	color: #ffffff;
	font-weight: 500;
	font-size: 50px;
	width: 40%;
	margin-left: 40px;
}
#video>.yt-overlay>h4{
	color: #ffffff;
	font-weight: 300;
	font-size: 30px;
	width: 40%;
	margin-left: 40px;
}
#video>iframe{
	width: 100%;
	z-index: 1;
}
#main>.container{
	padding: 0 20px;
	text-align: center;
}
#main>.container>h1{
	font-weight: 300;
	font-size: 36px;
	color: #1d2127;
	margin-top: 50px;
}
#main>.container>h4{
	font-weight: 300;
	font-size: 30px;
	color: #1d2127;
	margin-top: 20px;
}
#main>.container>p{
	margin-top: 30px;
	font-weight: 300;
	font-size: 20px;
	color: #1d2127;
}
#main>.container>p>span{
	color: #FE1E14;
}
#job>.container{
	padding: 0 20px;
}
#job>.container>.wpb_wrapper{
	margin-top: 60px;
}
.wpb_wrapper>h3, .wpb_wrapper>h4, .wpb_wrapper>h5{
	color: #1d2127;
	font-size: 24px;
	font-weight: 400;
}
.wpb_wrapper>ul{
	margin: 20px 40px;
}
.wpb_wrapper>ul>li{
	color: #777;
	margin: 7px 0;
	font-weight: 400;
	font-size: 16px;
	list-style: disc;
}
.wpb_wrapper>p{
	color: #777;
	margin: 15px 0;
	font-weight: 400;
	font-size: 16px;
}
.blocks{
	position: absolute;
	width: 60%;
	height: 100%;
	z-index: 5;
	top: -30px;
	right: 0px;
}
.blocks>.row{
	height: 50%;
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
}
.blocks>.row>.block{
	width: 100%;
	position: relative;
	height: calc(100% - 40px);
	border: solid 0.5px #d7d7d7;
	text-align: center;
	background: rgba(0,0,0,0.5);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 20px;
	margin: 20px 0;
	transition: 0.5s;
}
.blocks>.row>.block>a{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 6;
}
.blocks>.row>.block:hover{
	background: rgba(125,125,125,0.6);
}
.blocks>.row>.block>.img{
	width: 60%;
	margin: 0 auto
}
.blocks>.row>.block>.img>img{
	width: 100%;
}
.blocks>.row>.block>.col>h3{
	font-size: 30px;
	color: #ffffff;
	font-weight: 300;
}
.blocks>.row>.block>.col>p{
	margin: 10px 0;
	font-size: 17px;
	color: #ffffff;
	font-weight: 400;
}
.blocks>.row>.block>.col>.btn{
	margin-top: 20px;
}
.blocks>.row>.block>.col>.btn>a{
	color: #ffffff;
	background: #FE1E14;
	padding: 10px 20px;
	border-radius: 20px;
	box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
	transition: 0.5s;
}
.blocks>.row>.block>.col>.btn>a:hover{
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
footer{
	background: #bbbbbb;
	margin-top: 40px;
	padding: 15px 0;
}
footer>.container>p{
	color: #555555;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
}


#main>.container>h2{
	text-align: center;
	font-weight: 700;
	color: #777;
	font-size: 30px;
	margin-top: 100px;
}
#main>.container>h3{
	text-align: center;
	font-weight: 700;
	color: #777;
	font-size: 30px;
	margin-top: 50px;
}
table{
	width: 100%;
	margin-top: 50px;
	overflow: scroll;
}
table>tbody>tr>td{
	padding: 10px;
	background: #f1f1f1;
}
table>tbody>tr:nth-child(1)>td{
	background: #777;
	color: #ffffff;
}
table>tbody>tr>td:nth-child(1){
	text-align: left;
}

.head{
	width: 100%;
	padding: 200px 0;
	background: url('../img/laptop-bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: #777;
}
.lenovo{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.lenovo>img{
	width: 40%;
}

#contacts>.container>h1{
	text-align: center;
	margin-top: 150px;
	font-weight: 600;
	font-size: 35px;
	color: #777;
}
.contact{
	margin-top: 50px;
	border: 1px solid #CCCCCC;
}
.contact>.row{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 40px;
	padding: 0 20px;
}
.contact>.row:nth-child(1){
	background: #E9E9E9;
	justify-content: flex-start;
	padding: 10px 0;
	position: relative;
	border-bottom: 1px solid #CCCCCC;
}
.contact>.row:nth-child(1)>h3{
	margin-left: 20px;
}
.contact>.row:nth-child(1)::before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 7px;
	height: 100%;
	background: #DC291E;
}
.contact>.row>.img{
	width: 40px;
	height: 40px;
}
.contact>.row>.img>img{
	width: 100%;
}
.contact>.row>i{
	font-size: 30px;
	padding: 5px;
	color: #3498db;
}
.contact>.row>a{
	color: #777;
	margin-left: 20px;
	text-decoration: none;
}
form {
  width: 50%;
  text-align: center;
  margin: 20px auto;
}
form input{
  border: 0;
  outline: 0;
  background: #F0F0F0;
  padding: 1em;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display: block;
  color: #777;
  width: 100%;
  font-size: 16px;
  margin-top: 1em;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  resize: none;
}
form input:focus, form textarea:focus {
  -moz-box-shadow: 0 0px 2px #FE1E14 !important;
  -webkit-box-shadow: 0 0px 2px #FE1E14 !important;
  box-shadow: 0 0px 2px #FE1E14 !important;
}
form #input-submit {
  color: white;
  background: #FE1E14;
  cursor: pointer;
  font-weight: 600;
  font-size: 17px;
  transition: 0.5s;
}
form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
.half {
  float: left;
  width: 95%;
  margin-bottom: 1em;
}
.right {
  width: 50%;
}
.left {
  margin-right: 2%;
}
@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.cf:after {
  clear: both;
}
.mobile-menu{
	display: none;
}



/* Media */
@media (max-width: 1100px){
	.yt-overlay>h1, .yt-overlay>h4{
		display: none;
	}
	#video>.blocks{
		width: 100%;
	}
	#header>.container{
		padding: 0;
		width: 100%;
	}
	#header::before{
		display: none;
	}
	#header{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.mobile-menu{
		z-index: 1000;
		display: block;
	}
	.mobile-menu>i{
		margin-right: 15px;
		font-size: 20px;
		color: #000000;
		cursor: pointer;
		transition: 0.5s;
		position: absolute;
		right: 5px;
		top: 5px;
	}
	#close{
		display: none;
	}
	.mobile-menu>nav{
		display: none;
		position: absolute;
		left: 0;
		top: 47px;
		height: calc(100vh - 47px);
		z-index: 100000000;
		background: #000;
		width: 100%;
	}
	.mobile-menu>nav>ul>li{
		background: #000000;
		border-top: 1px solid #ffffff;
		border-bottom: 1px solid #ffffff;
		padding: 20px 15px;
	}
	.mobile-menu>nav>ul>li>a{
		color: #ffffff;
		font-weight: 600;
		font-size: 20px;
		letter-spacing: 1.5px;
	}
}
@media (max-width: 980px){
	.half{
		width: 93%;
	}
}
@media (max-width: 740px){
	.half{
		width: 90%;
	}
}
@media (max-width: 580px){
	.half{
		width: 87%;
	}
}
@media (max-width: 450px){
	.half{
		width: 84%;
	}
}
@media (max-width: 770px){
	.mobile-menu>nav{
		top: 44px;
		height: calc(100vh - 44px);
	}
}
@media (max-width: 692px){
	.mobile-menu>nav{
		top: 40px;
		height: calc(100vh - 40px);
	}
}
@media (max-width: 650px){
	.mobile-menu>nav{
		top: 37px;
		height: calc(100vh - 37px);
	}
}
@media (max-width: 560px){
	.mobile-menu>nav{
		top: 34px;
		height: calc(100vh - 34px);
	}
}
@media (max-width: 460px){
	.mobile-menu>nav{
		top: 27px;
		height: calc(100vh - 27px);
	}
}
@media (max-width: 400px){
	.mobile-menu>nav{
		top: 20px;
		height: calc(100vh - 20px);
	}
}
@media (max-width: 715px){
	#video>.blocks>.row>.block>.col>h3{
		font-size: 14px;
	}
	#video>.blocks>.row>.block>.col>p{
		font-size: 10px
	}
}
@media (max-width: 655px){
	#video>.blocks>.row>.block>.col>h3{
		font-size: 11px;
	}
	#video>.blocks>.row>.block>.col>p{
		font-size: 7px
	}
	.menu>nav>ul>li>a{
		font-size: 13px;
	}
}