*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
}
body{
	font-family: 'Roboto', sans-serif;
}
.container{
	width: 85%;
	margin: 0 auto;
}
#header{
	position: fixed;
	background: #ffffff;
	box-shadow: 0 0 5px 1px rgba(0,0,0,0.5);
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
}
#header>.container{
	display: flex;
	justify-content: flex-start;
	padding: 10px 20px;
	align-items: center;
	position: relative;
}
#header:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 4px;
	background: #FE1E14;
}
.logo{
	width: 13%;
}
.logo>img{
	width: 100%;
}
.menu>nav>ul{
	display: flex;
}
.menu>nav>ul>li{
	margin-left: 30px;
}
.menu>nav>ul>li>a{
	font-size: 20px;
	color: #000000;
	position: relative;
}
.menu>nav>ul>li>a:after{
	content: '';
	width: 0%;
	height: 3px;
	position: absolute;
	left: 0;
	bottom: -4px;
	background: #000000;
	transition: 0.5s;
}
.menu>nav>ul>li>a:hover:after{
	width: 100%;
}
#video{
	width: 100%;
	position: relative;
}
#video>.yt-overlay{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
}
#video>iframe{
	width: 100%;
	z-index: 1;
}
#main>.container{
	padding: 0 20px;
	text-align: center;
}
#main>.container>h1{
	font-weight: 300;
	font-size: 36px;
	color: #1d2127;
	margin-top: 50px;
}
#main>.container>h4{
	font-weight: 300;
	font-size: 30px;
	color: #1d2127;
	margin-top: 20px;
}
#main>.container>p{
	margin-top: 30px;
	font-weight: 300;
	font-size: 20px;
	color: #1d2127;
}
#main>.container>p>span{
	color: #FE1E14;
}
#job>.container{
	padding: 0 20px;
}
#job>.container>h2{
	text-align: center;
	margin: 50px 0;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 30px;
	color: #1d2127;
}
.blocks>.row{
	display: flex;
	align-items: flex-start;
	justify-content: space-around;
}
.blocks>.row>.block{
	width: 40%;
	border: solid 2px #d7d7d7;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #ffffff;
	padding: 20px;
	margin: 20px 0;
}
.blocks>.row>.block>.img{
	width: 60%;
}
.blocks>.row>.block>.img>img{
	width: 100%;
}
.blocks>.row>.block>.col>h3{
	font-size: 30px;
	color: #1d2127;
	font-weight: 300;
}
.blocks>.row>.block>.col>p{
	margin: 10px 0;
	font-size: 17px;
	color: #1d2127;
	font-weight: 400;
}
.blocks>.row>.block>.col>.btn{
	margin-top: 20px;
}
.blocks>.row>.block>.col>.btn>a{
	color: #ffffff;
	background: #FE1E14;
	padding: 10px 20px;
	border-radius: 20px;
	box-shadow: 0 0 0 0 rgba(0,0,0,0.5);
	transition: 0.5s;
}
.blocks>.row>.block>.col>.btn>a:hover{
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}