@font-face {
    font-family: 'San Francisco Pro Display';
    src: url('../fonts/SFProDisplay-Regular.eot');
    src: url('../fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFProDisplay-Regular.woff') format('woff'),
    url('../fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'San Francisco Pro Display';
    src: url('../fonts/SFProDisplay-Semibold.eot');
    src: url('../fonts/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFProDisplay-Semibold.woff') format('woff'),
    url('../fonts/SFProDisplay-Semibold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'San Francisco Pro Display';
    src: url('../fonts/SFProDisplay-Bold.eot');
    src: url('../fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/SFProDisplay-Bold.woff') format('woff'),
    url('../fonts/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul[class] {
    list-style: none;
}
a[class] {
    text-decoration: none;
}
body {
    font-family: San Francisco Pro Display, serif;
}
.title {
    color: #2B2E37;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
.subtitle {
    color: #797D8A;
    font-size: 24px;
    margin-bottom: 40px;
    font-weight: 400;
}
.container {
    width: 1216px;
    margin: 0 auto;
}
/* Header */
.header {
    padding: 30px 0;
}
.header .container {
    display: flex;
    align-items: center;
}
.header__logo {
    margin-right: auto;
}
.header-col {
    display: flex;
}
.header-col__icon {
    width: 19px;
    height: 20px;
    margin-right: 20px;
}
.header-place {
    margin-left: 40px;
}
.header-phone {
    margin-left: auto;
    margin-right: 30px;
}
.primary-btn {
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 16px;
    padding: 15px 20px;
    background-color: #CAA058;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}
.header__main-text {
    color: #2B2E37;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
}
.header__sub-text {
    color: #797D8A;
    font-size: 16px;
    font-weight: 400;
}
.header__mobile-icon {
    width: 30px;
    height: 30px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    display: none;
}
.header__mobile-icon-line {
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background-color: #3A3D46;
    transition: 0.3s;
}
/* Menu */
.menu {
    background-color: #171C2D;
}
.menu .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-list {
    display: flex;
    align-items: center;
}
.menu-list__item {
    margin-right: 40px;
}
.menu-list__item:last-child {
    margin-right: 0;
}
.menu-list__item-link {
    color: #F3F1E9;
    font-weight: 500;
    font-size: 16px;
    padding: 30px 0;
    position: relative;
    display: block;
    transition: 0.3s;
}
.menu-list__item-link:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 4px;
    background-color: #CAA058;
    border-radius: 3px 3px 0 0;
    transition: 0.3s;
}
.menu-list__item-link:hover {
    color: #CAA058;
}
.menu-list__item-link:hover:after {
    width: 100%;
}
.menu__search {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
.menu__search-icon {
    width: 20px;
    height: 20px;
}
/* Banner */
.banner {
    padding: 80px 0 100px;
    background-image: url('../img/banner-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.banner__title {
    color: #F3F1E9;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 40px;
}
.banner-list {
    margin-bottom: 30px;
}
.banner-list__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #F3F1E9;
    font-size: 20px;
    font-weight: 300;
}
.banner-list__item:last-child {
    margin-bottom: 0;
}
.banner-list__item-mark {
    width: 24px;
    height: 14px;
    margin-right: 20px;
}
.banner__description {
    color: #F3F1E9;
    font-size: 14px;
    margin-bottom: 40px;
    max-width: 620px;
}
/* Attention */
.attention {
    margin: 40px 0 100px;
}
.attention .container {
    display: flex;
    padding: 30px;
    background-color: #FFF9EE;
    border-radius: 5px;
}
.attention__icon {
    width: 32px;
    height: 32px;
    margin-right: 20px;
}
.attention-info__title {
    color: #2B2E37;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.attention-info__text {
    color: #2B2E37;
    font-size: 16px;
}
/* About */
.about {
    margin: 100px 0;
}
.about-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 75px;
}
.about__text {
    font-size: 18px;
    color: #2B2E37;
}
.about__image {
    max-width: 100%;
}
/* Documents */
.documents {
    margin: 100px 0;
}
.documents .container {
    display: flex;
    justify-content: space-between;
}
.documents-left {
    max-width: 360px;
}
.documents__photo {
    max-width: 100%;
    margin-top: 65px;
}
.documents-list {
    margin-top: 15px;
}
.documents-list__item {
    margin-bottom: 30px;
    display: flex;
}
.documents-list__item:last-child {
    margin-bottom: 0;
}
.documents-list__item-icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
}
/* Questions */
.questions {
    margin: 100px 0;
}
.questions__item {
    cursor: pointer;
    border: solid #E7E7E7;
    border-width: 1px 0 1px 0;
}
.questions__item-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 0;
}
.questions__item-question {
    color: #3A3D46;
    font-size: 20px;
    font-weight: bold;
    transition: 0.3s;
}
.questions__item-toggle {
    width: 24px;
    height: 24px;
    position: relative;
}
.questions__item-toggle:after,
.questions__item-toggle:before {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #3A3D46;
    border-radius: 5px;
    transition: 0.3s;
}
.questions__item-toggle:after {
    transform: translate(-50%, -50%) rotate(90deg);
}
.questions__item-answer {
    display: none;
    font-size: 16px;
    color: #3A3D46;
    transition: 0.3s;
    margin-bottom: 30px;
    overflow: hidden;
}
.questions__item.active .questions__item-question {
    color: #CAA058;
}
.questions__item.active .questions__item-toggle:after {
    opacity: 0;
}
.questions__item.active .questions__item-toggle:before {
    background-color: #CAA058;
}
.questions__item.active .questions__item-answer {
    display: block;
}
/* Form */
.form {
    margin: 100px 0;
}
.form .container {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 25px;
}
.form__photo-wrapper {
    min-width: 300px;
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}
.form__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.form-form {
    width: 100%;
    background-color: #F7F7FA;
    border-radius: 5px;
    padding: 60px 80px;
}
.form__title {
    color: #2B2E37;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
}
.form__description {
    color: #797D8A;
    font-size: 24px;
    margin-bottom: 50px;
}
.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 50px);
    grid-gap: 10px 20px;
    margin-bottom: 40px;
}
.form__input {
    color: #2B2E37;
    font-size: 16px;
    padding: 10px 18px;
    border: 1px solid #E4E4E4;
    background-color: #fff;
    border-radius: 5px;
    outline: none;
}
.form__input::placeholder {
    color: #8E9098;
}
.form__textarea {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    resize: none;
    font-family: 'San Francisco Pro Display', serif;
}
.form-terms {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.form-terms__text {
    color: #797D8A;
    font-size: 16px;
}
.form-terms__link {
    color: #CAA058;
}
/* Map */
.map {
    position: relative;
}
.map-map {
    border: none;
}
.map .container {
    display: flex;
    align-items: center;
    padding: 30px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.07);
    border-radius: 5px;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}
/* Footer */
.footer {
    background-color: #171C2D;
    padding: 25px 0;
}
.footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer__copy {
    color: #F3F1E9;
    font-size: 16px;
}
.footer__social {
    display: flex;
    align-items: center;
    gap: 25px;
}
.footer__social-item-icon {
    transition: 0.3s;
    fill: #797D8A;
}
.footer__social-item-icon.facebook:hover {
    fill: #3B5998;
}
.footer__social-item-icon.youtube:hover {
    fill: #FF0000;
}
.footer__social-item-icon.ok:hover {
    fill: #F68634;
}

/* Adaptive */
@media screen and (max-width: 1256px) {
    .container {
        width: 100%;
        padding: 0 20px;
    }
}
@media screen and (max-width: 1120px) {
    .header__mobile-icon {
        display: flex;
    }
    .header .header-col {
        display: none;
    }
    .header .primary-btn {
        display: none;
    }
    .header.active {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        background-color: #fff;
    }
    .header.active .header-col {
        display: block;
        margin-left: 0;
        margin-top: 40px;
    }
    .header.active .primary-btn {
        display: block;
        margin-top: 40px;
    }
    .header.active .container {
        flex-direction: column;
        align-items: flex-start;
    }
    .header.active .header__mobile-icon {
        position: fixed;
        top: 42px;
        right: 20px;
    }
    .map .container {
        position: relative;
        left: 0;
        transform: none;
        flex-direction: column;
        align-items: flex-start;
    }
    .map .header-col {
        margin-left: 0;
        margin-top: 40px;
    }
    .map .primary-btn {
        margin-top: 40px;
    }
}
@media screen and (max-width: 930px) {
    .menu .container {
        flex-direction: column;
        align-items: flex-start;
        padding-bottom: 20px;
    }
    .menu-list {
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    .menu-list__item-link {
        padding: 20px 0;
    }
    .about-row {
        flex-direction: column-reverse;
    }
    .documents .container {
        flex-direction: column;
    }
    .form .container {
        flex-direction: column;
    }
    .footer .container {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}
@media screen and (max-width: 600px) {
    .banner {
        padding: 60px 0;
    }
    .banner__title {
        font-size: 40px;
    }
    .attention__icon {
        display: none;
    }
    .attention {
        margin-bottom: 50px;
    }
    .about, .documents, .questions, .form {
        margin: 50px 0;
    }
    .form-form {
        padding: 30px;
    }
    .form-grid {
        grid-template-columns: 1fr;
    }
    .form__textarea {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
    }
}
@media screen and (max-width: 400px) {
    .banner__title {
        font-size: 32px;
    }
    .form-terms {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }
}