@media (max-width: 1800px){
	.logo{
		left: -70px;
	}
}
@media (max-width: 1650px){
	.logo{
		left: -50px;
	}
}
@media (max-width: 1597px){
	.container{
		width: 1200px;
	}
	.logo{
		width: 162px;
		height: 39px;
	}
	.shop, .catalog, .cart, .like{
		height: 80px;
	}
	.search>form>input[type="text"], .search>form>select{
		padding: 15px 40px 15px 10px;
	}
	.search>form>input[type="submit"]{
		padding: 15px 25px;
	}
	#see>.container>.right{
		width: 300%;
	}
	#see>.container>.right>img{
		width: 100%;
	}
	.city>p, .contacts>.col>p, nav>ul>li>a{
		font-size: 10px;
	}
	.contacts>.col>a{
		font-size: 12px;
	}
	.contacts>.col:nth-child(2){
		margin-left: 20px;
	}
	.catalog>img{
		width: 26px;
		height: 16px;
	}
	.catalog>p{
		font-size: 12px;
	}
	.cart>.col>p, .like>.col>p{
		font-size: 12px;
	}
	.slide>.text>h2{
		font-size: 55px;
	}
	.slide>.text>p{
		font-size: 13px;
		margin-top: 20px;
		margin-bottom: 45px;
	}
	.slide>.text>a{
		font-size: 14px;
		padding: 20px 40px;
	}
	.arrows>img{
		padding: 20px 25px;
	}
	.slick-dots>li>button{
		width: 7px;
		height: 7px;
	}
	.auto>.row>a{
		font-size: 14px;
	}
	.models>p{
		font-size: 14px;
	}
	.brand>p{
		font-size: 20px;
	}
	.part>.right{
		width: 300%;
	}
	.part>.right>img{
		width: 100%;
	}
	.first>h2{
		font-size: 40px;
	}
	#footer>.container>.left a{
		font-size: 14px;
	}
}