*{
	text-decoration: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}
body{
	font-family: 'Montserrat', sans-serif;
}
h1, h2{
	font-family: 'BebasNeue-Bold' !important;
}
#vert-h{
	top: 100px;
}
.vertical{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	height: 100%;
}
.vertical>div{
	width: 3px;
	background: #d6d6d6;
}
.vert-t{
	height: 100px;
}
.vert-b{
	height: calc( 100% - 115px);
}
.vertical>p{
	writing-mode:tb-rl;
	transform: rotate(180deg);
	color: #d6d6d6;
	font-size: 13px;
	position: relative;
	left: -7px;
	font-weight: 400;
}
.row{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.col{
	display: flex;
	flex-direction: column;
}
.container{
	width: 1597px;
	margin: 0 auto;
	position: relative;
}
.container-2{
	margin: 0 auto;
}
#header{
	background: #fff;
}
.menu{
	padding: 40px 0;
	border-bottom: 1px solid #f1f1f1;
}
.city>p{
	font-weight: 400;
	color: #202020;
	font-size: 13px;
}
.city>p>span{
	font-weight: 700;
	margin: 0 15px;
}
nav>ul>li{
	margin: 0 15px;
}
nav>ul>li>a{
	font-weight: 400;
	font-size: 13px;
	color: #202020;
}
.contacts>.col{
	align-items: flex-end;
}
.contacts>.col:nth-child(2){
	margin-left: 80px;
}
.contacts>.col>a{
	color: #202020;
	font-size: 16px;
	font-weight: 700;
}
.contacts>.col>p{
	color: #868686;
	font-size: 13px;
	font-weight: 400;
}
.shop{
	height: 100px;
}
.catalog{
	height: 100px;
	background-color: #f20e49;
	cursor: pointer;
	position: relative;
}
.catalog>img{
	width: 39px;
	height: 22px;
}
.catalog>p{
	color: #ffffff;
	font-size: 13px;
	font-weight: 700;
	margin-left: 20px;
	margin-right: 35px;
}
.logo{
	width: 222px;
	height: 53px;
	position: relative;
	left: -100px;
}
.search>form{
	margin-right: 30px;
}
.search>form>input[type="text"], .search>form>select{
	padding: 20px 100px 20px 25px;
	border: 1px solid #f1f1f1;
	background-color: #ffffff;
	outline: none;
	font-size: 13px;
	font-weight: 400;
	color: #868686;
}
.search>form>input[type="submit"]{
	color: #ffffff;
	font-size: 13px;
	font-weight: 700;
	background-color: #f20e49;
	padding: 20px 50px;
	outline: none;
	border: none;
	cursor: pointer;
}
.cart, .like{
	cursor: pointer;
	padding: 0 30px;
	height: 100px;
	border: 1px solid #f1f1f1;
}
.cart>img, .like>img{
	width: 20px;
	height: 20px;
	margin-right: 15px;
}
.cart>.col>a, .like>.col>a{
	color: #202020;
	font-size: 13px;
	font-weight: 700;
}
.cart>.col>p, .like>.col>p{
	color: #868686;
	font-size: 13px;
	font-weight: 400;
}
#slider{
	width: 100%;
	position: relative;
}
.slider{
	width: 100%;
}
.slide{
	width: 100%;
	position: relative;
}
.slide>.text{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.slide>.text>h2{
	color: #ffffff;
	font-size: 72px;
	font-weight: 400;
}
.slide>.text>p{
	color: #a0a0a0;
	font-size: 16px;
	font-weight: 400;
	margin-top: 40px;
	margin-bottom: 90px;
}
.slide>.text>a{
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	background-color: #f20e49;
	padding: 30px 60px;
}
.slide>img{
	width: 100%;
}
.slick-dots{
	position: absolute;
	top: 100px;
}
.slick-dots>li>button{
	background: none;
	outline: none;
	border: 1px solid #727272;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	margin-bottom: 30px;
	transition: 0.5s;
}
.slick-active>button{
	background: #f20e49 !important;
	border: 1px solid #f20e49 !important;
}
.arrows{
	position: absolute;
	bottom: 50px;
	z-index: 10;
}
.arrows>img{
	cursor: pointer;
	background: #fff;
	padding: 30px 35px;
	margin-left: 20px;
}
#cat>.container{
	padding: 100px 0;
}
#cat>.container>h2{
	color: #202020;
	font-size: 54px;
	font-weight: 400;
}
.auto{
	margin-top: 70px;
}
.auto>h2{
	color: #202020;
	font-size: 32px;
	font-weight: 400;
}
.auto>.row>a{
	color: #202020;
	font-size: 16px;
	font-weight: 700;
	padding: 20px 45px;
	background-color: #e8e8e8;
}
.auto>.row>a.active{
	color: #ffffff;
	background-color: #f20e49;
}
.brands{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	margin-top: 60px;
}
.brand{
	display: flex;
}
.brand>p{
	color: #c6c6c6;
	font-size: 24px;
	font-weight: 400;
}
.models{
	margin-left: 25px;
}
.models>p{
	color: #202020;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 15px;
}
.parts{
	align-items: stretch;
	margin-top: 90px;
}
.part{
	width: 32%;
	background-color: #f5f5f5;
	padding-left: 45px;
	padding-top: 40px;
	cursor: pointer;
	transition: 0.5s;
	align-items: flex-end;
}
.part:hover{
	background-color: #f20e49;
}
.part:hover .left>p{
	color: #fff;
}
.part:hover .left>h2{
	color: #fff;
}
.part>.left{
	align-items: space-between;
	margin-right: 40px;
}
.part>.left>p{
	color: #868686;
	font-size: 13px;
	font-weight: 400;
	margin-bottom: 50px;
	transition: 0.5s;
}
.part>.left>p>span{
	color: #d3d3d3;
	transition: 0.5s;
}
.part>.left>h2{
	margin-bottom: 20px;
	color: #202020;
	font-size: 32px;
	font-weight: 400;
	transition: 0.5s;
}
#skills{
	background-color: #f5f5f5;
}
#skills>.container{
	padding: 100px 0;
}
.skills>.row{
	align-items: stretch;
}
.skill{
	width: 32%;
	border: 1px solid #eeeeee;
	background-color: #ffffff;
	padding: 40px;
	margin-bottom: 20px;
}
.skill>h3{
	margin-top: 30px;
	color: #202020;
	font-size: 16px;
	font-weight: 700;
}
.skill>p{
	margin-top: 20px;
	color: #535353;
	font-size: 13px;
	font-weight: 400;
}
.first{
	background: none;
}
.first>h2{
	color: #202020;
	font-size: 54px;
	font-weight: 400;
}
.first>p{
	color: #868686;
	font-size: 13px;
	font-weight: 400;
	margin-top: 20px;
}
#see{
	padding: 80px 0;
}
#see>.container{
	background: url('../img/footer-bg.png');
	background-size: cover;
	background-repeat: repeat-x;
	padding: 100px 0 100px 100px;
	z-index: 20;
}
#see>.container>.left>h2{
	color: #ffffff;
	font-size: 54px;
	font-weight: 400;
}
#see>.container>.left>p{
	color: #dadada;
	font-size: 16px;
	font-weight: 400;
	margin-top: 40px;
	margin-bottom: 110px;
}
#see>.container>.left>a{
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	padding: 30px 100px;
	background-color: #f20e49;
}
#footer{
	padding: 80px 0;
	border-top: 1px solid #eeeeee;
}
#footer>.container{
	align-items: flex-start;
	justify-content: space-between;
}
#footer>.container>.left{
	align-items: flex-start;
	justify-content: flex-start;
}
#footer>.container>.left>.col{
	margin-right: 100px;
}
#footer>.container h3{
	color: #cccccc;
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 50px;
}
#footer>.container>.left a{
	color: #202020;
	font-size: 16px;
	font-weight: 400;
	transition: 0.5s;
	margin-bottom: 25px;
}
#footer>.container>.left a:hover{
	color: #f20e49;
}
.links{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
}
.links>a{
	margin-right: 40px;
}
.contact-container{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
}
.contact-container>.cont{
	margin-left: 45px;
	margin-bottom: 40px;
}
.contact-container>.cont:nth-child(1){
	margin-left: 0;
}
.contact-container>.cont:nth-child(4){
	margin-left: 0;
}
.contact-container>.cont>a{
	color: #202020;
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 15px;
}
.contact-container>.cont>p{
	color: #202020;
	font-size: 13px;
	font-weight: 400;
}
#footer-2{
	background-color: #202020;
	padding: 30px 0;
	color: #fff;
}
#footer-3{
	background-color: #202020;
	padding: 30px 0;
	color: #fff;
}