*{
	text-decoration: none;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}
body{
	font-family: 'Montserrat', sans-serif;
}
h1, h2{
	font-family: 'BebasNeue-Bold' !important;
}
.row{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}
.col{
	display: flex;
	flex-direction: column;
}
.container{
	width: 1597px;
	margin: 0 auto;
}
#header{
	background: #fff;
}
.menu{
	padding: 40px 0;
	border-bottom: 1px solid #f1f1f1;
}
.city>p{
	font-weight: 400;
	color: #202020;
	font-size: 13px;
}
.city>p>span{
	font-weight: 700;
	margin: 0 15px;
}
nav>ul>li{
	margin: 0 15px;
}
nav>ul>li>a{
	font-weight: 400;
	font-size: 13px;
	color: #202020;
}
.contacts>.col{
	align-items: flex-end;
}
.contacts>.col:nth-child(2){
	margin-left: 80px;
}
.contacts>.col>a{
	color: #202020;
	font-size: 16px;
	font-weight: 700;
}
.contacts>.col>p{
	color: #868686;
	font-size: 13px;
	font-weight: 400;
}
.shop{
	height: 100px;
}
.catalog{
	height: 100px;
	background-color: #f20e49;
	cursor: pointer;
	position: relative;
}
.catalog>img{
	width: 39px;
	height: 22px;
}
.catalog>p{
	color: #ffffff;
	font-size: 13px;
	font-weight: 700;
	margin-left: 20px;
	margin-right: 35px;
}
.logo{
	align-content: flex-start;
	width: 100%;
	margin-right: 80px;
	cursor: pointer;
}
.logo>img{
	width: 100%;
}
.search>form{
	margin-right: 30px;
}
.search>form>input[type="text"], .search>form>select{
	padding: 20px 100px 20px 25px;
	border: 1px solid #f1f1f1;
	background-color: #ffffff;
	outline: none;
	font-size: 13px;
	font-weight: 400;
	color: #868686;
}
.search>form>input[type="submit"]{
	color: #ffffff;
	font-size: 13px;
	font-weight: 700;
	background-color: #f20e49;
	padding: 20px 50px;
	outline: none;
	border: none;
	cursor: pointer;
}
.cart, .like{
	cursor: pointer;
	padding: 0 30px;
	height: 100px;
	border: 1px solid #f1f1f1;
}
.cart>img, .like>img{
	width: 20px;
	height: 20px;
	margin-right: 15px;
}
.cart>.col>a, .like>.col>a{
	color: #202020;
	font-size: 13px;
	font-weight: 700;
}
.cart>.col>p, .like>.col>p{
	color: #868686;
	font-size: 13px;
	font-weight: 400;
}
#slider{
	width: 100%;
	position: relative;
}
.slider{
	width: 100%;
}
.slide{
	width: 100%;
	position: relative;
}
.slide>.text{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.slide>.text>h2{
	color: #ffffff;
	font-size: 72px;
	font-weight: 400;
}
.slide>.text>p{
	color: #a0a0a0;
	font-size: 16px;
	font-weight: 400;
	margin-top: 40px;
	margin-bottom: 90px;
}
.slide>.text>a{
	color: #ffffff;
	font-size: 16px;
	font-weight: 700;
	background-color: #f20e49;
	padding: 30px 60px;
}
.slide>img{
	width: 100%;
}
#cat{
	padding: 100px 0;
}
#cat>.container>h2{
	color: #202020;
	font-size: 54px;
	font-weight: 400;
}
.slick-dots{
	position: absolute;
	top: 100px;
}
.slick-dots>li>button{
	background: none;
	outline: none;
	border: 1px solid #727272;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	margin-bottom: 30px;
	transition: 0.5s;
}
.slick-active>button{
	background: #f20e49 !important;
	border: 1px solid #f20e49 !important;
}
.arrows{
	position: absolute;
	bottom: 50px;
	z-index: 10;
}
.arrows>img{
	cursor: pointer;
	background: #fff;
	padding: 30px 35px;
	margin-left: 20px;
}