@font-face {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: local('SF UI Display Ultralight'), url('sf-ui-display-ultralight-58646b19bf205.woff') format('woff');
}
@font-face {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('SF UI Display Light'), url('sf-ui-display-light-58646b33e0551.woff') format('woff');
}
@font-face {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: local('SF UI Display Medium'), url('sf-ui-display-medium-58646be638f96.woff') format('woff');
}
@font-face {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: local('SF UI Display Semibold'), url('sf-ui-display-semibold-58646eddcae92.woff') format('woff');
}
@font-face {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('SF UI Display Bold'), url('sf-ui-display-bold-58646a511e3d9.woff') format('woff');
}
@font-face {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: local('SF UI Display Heavy'), url('sf-ui-display-heavy-586470160b9e5.woff') format('woff');
}
@font-face {
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: local('SF UI Display Black'), url('sf-ui-display-black-58646a6b80d5a.woff') format('woff');
}
@font-face {
    font-family: 'ALS Schlange Sans';
    src: local('ALS Schlange Sans Bold'), local('ALS-Schlange-Sans-Bold'),
    url('ALSSchlangesans-Bold.woff2') format('woff2'),
    url('ALSSchlangesans-Bold.woff') format('woff'),
    url('ALSSchlangesans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}