.container { width: 70%; margin: 0 auto; }

* { padding: 0; margin: 0; }

*::-moz-selection { background-color: #ffe082; color: #222222; }

*::selection { background-color: #ffe082; color: #222222; }

html { font-size: 10px; }

body { background-color: #f5f5f5; font-family: "Roboto", sans-serif; }

header { background-color: #ffffff; width: 100%; -webkit-box-shadow: 0px 4px 30px -17px rgba(0, 0, 0, 0.75); box-shadow: 0px 4px 30px -17px rgba(0, 0, 0, 0.75); position: fixed; top: 0; left: 0; z-index: 999; }
header .menu { width: 60%; margin: 0 auto; padding: 25px 0; }
header .menu nav > ul { list-style: none; display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; }
header .menu nav > ul li a { text-decoration: none; font-size: 1.6rem; font-weight: 700; color: #222222; text-transform: uppercase; }
header .menu nav > ul li a:after { background-color: #ffe082; display: block; content: ""; height: 3px; width: 0%; -webkit-transition: all 0.5s; transition: all 0.5s; }
header .menu nav > ul li a:hover:after { width: 100%; }
header .menu nav > ul .ham { display: none; }

#home { padding: 100px 0; background-image: url("../img/blog.jpg"); background-size: cover; background-color: #ffc71c; background-blend-mode: multiply; }
#home .container { text-align: center; color: #ffffff; font-weight: 400; }
#home .container h3 { margin-top: 150px; font-size: 1.8rem; }
#home .container h1 { margin-top: 50px; font-size: 3.6rem; }
#home .container .more-btn { margin: 70px 0; }
#home .container .more-btn a { padding: 15px 40px; font-size: 1.6rem; font-weight: 700; border: 2px solid #ffffff; text-decoration: none; text-transform: uppercase; color: #ffffff; -webkit-transition: all 0.5s; transition: all 0.5s; }
#home .container .more-btn a:hover { background-color: #ffe082; border: 2px solid #ffe082; color: #707070; }

#blog { padding: 100px; }
#blog .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
#blog .container .blog-section { width: 70%; }
#blog .container .blog-section .post { background-color: #ffffff; border-radius: 15px; -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4); box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.4); padding-bottom: 30px; margin-top: 60px; }
#blog .container .blog-section .post .post-img { position: relative; cursor: pointer; }
#blog .container .blog-section .post .post-img img { max-width: 100%; border-radius: 15px 15px 0 0; }
#blog .container .blog-section .post .post-img::before { max-height: 99%; content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background-color: rgba(0, 0, 0, 0); z-index: 1; border-radius: 15px 15px 0 0; -webkit-transition: all 0.5s; transition: all 0.5s; }
#blog .container .blog-section .post .post-img:hover::before { background-color: rgba(0, 0, 0, 0.6); }
#blog .container .blog-section .post .post-desc { text-align: center; padding: 0 5rem; }
#blog .container .blog-section .post .post-desc .category { margin-top: 30px; }
#blog .container .blog-section .post .post-desc .category a { background-color: #ffe082; padding: 5px 15px; color: #222222; text-decoration: none; }
#blog .container .blog-section .post .post-desc h2 { margin-top: 30px; font-size: 3.6rem; color: #222222; }
#blog .container .blog-section .post .post-desc p { margin-top: 25px; font-size: 1.8rem; color: #707070; }
#blog .container .blog-section .post .post-desc hr { width: 70px; height: 1px; border: none; background-color: gray; margin: 25px auto; }
#blog .container .blog-section .post .post-desc a { font-size: 1.6rem; color: #9e9e9e; }
#blog .container .blog-section .load-posts { margin-top: 50px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; color: #222222; font-size: 2.3rem; text-transform: uppercase; font-weight: 700; -webkit-box-align: center; -ms-flex-align: center; align-items: center; cursor: pointer; }
#blog .container .blog-section .load-posts a { margin-right: 10px; }
#blog .container .blog-section .load-posts i { -webkit-transition: all 1.3s; transition: all 1.3s; }
#blog .container .blog-section .load-posts:hover > i { -webkit-transform: rotate(720deg); transform: rotate(720deg); }
#blog .container .desc-section { width: 25%; margin-top: 30px; }
#blog .container .desc-section div { margin-top: 30px; -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1); text-align: center; padding: 30px 0; background-color: #ffffff; border-radius: 15px; }
#blog .container .desc-section div div { border-radius: 0; -webkit-box-shadow: none; box-shadow: none; margin: 0; padding: 0; }
#blog .container .desc-section div h3 { font-size: 2rem; color: #222222; }
#blog .container .desc-section div hr { margin-top: 20px; height: 1px; border: none; background-color: gray; }
#blog .container .desc-section div img { margin-top: 30px; width: 50%; border-radius: 50%; }
#blog .container .desc-section div p { margin-top: 25px; color: #707070; font-size: 1.6rem; padding: 0 10px; }
#blog .container .desc-section div .social { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; margin: 20px 0 0 0; padding: 0; }
#blog .container .desc-section div .social i { border-radius: 50%; border: 1px solid gray; padding: 10px; color: #222222; font-size: 1.3rem; cursor: pointer; -webkit-transition: all 0.5s; transition: all 0.5s; }
#blog .container .desc-section div .social i:hover { background-color: gray; color: #ffffff; }
#blog .container .desc-section div form { margin: 30px auto 0 auto; }
#blog .container .desc-section div form input[type='text'] { border: 1px solid gainsboro; background-color: #f5f5f5; padding: 2rem; width: 70%; outline: none; }
#blog .container .desc-section div form input[type='submit'] { width: 90%; margin-top: 10px; background-color: #ffe082; border: none; text-transform: uppercase; padding: 15px; cursor: pointer; outline: none; -webkit-transition: all 0.5s; transition: all 0.5s; }
#blog .container .desc-section div form input[type='submit']:hover { background-color: #222222; color: #ffe082; }
#blog .container .desc-section div .category { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 20px; color: #9e9e9e; border-bottom: 1px dotted #9e9e9e; font-size: 1.8rem; -webkit-transition: all 0.5s; transition: all 0.5s; cursor: pointer; }
#blog .container .desc-section div .category:hover { color: #222222; }

footer { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-pack: distribute; justify-content: space-around; background-color: #212121; padding: 40px 0; }
footer a { font-size: 1.6rem; color: #f5f5f5; text-decoration: none; }
footer .social-footer { display: -webkit-box; display: -ms-flexbox; display: flex; }
footer .social-footer i { color: #f5f5f5; -webkit-transition: all 0.5s; transition: all 0.5s; font-size: 1.3rem; cursor: pointer; margin: 0 10px; }

@media (max-width: 1230px) { html { font-size: 8px; } }
@media (max-width: 1000px) { html { font-size: 8px; }
  .container { width: 100%; }
  header .menu { width: 90%; }
  header .menu nav ul li a { font-size: 3rem; }
  .desc-section { display: none; width: 0% !important; }
  .blog-section { width: 100% !important; } }
@media (max-width: 970px) { html { font-size: 5px; } }
@media (max-width: 700px) { html { font-size: 4px; } }
@media (max-width: 600px) { html { font-size: 3px; } }
