@media screen and (max-width: 1219px) {
    .page-reviews,
    .page-characteristics {
        padding: 50px 0;
    }
    .page-absolute-title {
        font-size: 80px;
        top: -250px;
        transform: translateX(-50%) !important;
    }
    .page-reviews-absolute-image {
        width: 700px;
        bottom: 0;
        right: -250px;
    }
    .page-reviews-title {
        font-size: 40px;
        margin-bottom: 40px;
    }
    .page-reviews-text {
        font-size: 30px;
    }

    .page-characteristics-item {
        min-height: 220px;
    }
    .page-characteristics-image {
        width: 220px;
        height: 220px;
    }
    .page-characteristics-info {
        left: 245px;
    }
    .page-characteristics-item + .page-characteristics-item {
        margin-top: 35px;
    }
    .page-characteristics-text {
        font-size: 30px;
    }
    .page-characteristics-author {
        margin-top: .5em;
    }
}

@media screen and (max-width: 997px) {
    .page-reviews>.holder-no-hidden>h2{
        font-size: 65px;
    }
    .page-reviews,
    .page-characteristics {
        padding: 40px 0;
    }
    .page-absolute-title {
        font-size: 55px;
        top: -180px;
        right: 40px;
    }
    .page-reviews-absolute-image {
        width: 580px;
        bottom: -60px;
        right: -200px;
    }
    .page-reviews-triangle-1 {
        width: 340px;
        left: -245px;
    }
    .page-reviews-triangle-2 {
        width: 730px;
    }
    .page-reviews-title {
        font-size: 30px;
        margin-bottom: 20px;
    }
    .page-reviews-text {
        font-size: 20px;
    }
    .page-reviews-item {
        padding-left: 110px;
        min-height: 100px;
    }
    .page-reviews-image {
        width: 100px;
        height: 100px;
    }
    .page-reviews-item + .page-reviews-item {
        margin-top: 25px;
    }
    .page-reviews-author {
        font-size: 12px;
    }
    .page-characteristics-item {
        min-height: 165px;
    }
    .page-characteristics-image {
        width: 165px;
        height: 165px;
    }
    .page-characteristics-info {
        left: 180px;
    }
    .page-characteristics-text {
        font-size: 22px;
    }
    .page-characteristics-author {
        font-size: 12px;
    }
}

@media screen and (max-width: 767px) {
    .page-reviews-absolute-image {
        width: 500px;
        bottom: 30px;
        right: -165px;
    }
}

@media screen and (max-width: 699px) {
    .page-reviews>.holder-no-hidden>h2{
        text-align: center;
    }
    .page-reviews-relative {
        padding-top: 400px;
    }
    .page-reviews-absolute-image{
        display: block;
        top: -15px;
        width: 260px;
        right: 50%;
        transform: translateX(50%);
    }
    .page-absolute-title {
        font-size: 40px;
        width: 100%;
        text-align: center;
        top: -150px;
    }
    .page-reviews-triangle-1,
    .page-reviews-triangle-2 {
        display: none;
    }
    .page-reviews-relative {
        max-width: 320px;
        margin: 0 auto;
    }
    .page-reviews-title {
        font-size: 25px;
    }
    .page-reviews-item {
        padding-left: 0;
        padding-bottom: 70px;
        min-height: inherit;
    }
    .page-reviews-image {
        top: auto;
        bottom: 0;
        width: 80px;
        height: 80px;
    }
    .page-reviews-author {
        position: absolute;
        left: 90px;
        bottom: 21px;
        font-size: 11px;
    }
    .page-reviews-text {
        font-size: 18px;
    }
    .page-characteristics-item {
        min-height: inherit;
    }
    .page-characteristics-image {
        width: 135px;
        height: 135px;
        margin: 0 auto;
        position: relative;
    }
    .page-characteristics-info {
        position: relative;
        left: auto;
        text-align: center;
        transform: none;
        margin-top: 10px;
    }
    .page-characteristics-text {
        font-size: 18px;
    }
    .page-characteristics-author {
        font-size: 11px;
    }
}