*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body{
	font-family: 'Exo 2', sans-serif;
	background: #F3FDFF;
}
.container{
	width: 1570px;
	margin: 0 auto;
}
/*Head*/
#head{
	height: 100vh;
}
#head .container{
	display: flex;
	justify-content: space-between;
	height: 100%;
}
#head .left, #head .right{
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: space-around;
}
#head .right{
	justify-content: center;
}
#head .header{
	width: 725px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#head .header .logo{
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}
#head .header .logo a{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#head .header .logo img{
	width: 115px;
	height: 79px;
}
#head .header .logo p{
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
	color: #000;
}
#head .header a{
	font-size: 20px;
	font-weight: normal;
	color: #000;
	position: relative;
}
#head .header a:nth-child(2):before{
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -65px;
	width: 43px;
	height: 2px;
	background: #2697AD;
}
#head h1{
	font-weight: normal;
	font-size: 36px;
	text-transform: uppercase;
	color: #000000;
	margin-top: 150px;
}
#head h3{
	font-weight: bold;
	font-size: 22px;
	color: #000000;
	text-transform: uppercase;
	margin-top: 70px;
	position: relative;
	margin-left: 65px;
}
#head h3:before{
	content: '';
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: -65px;
	width: 43px;
	height: 2px;
	background: #2697AD;
}
#head .row{
	display: flex;
	align-items: center;
}
#head .factory{
	margin-top: 90px;
}
#head .row .col{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-right: 75px;
}
#head .row .col .icon{
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background: #2697AD;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.55);
	position: relative;
}
#head .row .col .icon:before{
	content: '';
	position: absolute;
	top: -5px;
	left: -5px;
	width: 100%;
	height: 100%;
	background: rgba(72, 154, 170, 0.25);
	border-radius: 50%;
}
#head .row .col .icon img{
	position: relative;
	transform: translate3d(-50%, -50%, 0);
	left: 50%;
	top: 50%;
}
#head .row .col:nth-child(1) .icon img{
	width: 60%;
}
#head .row .col:nth-child(2) .icon img{
	width: 73%;
}
#head .row .col:nth-child(3) .icon img{
	width: 53%;
}
#head .row .col p{
	font-weight: normal;
	font-size: 22px;
	text-align: center;
	color: #000000;
	text-transform: uppercase;
	margin-top: 10px;
}
#head .social{
	margin-top: 100px;
	justify-content: space-between;
	align-items: center;
}
#head .social .link{
	width: 47px;
	height: 47px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	margin-right: 60px;
	border: 0.5px solid #000000;
	position: relative;
	transition: 0.5s;
}
#head .social .link:hover{
	background: #2697AD;
	border: 0.5px solid #2697AD;
}
#head .social .link:hover i{
	color: #fff;
}
#head .social .link a{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#head .social .link i{
	font-size: 24px;
	padding: 13px;
	transition: 0.5s;
}
#head .social .hr{
	height: 2px;
	background: #489AAA;
	width: 132px;
}
#head .social p{
	font-weight: 500;
	font-size: 22px;
	color: #000000;
	text-transform: uppercase;
}
#head .right .terminal{
	position: relative;
	margin-left: 15px;
}
#head .right .terminal>a{
	position: absolute;
	top: 50px;
	right: 100px;
	color: #000;
	font-size: 14px;
	font-weight: normal;
}
#head .right .terminal .btn{
	position: absolute;
	width: 100%;
	top: 350px;
	left: 0;
	display: flex;
	justify-content: center;
}
#head .right .terminal .btn a{
	width: 251px;
	font-size: 17px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	background: #2597AD;
	box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding: 18px 0;
}
#head .right .terminal .slider-arrows{
	position: absolute;
	top: 250px;
	left: -30px;
	width: calc(100% + 50px);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#head .right .terminal .slider-arrows svg{
	background: #2697AD;
	width: 47px;
	cursor: pointer;
	height: 47px;
	padding: 10px;
	border-radius: 50%;
}
#head .right .terminal .slider{
	position: absolute;
	top: 170px;
	left: 63px;
	width: 324px;
}
#head .right .terminal .slider .slide{
	display: flex;
	justify-content: center;
}
#head .right .terminal .slider .slide h2{
	text-align: center;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: 900;
	color: #000;
	width: 275px;
}
#head .right .terminal img{
	width: 100%;
}
/* List */
#list-desc-info{
	height: 100vh;
}
#list-desc-info>.row{
	display: flex;
	justify-content: space-between;
	width: 1570px;
	margin: 0 auto;
	align-items: center;
}
#list-desc-info>.row>.col{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px 0;
	justify-content: center;
	cursor: pointer;
	text-align: center;
	width: 33.3%;
}
#list-desc-info>.row>.col>.hr{
	width: 200px;
	height: 10px;
	background: #F3FDFF;
	margin-top: 30px;
}
#list-desc-info>.row>.col>h4{
	color: #F3FDFF;
	font-size: 35px;
	font-weight: 600;
	text-transform: uppercase;
	margin-top: 10px;
}
#list-desc-info>.row>.col.active{
	background: #2697AD;
	border-radius: 10px;
}
#list-desc-info>.row>.col.active>.hr{
	color: #fff;
}
#list-desc-info>.row>.col.active>h4{
	color: #fff;
}
#list-desc-info>.desc-container{
	display: flex;
	justify-content: space-between;
	width: 1570px;
	margin: 0 auto;
}
#list-desc-info>.desc-container .left .row{
	display: flex;
	align-items: center;
	margin: 50px 0;
}
#list-desc-info>.desc-container .left .row p{
	font-size: 40px;
	font-weight: bold;
	color: #000;
	text-transform: uppercase;
	margin-right: 90px;
}
#list-desc-info>.desc-container .right{
	display: flex;
	flex-direction: column;
}
#list-desc-info>.desc-container .right>p{
	color: #2697AD;
	text-transform: uppercase;
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	position: relative;
	left: 70px;
	margin: 50px 0;
}
#list-desc-info>.desc-container .right .row{
	display: flex;
	justify-content: space-between;
}
#list-desc-info>.desc-container .right .row .col{
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-left: 150px;
	text-transform: uppercase;
	color: #2697AD;
	font-size: 22px;
	font-weight: 500;
}
#list-desc-info>.desc-container .right .row .col p{
	margin-top: 20px;
}