* { padding: 0; margin: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

ul[class] { list-style: none; }

a { text-decoration: none; }

body { background: #0A0F1B; font-family: "SF UI Display", sans-serif; color: #fff; }

.container { width: 1440px; margin: 0 auto; }

.signup_btn { cursor: pointer; outline: none; color: #fff; font-size: 14px; line-height: 22px; padding: 10px 25px; background: linear-gradient(180deg, rgba(255, 255, 255, 0) 91.41%, rgba(255, 255, 255, 0.2) 100%), linear-gradient(180deg, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 11.72%), linear-gradient(180deg, rgba(255, 255, 255, 0.22) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(278.48deg, #559A79 0%, #24719D 48.44%, #33379C 100%), linear-gradient(97.3deg, #2F80ED 0%, #D0596A 100%), #FF7800; background-blend-mode: overlay, overlay, normal, normal, normal, normal; mix-blend-mode: normal; border: 1px solid rgba(255, 255, 255, 0.24); border-radius: 32px; -webkit-transition: 0.5s; transition: 0.5s; }
.signup_btn:hover { border-color: rgba(0, 0, 0, 0); }

header { position: fixed; top: 0; left: 0; width: 100%; z-index: 99; padding: 14px 0; -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px); }
header .container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 0 120px; }
header .container .logo { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
header .container .logo-icon { width: 67px; height: auto; }
header .container .logo-name { text-transform: uppercase; margin-left: 2px; background: -webkit-linear-gradient(left, #54B8FF, #54B8FF, #BCDDF5); -webkit-background-clip: text; -webkit-text-fill-color: transparent; font-size: 24px; }
header .container .logo-desc { margin-right: auto; margin-left: 18px; font-size: 12px; line-height: 16px; }
header .container .logo-desc span { color: #F8B932; text-transform: uppercase; }
header .container .menu { margin-right: 32px; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; }
header .container .menu ul { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; height: 100%; }
header .container .menu ul li { margin-right: 24px; display: -webkit-box; display: -ms-flexbox; display: flex; height: 100%; }
header .container .menu ul li:last-child { margin-right: 0; }
header .container .menu ul li a { color: #fff; position: relative; font-size: 14px; line-height: 22px; }
header .container .menu ul li a:before { content: ""; position: absolute; top: -25px; left: 0; width: 100%; height: 2px; background: #2F80ED; -webkit-transition: 0.5s; transition: 0.5s; -webkit-transform: translateY(-100%); transform: translateY(-100%); }
header .container .menu ul li a:hover:before { -webkit-transform: none; transform: none; }

.head { margin-top: 80px; text-align: center; }
.head .container { padding: 70px 240px; border-radius: 30px; background-image: url("../img/head_bg.png"); background-position: center; background-size: cover; -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5); box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5); }
.head .container .start { font-weight: 300; text-transform: uppercase; letter-spacing: 1.11em; padding-left: 1.11em; font-size: 17px; line-height: 52px; margin-bottom: 52px; }
.head .container .online { font-size: 60px; line-height: 120px; font-weight: 300; }
.head .container .web_design { position: relative; font-size: 106px; font-weight: 800; line-height: 120px; top: -20px; }
.head .container .web_design span { position: relative; }
.head .container .web_design span:before { content: "UX"; font-weight: 300; font-size: 20px; position: absolute; top: -15px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.head .container .web_design span:after { content: "UI"; font-weight: 300; font-size: 20px; position: absolute; bottom: -30px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); }
.head .container .description { font-size: 24px; line-height: 32px; margin-top: 18px; margin-bottom: 49px; }
.head .container .advantages { display: grid; grid-template-columns: repeat(5, 1fr); grid-column-gap: 8px; }
.head .container .advantages .advantage { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; padding: 24px 28px; background: #ffffff; border-radius: 16px; -webkit-transition: 0.5s; transition: 0.5s; }
.head .container .advantages .advantage-icon { min-width: 48px; height: auto; margin-left: -13px; -webkit-transition: 0.5s; transition: 0.5s; }
.head .container .advantages .advantage-name { color: #000; font-size: 14px; line-height: 22px; text-align: left; margin-left: 12px; -webkit-transition: 0.5s; transition: 0.5s; }
.head .container .advantages .advantage:hover { background: #0A0F1B; }
.head .container .advantages .advantage:hover .advantage-name { color: #ffffff; }
.head .container .avatar { margin: 52px auto 24px auto; width: 64px; height: 64px; }
.head .container .author { font-size: 20px; line-height: 32px; }

.for_who { margin-top: 70px; }
.for_who .container { width: 1000px; }
.for_who .container h2 { text-align: center; font-weight: 700; font-size: 56px; line-height: 67px; margin-bottom: 60px; }
.for_who .container h2 span { color: #F8B932; }
.for_who .container .for_who-blocks { display: grid; grid-template-columns: repeat(3, 1fr); margin-top: 100px; grid-column-gap: 120px; grid-row-gap: 40px; }
.for_who .container .for_who-blocks .for_who-block { position: relative; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; height: 100%; padding-top: 70px; }
.for_who .container .for_who-blocks .for_who-block span { position: absolute; top: 0; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); color: #F2F2F2; opacity: 0.1; font-size: 137px; line-height: 163px; z-index: -1; }
.for_who .container .for_who-blocks .for_who-block img { width: 100%; height: auto; }
.for_who .container .for_who-blocks .for_who-block p { text-align: center; font-size: 17px; line-height: 26px; margin-top: 15px; }

.prices { margin-top: 90px; }
.prices .container { background: #1D383B; padding: 100px 170px 100px 170px; border-radius: 32px; position: relative; }
.prices .container .top { font-size: 56px; line-height: 67px; margin-bottom: 32px; text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); }
.prices .container .top span { color: #F8B932; }
.prices .container .cost { color: #E0E0E0; font-size: 24px; line-height: 32px; margin-bottom: 90px; }
.prices .container .prices-list li { margin-bottom: 30px; font-size: 17px; line-height: 26px; color: #BDBDBD; }
.prices .container .prices-list li strong { color: #ffffff; font-size: 18px; }
.prices .container .bg { position: absolute; bottom: -4px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 100%; z-index: 0; }
.prices .container .bg:after { width: 620px; height: 620px; content: ""; position: absolute; top: 50%; margin-top: 40px; right: 170px; -webkit-transform: translateY(-50%); transform: translateY(-50%); background: #F2C94C; border-radius: 50%; z-index: -1; }
.prices .container .bg img { width: 100%; height: auto; }
.prices .container .bg p { position: absolute; top: 50%; right: 170px; margin-right: 40px; margin-top: 40px; -webkit-transform: translateY(-50%); transform: translateY(-50%); max-width: 172px; font-size: 24px; line-height: 32px; color: #000; }
.prices .container .bg p strong { font-weight: 500; }

.course { position: relative; }
.course .container .title { margin-top: 100px; text-align: center; font-size: 56px; line-height: 67px; font-weight: 700; }
.course .container .title span { color: #F8B932; font-weight: 600; }
.course .container .courses { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; margin-top: 30px; width: 100%; }
.course .container .courses li { min-width: 23%; position: relative; }
.course .container .courses li img { width: 100%; height: auto; }
.course .container .courses li:first-child { left: 0; z-index: 9; }
.course .container .courses li:nth-child(2) { z-index: 8; left: -100px; }
.course .container .courses li:nth-child(3) { z-index: 7; left: -200px; }
.course .container .courses li:nth-child(4) { z-index: 6; left: -300px; }
.course .container .courses li:nth-child(5) { z-index: 5; left: -400px; }
.course .container .courses li:nth-child(6) { z-index: 4; left: -500px; }
.course .bg { position: absolute; top: -50px; left: 0; width: 100%; z-index: -1; }
.course .bg img { width: 100%; height: auto; }
