@font-face {
	font-family: "Myrad Regular";
	src: url("../fonts/MyriadPro-Regular.otf") format("opentype");
}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
ul[class] {
	list-style: none;
}
a[class] {
	text-decoration: none;
}
body {
	font-family: "Myrad Regular";
	background-color: #000000;
	color: #fff;
	overflow-x: hidden;
}
body section {
	overflow: hidden;
}
.container {
	width: 1193px;
	margin: 0 auto;
}
.pda-header {
	padding: 15px 0;
	background-color: #0072bc;
	position: relative;
	z-index: 2;
}
.pda-header__logo {
	font-size: 24px;
	color: #fff;
}
.header {
	padding-top: 60px;
	background-color: #000;
	position: relative;
	z-index: 1;
}
.header__logo {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.header__title {
	margin-top: 60px;
	text-align: center;
	font-size: 120px;
	line-height: 120px;
	background-color: #F7323F;
	background-image: linear-gradient(45deg, #F7323F, #FF9900);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-text-fill-color: transparent;
	z-index: 1;
	position: relative;
}
.fullscreen__banner {
	width: 100%;
	height: auto;
}
.header__text {
	display: grid;
	grid-template-columns: auto 245px auto;
	grid-gap: 75px;
	margin-top: -20px;
	position: relative;
	z-index: 1;
}
.header__text-description {
	font-size: 18px;
	font-weight: 400;
}
.links {
	padding: 160px 0;
	background-color: #000;
	position: relative;
	z-index: 1;
}
.links-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2px;
	background-color: #2B2A2A;
	border: 2px solid #2B2A2A;
}
.links-grid__item {
	width: 100%;
	min-height: 180px;
	padding: 12px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	transition: 0.3s;
	position: relative;
	background-color: #000;
}
.links-grid__item-link {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
	cursor: pointer;
}
.links-grid__item:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to bottom, #FF1212 0%, #0067B8 77%);
	z-index: 0;
	opacity: 0;
	transition: 0.3s;
}
.links-grid__item-count {
	font-size: 30px;
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-text-fill-color: transparent;
	transition: 0.3s;
	z-index: 1;
}
.links-grid__item-title {
	width: 100%;
	font-size: 20px;
	text-transform: uppercase;
	z-index: 1;
}
.links-grid__item:nth-child(1) .links-grid__item-count {
	background-color: #FF1212;
	background-image: linear-gradient(to bottom, #FF1212, #0067B8);
}
.links-grid__item:nth-child(2) .links-grid__item-count {
	background-color: #FF3800;
	background-image: linear-gradient(to bottom, #FF3800, #FFDC29);
}
.links-grid__item:nth-child(3) .links-grid__item-count {
	background-color: #03D4B4;
	background-image: linear-gradient(to bottom, #03D4B4, #FF3800);
}
.links-grid__item:nth-child(4) .links-grid__item-count {
	background-color: #01B808;
	background-image: linear-gradient(to bottom, #01B808, #EF0000);
}
.links-grid__item:nth-child(5) .links-grid__item-count {
	background-color: #00BCF2;
	background-image: linear-gradient(to bottom, #00BCF2, #00FF38);
}
.links-grid__item:nth-child(6) .links-grid__item-count {
	background-color: #DFD558;
	background-image: linear-gradient(to bottom, #DFD558, #FF00B8);
}
.links-grid__item:nth-child(7) .links-grid__item-count {
	background-color: #01B808;
	background-image: linear-gradient(to bottom, #01B808, #FF9900);
}
.links-grid__item:nth-child(8) .links-grid__item-count {
	background-color: #1230E8;
	background-image: linear-gradient(to bottom, #1230E8, #FF4612);
}
.links-grid__item:nth-child(1):after {
	background: linear-gradient(to bottom, #FF1212 0%, #0067B8 77%);
}
.links-grid__item:nth-child(2):after {
	background: linear-gradient(to bottom, #FFDC29 0%, #FF3800 77%);
}
.links-grid__item:nth-child(3):after {
	background: linear-gradient(to bottom, #FF3800 0%, #03D4B4 77%);
}
.links-grid__item:nth-child(4):after {
	background: linear-gradient(to bottom, #01B808 0%, #EF0000 77%);
}
.links-grid__item:nth-child(5):after {
	background: linear-gradient(to bottom, #00BCF2 0%, #00FF38 77%);
}
.links-grid__item:nth-child(6):after {
	background: linear-gradient(to bottom, #DFD558 0%, #FF00B8 77%);
}
.links-grid__item:nth-child(7):after {
	background: linear-gradient(to bottom, #01B808 0%, #FF9900 77%);
}
.links-grid__item:nth-child(8):after {
	background: linear-gradient(to bottom, #1230E8 0%, #FF4612 77%);
}
.links-grid__item:hover:after {
	opacity: 1;
}
.links-grid__item:hover .links-grid__item-count {
	background-image: linear-gradient(#fff, #fff);
}
.info {
	padding-bottom: 140px;
	background-color: #000;
	position: relative;
	z-index: 1;
}
.info-grid {
	display: grid;
	grid-gap: 70px;
}
.first-info {
	grid-template-columns: 33% 52px auto;
}
.second-info {
	grid-template-columns: 500px auto 138px;
	grid-gap: 100px;
}
.third-info {
	grid-template-columns: 144px 33% auto;
	grid-gap: 50px;
}
.fourth-info {
	grid-template-columns: 500px 144px auto;
	grid-gap: 100px;
}
.fifth-info {
	grid-template-columns: 265px 144px auto;
	grid-gap: 110px;
}
.sixth-info {
	grid-template-columns: auto 144px 350px;
	grid-gap: 100px;
}
.seventh-info {
	grid-template-columns: 144px 335px auto;
	grid-gap: 80px;
}
.seventh.info {
	padding-bottom: 0;
}
.ninth-info {
	grid-template-columns: auto 144px 350px;
	grid-gap: 100px;
}
.ninth.info {
	padding-bottom: 0;
}

.ninth {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100vh;
	width: 100%;
	z-index: -1;
	padding-bottom: 0;
	z-index: 0;
	overflow-y: scroll;
	-ms-overflow-style: none;
	overflow: -moz-scrollbars-none;
}
.ninth::-webkit-scrollbar {
	width: 0;
}
.ninth .container {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.info-grid {
	margin-bottom: 80px;
}
.info__title {
	font-size: 50px;
}
.info__description {
	font-size: 18px;
}
.info__icon {
	width: 100%;
	height: auto;
}
.compare-slider {
	position: relative;
	width: 100%;
	line-height: 0;
	height: 565px;
}
.compare-slider__item {
	width: 100%;
}
.compare-slider__item-image {
	width: 100%;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;
	pointer-events: none;
}
.compare-slider__grap {
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 3px;
	height: 100%;
	background-color: #fff;
	z-index: 9;
}
.compare-slider__grap-circle {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #fff;
	cursor: pointer;
}
.compare-slider__after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 3;
}
.compare-slider__item-image {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
}
.compare-slider__info {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 6;
	padding: 20px 25px;
	display: flex;
	justify-content: space-between;
}
.compare-slider__info-text {
	transition: 0.3s;
}
.compare-slider__info-title {
	font-size: 36px;
	line-height: 46px;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;
}
.compare-slider__info-description {
	font-size: 20px;
	line-height: 26px;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* Internet Explorer/Edge */
	user-select: none;
}
.compare-slider__info-right .compare-slider__info-description {
	text-align: right;
}
.info-numbers {
	display: flex;
	align-items: center;
}
.info-numbers__grid {
	display: grid;
	grid-template-columns: repeat(2, 265px);
	grid-gap: 60px;
}
.info-numbers__grid-item-count {
	margin-bottom: 5px;
}
.info-numbers__grid-item-title {
	font-size: 20px;
}
.info__images {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-top: -215px;
}
.info__images-left {
	width: 100%;
	padding-right: 100px;
}
.info__images-left-image {
	width: 100%;
	height: auto;
}
.info__images-right {
	width: 450px;
	min-width: 450px;
}
.info__images-right-image {
	width: 100%;
	height: auto;
}
.second-info__images {
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
	margin-top: -160px;
}
.second-info__images-left {
	width: 100%;
	padding-right: 30px;
}
.second-info__images-left-image {
	width: 100%;
	height: auto;
}
.second-info__images-right {
	width: 565px;
	min-width: 565px;
	margin-right: -150px;
	padding-bottom: 30px;
}
.second-info__images-right-image {
	width: 100%;
	height: auto;
}
.energy {
	position: relative;
	overflow: hidden;
}
.energy .container {
	display: flex;
	align-items: center;
	justify-content: center;
}
.energy__image {
	width: 950px;
	height: auto;
}
.energy__battery {
	position: absolute;
	top: 50%;
	left: 50%;
	width: auto;
	transform: translate(-50%, -50%);
	z-index: -1;
	display: grid;
	grid-template-columns: repeat(24, 80px);
	grid-gap: 15px;
}
.energy__battery-item {
	width: 80px;
	height: 217px;
	background: linear-gradient(180deg, #00FF38 0%, #FF9900 100%);
	border-radius: 20px;
}
.windows {
	padding: 130px 0 750px;
	background-image: url('../img/windows.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}
.windows__link {
	text-decoration: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 9;
}
.windows__title {
	font-size: 100px;
	text-align: center;
	margin-bottom: 20px;
}
.windows__title span {
	background-color: #0072BC;
	background-image: linear-gradient(45deg, #0072BC, #F7323F);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-text-fill-color: transparent;
}
.windows__description {
	color: #243A5E;
	font-size: 28px;
	text-align: center;
}
.footer {
	position: relative;
	z-index: 1;
	background-color: #000;
	padding: 130px 0;
}
.footer__title {
	background-color: #F7323F;
	background-image: linear-gradient(to right, #F7323F, #9347ED);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-text-fill-color: transparent;
	font-size: 100px;
	text-align: center;
	margin-bottom: 20px;
}
.footer__description {
	font-size: 28px;
	text-align: center;
	max-width: 930px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.footer-first__item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 30px 30px 0;
}
.footer-first__image {
	width: calc(50% - 15px);
	min-width: calc(50% - 15px);
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
}
.footer-first__item:nth-child(1) .footer-first__image-pic:nth-child(1) {
	width: 50%;
	position: absolute;
	top: calc(50% - 30px);
	left: 0;
	transform: translateY(-50%);
}
.footer-first__item:nth-child(1) .footer-first__image-pic:nth-child(2) {
	width: 70%;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
.footer-first__item:nth-child(2) .footer-first__image-pic:nth-child(1) {
	width: 50%;
	position: absolute;
	top: calc(50% - 30px);
	left: 0;
	transform: translateY(-50%);
}
.footer-first__item:nth-child(2) .footer-first__image-pic:nth-child(2) {
	width: 70%;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}
.footer-first__item:nth-child(3) .footer-first__image-pic:nth-child(1) {
	width: 70%;
	position: absolute;
	top: calc(50% - 30px);
	left: 0;
	transform: translateY(-50%);
}
.footer-first__item:nth-child(3) .footer-first__image-pic:nth-child(2) {
	width: 60%;
	position: absolute;
	top: 50%;
	right: 30px;
	transform: translateY(-50%);
}
.footer-first__item:nth-child(4) .footer-first__image-pic {
	width: 100%;
}
.footer-first__info {
	width: calc(50% - 15px);
}
.footer-first__info-title {
	font-size: 28px;
}
.footer-first__info-title span {
	color: #545454;
}
.footer-first__info-description {
	margin-top: 10px;
	font-size: 20px;
}
.footer-first__item:nth-child(2n) {
	background-color: #fff;
	color: #000;
	flex-direction: row-reverse;
	padding: 30px 0 30px 30px;
}
.footer-first__item:nth-child(2) {
	padding: 70px 0 70px 30px;
}
.footer-first__item:nth-child(3) {
	padding: 140px 0;
}
.footer-first__item:nth-child(2n) span {
	color: #949494;
}
.footer-first__item:nth-child(3) .footer-first__image {
	position: relative;
	z-index: 2;
}
.footer-first__item:nth-child(3) .footer-first__info {
	margin-top: -80px;
}
.footer-first__item:nth-child(4) {
	margin-top: -80px;
}
.recommended {
	position: relative;
	z-index: 1;
	background-color: #000;
	padding-bottom: 130px;
}
.recommended .container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.recommended__title {
	font-size: 100px;
	text-align: center;
	margin-bottom: 45px;
	background-color: #9347ED;
	background-image: linear-gradient(to right, #9347ED, #01B808);
	background-size: 100%;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-text-fill-color: transparent;
}
.recommended-grid {
	display: grid;
	grid-template-columns: repeat(3, 310px);
	grid-gap: 60px;
}
.recommended-grid__item-image {
	width: 100%;
	height: auto;
	margin-bottom: 10px;
}
.recommended-grid__item-title {
	font-size: 24px;
	text-align: center;
	color: #fff;
}
.recommended-grid__item-title span {
	color: #545454;
}

.animation {
	transition: 1s;
}
.fade-in-up {
	opacity: 0;
	transform: translateY(100%);
}
.fade-in-up.animate {
	opacity: 1;
	transform: none;
}
.fade-in {
	opacity: 0;
}
.fade-in.animate {
	opacity: 1;
}
.fade-in-right {
	opacity: 0;
	transform: translateX(-100%);
}
.fade-in-right.animate {
	opacity: 1;
	transform: none;
}
.fade-in-left {
	opacity: 0;
	transform: translateX(100%);
}
.fade-in-left.animate {
	opacity: 1;
	transform: none;
}
.ninth-fade-in-left {
	opacity: 0;
	transition: 1s;
	transform: translateX(100%);
}
.ninth-fade-in-up {
	opacity: 0;
	transition: 1s;
	transform: translateY(100%);
}
.ninth-fade-in-left.active,
.ninth-fade-in-up.active {
	opacity: 1;
	transform: none;
}
.ninth-fade-in {
	opacity: 0;
	transition: 1s;
}
.ninth-fade-in.active {
	opacity: 1;
}

@media screen and (max-width: 1219px) {
	.container {
		width: 951px;
	}
	.header {
		padding-top: 40px;
	}
	.header__logo-asus {
		width: 121px;
	}
	.header__logo-windows {
		width: 162px;
	}
	.header__title {
		font-size: 90px;
	}
	.fullscreen__banner {
		position: relative;
		left: 50%;
		transform: translateX(-50%);
		width: 1442px;
	}
	.header__text-description {
		font-size: 16px;
	}
	.header__text {
		grid-gap: 80px;
		grid-template-columns: auto 172px auto;
	}
	.header__text-number-icon {
		width: 100%;
		height: auto;
	}
	.links {
		padding: 140px 0;
	}
	.links-grid__item {
		min-height: 150px;
	}
	.links-grid__item-count {
		font-size: 26px;
	}
	.links-grid__item-title {
		font-size: 16px;
	}
	.first-info {
		grid-template-columns: 30% 44px auto;
		grid-gap: 60px;
	}
	.info-grid {
		margin-bottom: 40px;
	}
	.info__title {
		font-size: 40px;
	}
	.info__description {
		font-size: 16px;
	}
	.compare-slider__info-title {
		font-size: 26px;
	}
	.compare-slider__info-description {
		font-size: 16px;
	}
	.compare-slider {
		height: 450px;
	}
	.second-info {
		grid-template-columns: 420px auto 100px;
		grid-gap: 80px;
	}
	.third-info {
		grid-template-columns: 82px 33% auto;
		grid-gap: 50px;
	}
	.fourth-info {
		grid-template-columns: 420px 117px auto;
		grid-gap: 70px;
	}
	.fifth-info {
		grid-template-columns: 210px 90px auto;
		grid-gap: 100px;
	}
	.info-numbers__grid {
		grid-template-columns: repeat(2, 215px);
		grid-gap: 40px;
	}
	.info-numbers__grid-item:nth-child(1) .info-numbers__grid-item-count {
		width: 133px;
		height: auto;
	}
	.info-numbers__grid-item:nth-child(2) .info-numbers__grid-item-count {
		width: 133px;
		height: auto;
	}
	.info-numbers__grid-item:nth-child(3) .info-numbers__grid-item-count {
		width: 216px;
		height: auto;
	}
	.info-numbers__grid-item-title {
		font-size: 18px;
	}
	.info-numbers__image {
		width: 373px;
	}
	.sixth-info {
		grid-template-columns: auto 110px 286px;
		grid-gap: 75px;
	}
	.info__images {
		margin-top: -150px;
	}
	.info__images-left {
		padding-right: 30px;
	}
	.info__images-right {
		width: 384px;
		min-width: 384px;
	}
	.seventh-info {
		grid-template-columns: 110px 310px auto;
		grid-gap: 50px;
	}
	.energy__image {
		width: 775px;
	}
	.ninth-info {
		grid-template-columns: auto 110px 270px;
		grid-gap: 75px;
	}
	.second-info__images-right {
		width: 509px;
		min-width: 509px;
		z-index: -1;
	}
	.second-info__images-left {
		padding-right: 0;
	}
	.windows {
		padding: 80px 0 515px;
	}
	.windows__title {
		font-size: 80px;
	}
	.windows__title svg {
		width: 80px;
		height: 80px;
	}
	.windows__description {
		font-size: 24px;
	}
	.footer {
		padding: 100px 0;
	}
	.footer__title {
		font-size: 80px;
		margin-bottom: 15px;
	}
	.footer__description {
		font-size: 24px;
	}
	.footer-first__info-title {
		font-size: 24px;
	}
	.footer-first__info-description {
		font-size: 16px;
	}
	.recommended__title {
		font-size: 80px;
		margin-bottom: 40px;
	}
	.recommended-grid {
		grid-template-columns: repeat(3, 250px);
		grid-gap: 50px;
	}
	.recommended-grid__item-title {
		font-size: 20px;
	}
}
@media screen and (max-width: 997px) {
	.container {
		width: 745px;
	}
	.header {
		padding-top: 40px;
	}
	.header__logo-asus {
		width: 97px;
	}
	.header__logo-windows {
		width: 130px;
	}
	.header__title {
		font-size: 70px;
		margin-top: 40px;
	}
	.fullscreen__banner {
		width: 1140px;
	}
	.header__text-description {
		font-size: 14px;
	}
	.header__text {
		grid-gap: 50px;
		grid-template-columns: auto 145px auto;
	}
	.header__text-number-icon {
		width: 100%;
		height: auto;
	}
	.links {
		padding: 110px 0;
	}
	.links-grid__item {
		min-height: 120px;
	}
	.links-grid__item-count {
		font-size: 22px;
	}
	.links-grid__item-title {
		font-size: 14px;
	}
	.first-info {
		grid-template-columns: 30% 35px auto;
		grid-gap: 60px;
	}
	.info {
		padding-bottom: 110px;
	}
	.info-grid {
		margin-bottom: 40px;
	}
	.info__title {
		font-size: 30px;
	}
	.info__description {
		font-size: 14px;
	}
	.compare-slider__info-title {
		font-size: 26px;
	}
	.compare-slider__info-description {
		font-size: 16px;
	}
	.compare-slider {
		height: 353px;
	}
	.second-info {
		grid-template-columns: 320px auto 80px;
		grid-gap: 60px;
	}
	.third-info {
		grid-template-columns: 82px 33% auto;
		grid-gap: 40px;
	}
	.fourth-info {
		grid-template-columns: 320px 90px auto;
		grid-gap: 55px;
	}
	.fifth-info {
		grid-template-columns: 165px 85px auto;
		grid-gap: 70px;
	}
	.info-numbers__grid {
		grid-template-columns: repeat(2, 160px);
		grid-gap: 40px;
	}
	.info-numbers__grid-item:nth-child(1) .info-numbers__grid-item-count {
		width: 100px;
		height: auto;
	}
	.info-numbers__grid-item:nth-child(2) .info-numbers__grid-item-count {
		width: 100px;
		height: auto;
	}
	.info-numbers__grid-item:nth-child(3) .info-numbers__grid-item-count {
		width: 150px;
		height: auto;
	}
	.info-numbers__grid-item-title {
		font-size: 14px;
	}
	.info-numbers__image {
		width: 325px;
	}
	.sixth-info {
		grid-template-columns: auto 90px 218px;
		grid-gap: 60px;
	}
	.info__images {
		margin-top: -125px;
	}
	.info__images-left {
		padding-right: 0px;
	}
	.info__images-right {
		width: 314px;
		min-width: 314px;
	}
	.seventh-info {
		grid-template-columns: 85px 210px auto;
		grid-gap: 50px;
	}
	.energy__image {
		width: 600px;
	}
	.ninth-info {
		grid-template-columns: auto 80px 218px;
		grid-gap: 60px;
	}
	.second-info__images-right {
		width: 400px;
		min-width: 400px;
		z-index: -1;
	}
	.second-info__images-left {
		padding-right: 0;
	}
	.windows {
		padding: 80px 0 400px;
	}
	.windows__title {
		font-size: 60px;
	}
	.windows__title svg {
		width: 60px;
		height: 60px;
	}
	.windows__description {
		font-size: 18px;
	}
	.footer {
		padding: 80px 0;
	}
	.footer__title {
		font-size: 60px;
		margin-bottom: 10px;
	}
	.footer__description {
		font-size: 18px;
	}
	.footer-first__info-title {
		font-size: 18px;
	}
	.footer-first__info-description {
		font-size: 14px;
	}
	.recommended__title {
		font-size: 60px;
		margin-bottom: 40px;
	}
	.recommended-grid {
		grid-template-columns: repeat(3, 190px);
		grid-gap: 40px;
	}
	.recommended-grid__item-title {
		font-size: 16px;
	}
	.footer-first__item:nth-child(2) {
		padding: 30px 0 30px 30px;
	}
	.footer-first__item:nth-child(3) {
		padding: 100px 0;
	}
}
@media screen and (max-width: 767px) {
	.container {
		width: 100%;
		padding: 0 45px;
	}
	.header {
		padding-top: 30px;
	}
	.header__logo-asus {
		width: 87px;
	}
	.header__logo-windows {
		width: 108px;
	}
	.header__title {
		font-size: 60px;
		margin-top: 30px;
	}
	.fullscreen__banner {
		width: 1010px;
	}
	.header__text-description {
		font-size: 14px;
	}
	.header__text {
		grid-gap: 50px;
		grid-template-columns: auto 145px auto;
	}
	.links {
		padding: 100px 0;
	}
	.links-grid__item {
		min-height: 108px;
	}
	.links-grid__item-count {
		font-size: 18px;
	}
	.links-grid__item-title {
		font-size: 12px;
	}
	.first-info {
		grid-template-columns: 30% 27px auto;
		grid-gap: 60px;
	}
	.info {
		padding-bottom: 100px;
	}
	.info-grid {
		margin-bottom: 40px;
	}
	.info__title {
		font-size: 28px;
	}
	.info__description {
		font-size: 14px;
	}
	.compare-slider__info-title {
		font-size: 20px;
	}
	.compare-slider__info-description {
		font-size: 12px;
	}
	.compare-slider {
		height: 299px;
	}
	.second-info {
		grid-template-columns: auto 200px 70px;
		grid-gap: 50px;
	}
	.third-info {
		grid-template-columns: 70px 200px auto;
		grid-gap: 40px;
	}
	.fourth-info {
		grid-template-columns: auto 80px 200px;
		grid-gap: 55px;
	}
	.fifth-info {
		grid-template-columns: 150px 80px auto;
		grid-gap: 60px;
	}
	.info-numbers__grid {
		grid-template-columns: repeat(2, 145px);
		grid-gap: 30px;
	}
	.info-numbers__grid-item:nth-child(1) .info-numbers__grid-item-count {
		width: 85px;
		height: auto;
	}
	.info-numbers__grid-item:nth-child(2) .info-numbers__grid-item-count {
		width: 85px;
		height: auto;
	}
	.info-numbers__grid-item:nth-child(3) .info-numbers__grid-item-count {
		width: 145px;
		height: auto;
	}
	.info-numbers__grid-item-title {
		font-size: 14px;
	}
	.info-numbers__image {
		width: 295px;
	}
	.sixth-info {
		grid-template-columns: auto 80px 190px;
		grid-gap: 50px;
	}
	.info__images {
		margin-top: -150px;
	}
	.info__images-right {
		width: 42%;
		min-width: 42%;
	}
	.seventh-info {
		grid-template-columns: 75px 190px auto;
		grid-gap: 45px;
	}
	.energy__image {
		width: 546px;
		max-width: calc(100% - 40px);
	}
	.ninth-info {
		grid-template-columns: auto 70px 190px;
		grid-gap: 50px;
	}
	.second-info__images-right {
		width: 365px;
		min-width: 365px;
	}
	.windows {
		padding: 60px 0 300px;
	}
	.windows__title {
		font-size: 50px;
	}
	.windows__title svg {
		width: 50px;
		height: 50px;
	}
	.windows__description {
		font-size: 16px;
	}
	.footer {
		padding: 80px 0;
	}
	.footer__title {
		font-size: 50px;
		margin-bottom: 10px;
	}
	.footer__description {
		font-size: 16px;
	}
	.footer-first__info-title {
		font-size: 18px;
	}
	.footer-first__info-description {
		font-size: 14px;
	}
	.recommended__title {
		font-size: 50px;
		margin-bottom: 30px;
	}
	.recommended-grid {
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 40px;
	}
	.recommended-grid__item-title {
		font-size: 16px;
	}	
	.footer-first__item:nth-child(4) {
		margin-top: 0;
	}
	.footer-first__item:nth-child(3) .footer-first__info {
		margin-top: 0;
	}
	.footer-first__item:nth-child(3) {
		padding: 30px 0;
	}
}
@media screen and (max-width: 700px) {
	.container {
		padding: 0 20px;
	}
	.header {
		padding-top: 30px;
	}
	.header__logo-asus {
		width: 96px;
	}
	.header__logo-windows {
		width: 108px;
	}
	.header__title {
		font-size: 60px;
		margin-top: 30px;
	}
	.fullscreen__banner {
		width: 975px;
	}
	.header__text-description {
		font-size: 14px;
	}
	.header__text {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		grid-gap: 10px;
	}
	.header__text-number {
		display: none;
	}
	.links {
		padding: 80px 0;
	}
	.links-grid {
		grid-template-columns: repeat(2, 1fr);
	}
	.links-grid__item {
		min-height: 76px;
	}
	.links-grid__item-count {
		font-size: 18px;
	}
	.links-grid__item-title {
		font-size: 12px;
	}
	.info {
		padding-bottom: 80px;
	}
	.info-grid {
		margin-bottom: 40px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		grid-gap: 15px;
	}
	.info__icon {
		height: 91px;
		width: auto;
		order: -1;
	}
	.info__title {
		font-size: 28px;
		order: 0;
	}
	.info__description {
		font-size: 14px;
		order: 1;
	}
	.compare-slider__info-title {
		font-size: 20px;
	}
	.compare-slider__info-description {
		font-size: 12px;
	}
	.info-numbers__grid {
		grid-template-columns: repeat(2, 145px);
		grid-gap: 30px;
	}
	.info-numbers {
		flex-direction: column;
		align-items: center;
	}
	.info-numbers__grid {
		grid-template-columns: repeat(3, auto);
		grid-gap: 70px;
	}
	.info-numbers__grid-item-count {
		width: auto !important;
		height: 38px !important;
	}
	.info-numbers__grid-item-title {
		font-size: 14px;
	}
	.info-numbers__image {
		width: 100%;
		max-width: 300px;
		margin-top: 20px;
	}
	.info__images {
		margin-top: 40px;
		flex-direction: column;
		align-items: center;
	}
	.info__images-left {
		width: 100%;
		max-width: 300px;
	}
	.info__images-right {
		width: 100%;
		max-width: 300px;
		order: -1;
		margin-bottom: 40px;
	}
	.energy__image {
		width: 546px;
		max-width: calc(100% - 40px);
	}
	.second-info__images {
		flex-direction: column;
		margin-top: 0;
		align-items: center;
	}
	.second-info__images-left {
		width: 100%;
		max-width: 400px;
	}
	.second-info__images-right {
		width: 100%;
		max-width: 200px;
		min-width: 0;
		order: -1;
		margin-right: 0;
		padding-bottom: 0;
	}
	.windows {
		padding: 60px 0 330px;
	}
	.windows__title {
		font-size: 50px;
		text-align: left;
	}
	.windows__title svg {
		width: 50px;
		height: 50px;
	}
	.windows__description {
		font-size: 16px;
		text-align: left;
	}
	.footer {
		padding: 80px 0;
	}
	.footer__title {
		font-size: 50px;
		text-align: left;
		margin-bottom: 10px;
	}
	.footer__description {
		font-size: 16px;
		text-align: left;
	}
	.footer-first__item {
		flex-direction: column;
		align-items: center;
	}
	.footer-first__item:nth-child(2n) {
		flex-direction: column;
	}
	.footer-first__info {
		width: 100%;
	}
	.footer-first__image {
		width: 70%;
	}
	.footer-first__info-title {
		font-size: 18px;
	}
	.footer-first__info-description {
		font-size: 14px;
	}
	.recommended__title {
		font-size: 50px;
		text-align: left;
		margin-bottom: 20px;
	}
	.footer-first__image {
		margin-bottom: 20px;
	}
	.footer-first__image-pic {
		position: initial !important;
		top: 0 !important;
		left: 0 !important;
		transform: none !important;
		width: 50% !important;
	}
	.footer-first__item:nth-child(3) .footer-first__image {
		align-items: flex-start;
	}
	.footer-first__item:nth-child(3) .footer-first__image-pic:nth-child(2) {
		transform: rotate(-62deg) !important;
		margin-bottom: -50%;
	}
	.compare-slider__info-title {
		font-size: 16px;
		line-height: 16px;
	}
	.compare-slider__info-description {
		font-size: 10px;
		line-height: 10px;
	}
	.compare-slider__info {
		padding: 10px;
	}
}
@media screen and (max-width: 460px) {
	.container {
		padding: 0 10px;
	}
	.header__title {
		font-size: 40px;
		line-height: 48px;
	}
	.fullscreen__banner {
		width: 444px;
	}
	.links-grid__item {
		min-height: 108px;
	}
	.info-numbers__grid {
		width: 100%;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 30px 20px;
	}
	.windows__title {
		font-size: 40px;
	}
	.windows {
		padding: 40px 0 210px 0;
	}
	.footer__title {
		font-size: 36px;
	}
	.footer-first__item {
		padding: 20px 10px !important;
		width: calc(100% + 20px);
		margin-left: -10px;
	}
	.footer-first__image {
		flex-direction: column;
		align-items: center;
	}
	.footer-first__image-pic {
		width: 100% !important;
	}
	.recommended__title {
		font-size: 36px;
	}
	.recommended-grid {
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 40px 20px;
	}
}


footer {
	z-index: 9;
	position: relative;
}
#footer {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: #e6e7e9;
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
}
#footer .f-holder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer .f-frame {
  display: table-cell;
}
.footer-nav {
  background: #ffffff;
  padding: 48px 0 12px;
  position: relative;
  font-size: 11px;
  line-height: 13px;
}
.footer-nav:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 100vw;
	height: 100%;
	transform: translateX(-50%);
	background: #fff;
	z-index: -1;
}
.footer-nav .f-note {
  color: #585858;
  width: 800px;
}
.btn-top {
  position: absolute;
  top: 36px;
  right: 24px;
  font-size: 18px;
  line-height: 60px;
  color: #585858;
  width: 60px;
  height: 60px;
  z-index: 5;
  text-align: center;
  background: #ffffff;
}
.btn-top:hover {
  text-decoration: none;
  color: #0072bc;
}
.footer-nav-box {
  overflow: hidden;
  padding: 0 0 36px;
  font-size: 13px;
  line-height: 16px;
  width: 100%;
}
.footer-nav-box .col {
  float: left;
  width: 310px;
  padding: 0 12px 0 0;
}
.footer-nav-box h3 {
  font-size: 21px;
  line-height: 24px;
  color: #0072bc;
  margin: 0;
}
.footer-nav-box p {
  margin: 0 0 36px;
}
.footer-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.footer-nav-list li {
  padding: 0 0 12px;
}
.footer-panel {
  background: #0072bc;
  padding: 24px 0;
  color: #ffffff;
  position: relative;
}
.footer-panel:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 100vw;
	height: 100%;
	background: #0072bc;
	z-index: -1;
}
.footer-panel a {
  color: #ffffff;
}
.logo-box {
  padding: 0 48px 0 0;
  font-size: 25px;
  line-height: 25px;
  display: inline-block;
  vertical-align: middle;
}
.logo-frame-center {
  vertical-align: middle;
}
.copyright {
  font-size: 12px;
  line-height: 15px;
  width: 300px;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}
.copyright a {
  color: #e9eff7;
}
.social {
  float: right;
  margin: 0;
  list-style: none;
  margin-top: -30px;
  font-size: 25px;
  line-height: 25px;
}
.social li {
  float: left;
}
.social li + li {
  padding: 0 0 0 24px;
}
.social a {
  opacity: .5;
}
.social a:hover {
  text-decoration: none;
  opacity: 1;
}
.footer-area {
  padding: 24px 0 48px;
}
.condition-list {
  font-size: 12px;
  line-height: 12px;
  margin: 0;
  padding: 0 0 36px;
  list-style: none;
  overflow: hidden;
}
.condition-list li {
  float: left;
  padding: 0 6px 0 0;
}
.condition-list li + li {
  padding-left: 6px;
  border-left: 1px solid #606061;
}
.condition-list a {
  color: #000000;
}
.count-visitor {
  font-size: 12px;
  line-height: 15px;
  margin: 0 0 36px;
  overflow: hidden;
}
.count-visitor .c-holder {
  float: left;
}
.count-visitor img {
  float: left;
}
@media only screen and (max-width: 1219px) {
  .btn-top {
    top: -84px;
    right: 24px;
  }
  .footer-nav-box .col {
    width: 302px;
  }
}
@media only screen and (max-width: 997px) {
  .btn-top {
    display: none;
  }
  .footer-nav-box .col {
    width: 250px;
    padding: 0 3px 0 0;
  }
  .footer-nav-box .col + .col + .col {
    width: 210px;
  }
  .footer-nav .f-note {
    width: 100%;
  }
  .logo-box {
    padding: 0 12px 0 0;
  }
  .social li + li {
    padding: 0 0 0 12px;
  }
}
@media only screen and (max-width: 767px) {
  .footer-nav-box .col {
    width: 210px;
  }
  .social {
    padding-right: 12px;
  }
  .social li + li {
    padding: 0 0 0 9px;
  }
  .copyright {
    width: 260px;
  }
}
@media screen and (max-width: 699px) {
  .footer-nav-box .col {
    float: none;
    padding: 0;
    width: auto;
  }
  .footer-nav-box .f-box {
    width: 48%;
    float: left;
    margin: 0 2% 0 0;
  }
  .footer-nav-box .f-box p {
    margin: 0;
  }
  .footer-nav-box .col + .col + .col {
    width: auto;
    padding: 0 24px 0 24px;
  }
  .footer-nav-list {
    padding: 0 24px 24px 72px;
  }
  .footer-nav .f-note {
    display: none;
  }
  .copyright {
    width: auto;
    overflow: visible;
    white-space: normal;
    display: block;
    margin-top: 12px;
  }
  .social {
    overflow: hidden;
    text-align: center;
    float: none;
    padding: 0;
    margin: 12px 0 0;
  }
  .social li {
    float: none;
    display: inline-block;
    padding: 0 12px;
  }
  .social li + li {
    padding: 0 6px;
  }
  .condition-list {
    text-align: center;
    padding: 0 0 24px;
  }
  .condition-list li {
    float: none;
    padding: 0 0 6px;
  }
  .condition-list li + li {
    border: none;
    padding-left: 0;
    padding-right: 0;
  }
  .count-visitor {
    text-align: center;
  }
  .count-visitor .c-holder {
    display: inline-block;
    overflow: hidden;
    float: none;
  }
  .footer-nav-box {
    width: 100%;
  }
  .logo-box {
    font-size: 45px;
    line-height: 45px;
    padding: 0 12px 0 0;
  }
  .logo-frame-center {
    overflow: hidden;
    margin: 0 auto;
    float: none;
    position: relative;
    text-align: center;
    white-space: nowrap;
  }
  #footer .f-frame,
  #footer .f-holder,
  #footer {
    display: block;
  }
  #footer {
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
  }
}
@media only screen and (max-width: 399px) {
  .logo-frame-center {
    margin: 0;
    width: auto;
  }
  .logo-box {
    font-size: 25px;
    line-height: 25px;
  }
}